#{extends 'magicBox.html' /}
#{set 'title'}Events#{/set}
<div name="@{Sprints.showsprints(project.id)}" class="reload-sprints">Sprints (${project.sprints.size()}) 
#{if connected.in(project).can('addSprint') }
<a onClick="overlayOpen('/Sprints/projectblank?projectId=${project.id}')"href="#" ><img src="@{'public/images/famfam/add.png'}" alt=[+]/></a>
#{/if}
</div>
<div  class="reload-meetings-${project.id}" name="/meetings/viewmeetings?id=${project.id}">
Meetings (${project.meetings.size()})
#{if connected.in(project).can('addMeeting') }
	<a href="javascript:overlayOpen('/admin/projects/${project.id}/meetings/new');" ><img src="@{'/public/images/famfam/add.png'}" title="add"></a>
#{/if}
</div>

