#{extends 'main.html' /}
#{set title:'Project Members' /}
#{set 'moreStyles'}
<style type="text/css">
thead
{
cursor:move;
}
</style>
#{/set}
#{set 'moreScripts'}


<script  type="text/javascript" src="@{'/public/javascripts/dragtablenorm.js/'}" ></script>
<script  type="text/javascript" src="@{'/public/javascripts/sorttable.js/'}" ></script>
#{/set}
<h1> ${pro.name}'s Members </h1>
#{if users.isEmpty()}
#{note}Currently There are no members in ${pro.name} !! 
<br/>
If you want to invite developers to ${pro.name}   <a href="/show/users">Click Here</a>.#{/note}

#{/if}
#{if !users.isEmpty()}
<table class="draggable sortable" id="users">
  <tr>
    <td>Member Name</td>
    <td>Role(s)</td>
  </tr>
  #{list items:users, as:'useer'}
  <tr>
    <td>    
	<a href="/show/user?id=${useer.id}"> ${useer.getDisplayName(pro).raw()} </a> 	
</td>
    <td> ${useer.getUserRoles(pro)} </td>
    
  </tr>
  #{/list}
</table>
#{/if}
#{set 'crumbs'}
<li><a href="/show/projects">Projects</a></li>
<li><a href="/show/project?id=${pro.id}">${pro.name}</a></li>
#{/set}
