#{extends 'overlay.html' /}
<!--Author: Moataz_Mekki-->
<style> label {width:550px !important}</style>
<div id="crudShow" class="${type.name}">
	
	<h2 id="crudShowTitle">Manage notifications for ${currentNotificationProfile.project}</h2>
	<h3>Notify users of changes when*</h3>
	<div id="mnf"class="objectForm">
	#{form action:@saveNotificationProfile(object.id), enctype:'multipart/form-data'}
		#{crud.form}
			#{crud.custom 'project'}#{/crud.custom}
			#{crud.custom 'deleted'}#{/crud.custom}
			#{crud.custom 'logs'}#{/crud.custom}
		#{/crud.form}
		<p class="crudButtons">
			<input type="submit" name="_save" value="&{'crud.save', type.modelName}" />
			
		</p>
	#{/form}
	</div>
	<div class="more_info">* Only users that opt to receiving these email(s) will receive notifications</div>
	
</div>