#{extends 'magicBox.html' /}
#{set 'title'}Settings#{/set}
<div name="/components/listComponentsInProject?projectId=${project.id}" class="reload-components">Components
#{if connected.in(projectId).can('addComponent')}<a href="javascript:overlayOpen('/admin/components/new?id=${project.id}')"><img title="Add new component" src="@{'/public/images/famfam/add.png'}"></a>#{/if}
</div>
<div name="/show/roles?id=${project.id}" class="reload-roles project-${project.id}-in-user-${connected.id} ">Roles
#{if connected.in(project).can('addRole')}
		<a href="javascript:overlayOpen('/admin/roles/new?id=${project.id}')" title="Add new role"><img src="@{'/public/images/famfam/add.png'}"></a>
#{/if}
</div>
#{if connected.projects.contains(project)}
<div name="/requests/viewTypesToReview?pId=${project.id}" class="reload-reviewers">Request to be reviewer
</div>
#{/if}
#{if connected.in(project).can('manageRequests')}
	<div name="/projects/requestrespond?id=${project.id}" class="reload-project-requests ">Requests</div>
#{/if}
#{if connected.projects.contains(project)}
	<div name="/users/manage_notification_profile?id=${project.id}" class="overlay ">Manage my notifications</div>
#{/if}
#{if connected.in(project).can('editProjectNotificationprofile')}
	<div name="/projects/managenotificationprofile?projectId=${project.id}" class="overlay">Manage notification profile for ${project.name}</div>
#{/if}
#{if connected.in(project).can('invite')}
	<div name="/Invites/InviteUsers?id=${project.id}" class="overlay">Invite Users</div>
#{/if}
#{if connected.in(project).can('editProject')}
	<div name="/admin/projects/${project.id}" class="overlay ">Project Settings</div>
#{/if}
#{if connected.in(project).can('manageLogs')}
	<div name="/logs/view?projectId=${project.id}" class="overlay">Manage Logs</div>
#{/if}
#{if connected.projects.contains(project)}
	<div name="/projects/projectDeletionRequest?id=${project.id}" class="overlay ">Request to be deleted from the project</div>
#{/if}
#{if (connected.in(project).can('deleteProject')) && (! project.hasRunningSprints())}
	<div name="/projects/projectDeletion?id=${project.id}" class="overlay ">Delete Project</div>
#{/if}