/*generic template css*/
.ui-widget-content {
	border: 0px !important;
}

.ui-icon-extlink {
	cursor: pointer
}

.draggableChild {
	width: 100%;
}

.draggableChild .ui-widget-content.actual {
	border-left: 5px solid #BF5F91 !important;
	width: auto;
}

.ui-widget-content {
	width: 100%;
}

table {
	width: 100%
}

.filter td {
	padding: 0px !important
}

.draggableChild .filter {
	display: none;
}

.draggable {
	width: 300px;
	position: absolute !important;
}

.draggableChild {
	position: relative;
	display: block;
}

.draggableChild .min {
	display: none;
}

.ui-widget-header {
	font-weight: normal;
	overflow: auto;
}

.ui-widget-header span {
	float: right;
	font-size: 10px;
}

.draggableChild .revertFrom,.clone .min,.clone span {
	display: none;
}

.draggable .ui-widget-header {
	background: transparent;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	font-style: italic;
	font-weight: normal;
	letter-spacing: -1px;
	color: #ddd;
	border: 0px;
	margin-bottom: 5px;
}

.draggableChild .ui-widget-header,.overlay .ui-widget-header,.bar {
	font-size: 12px;
	background: #ddd;
	background: -moz-linear-gradient(center bottom, #eee 10%, #ddd 90%);
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0.1, #ddd),
		color-stop(0.9, #eee) );
	color: #b7568d;
	font-family: verdana;
	font-style: normal;
	font-weight: normal;
	border: 0px;
	margin: 0px;
	padding: 5px;
}

.clone {
	font-size: 12px;
	background: #eee !important;
	background: -moz-linear-gradient(center bottom, #eee 10%, #ddd 90%)
		!important;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0.1, #ddd),
		color-stop(0.9, #eee) ) !important;
	color: #ccc !important;
	font-family: verdana;
	font-style: normal;
	font-weight: normal;
	border: 0px;
	margin: 0px;
	padding: 5px;
}

.clone img,.clone span {
	display: none;
}

.ui-widget-header span {
	float: right;
}

.draggable.ui-widget-content {
	background: transparent;
	border: 0px;
}

.filter input:focus {
	outline: 2px solid #ddd;
	box-shadow: 0px 0px 0px;
	-moz-box-shadow: 0px 0px 0px;
	-webkit-box-shadow: 0px 0px 0px;
	border: 0px
}
.filter table
{
margin:2px 1px;
}
.filter input {
	border: 0px;
	background-color:#fff;
	font-size:14px;
}

.filter span {
	float: right !important
}

.draggable {
	background: #b7568d !important;
	background: -moz-linear-gradient(center bottom, #87155f 10%, #b7568d 90%)
		!important;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0.1, #87155f),
		color-stop(0.9, #b7568d) ) !important;
	padding: 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

img {
	cursor: default;
}

.draggable a,.draggable span,.draggableChild a,.draggableChild span {
	cursor: pointer;
}

#normal {
	height: 100%;
}

#login form {
	-moz-border-radius: 11px 11px 11px 11px;
	-moz-box-shadow: 0 4px 18px #C8C8C8;
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #E5E5E5;
	font-weight: normal;
	margin: 20px auto 0;
	overflow: auto;
	padding: 16px;
	width: 300px;
}

#signin-field {
	float: right
}

#workspaces,.workspace,body,html,#normal {
	width: 100%;
	height: 100%;
}

.workspaceDraggables {
	margin: 5px auto 5px auto;
	width: 99%;
	height: 100%;
	border: 3px dotted #888;
	border-radius: 30px;
}

.workspace {
	
}

#remember-field {
	float: left
}

#remember-field label {
	display: inline
}

#login h1 {
	background: transparent;
	color: #777;
	font-size: 30px;
}

.item_imgs {
	float: right;
	display: inline-block;
}

/***************************/ /* START mahmoudsakr's CSS */
	/***************************/
.baseRole .tick_img,.baseRole .delete_img {
	display: none;
}

.project_name_in_header {
	color: #444;
	font-style: italic;
}

#top_header_projects_pane {
	background-color: #111;
	color: white;
	text-transform: uppercase;
	position: absolute;
	right: 0px;
	top: 42px;
	width: 200px;
	z-index: 100;
	padding: 8px;
	border-radius: 8px;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

#project_search_text {
	width: 195px;
}

#projects_search_results,#add-new-project-link {
	text-align: center;
	font-size: 18px;
}

#add-new-project-link {
	border-top: 1px solid #222;
	padding-top: 3px;
	margin-top: 3px;
}

#top_header_projects_pane a {
	text-decoration: none;
}

.draggableChild .ui-widget-header {
	cursor: pointer;
}

.project_name_in_header {
	display: none;
}

/***************************/ /* END mahmoudsakr's CSS */
	/***************************/
.green {
	color: green;
}

.yellow {
	color: yellow;
}

.red {
	color: red;
}

.draggableChild.yellowBg .ui-widget-header {
	background: #FFFDE6 !important;
	background: -moz-linear-gradient(center bottom, #FEFFF5 10%, #FFFDE6 90%)
		repeat scroll 0 0 transparent !important;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0.1, #FFFDE6),
		color-stop(0.9, #FEFFF5) ) !important;
	color: #000;
}

.redBg.draggableChild .ui-widget-header {
	background: #FFE6E6 !important;
	background: -moz-linear-gradient(center bottom, #FFE6E6 10%, #FFF5F5 90%)
		!important;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0.1, #FFF5F5),
		color-stop(0.9, #FFE6E6) ) !important;
	color: #000;
}

.greenBg.draggableChild  .ui-widget-header {
	background: #E6FFE6 !important;
	background: -moz-linear-gradient(center bottom, #F5FFF5 10%, #E6FFE6 90%)
		!important;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0.1, #F5FFF5),
		color-stop(0.9, #E6FFE6) ) !important;
	color: #000;
}