/*generic template css*/
.ui-widget-content {
	border: 0px !important;
}

.draggableChild {
	width: 100%;
}

.ui-widget-content {
	width: 100%;
}

.draggable {
	width: 300px;
}
.draggableChild {
	position: relative;
	display: block;
}

.ui-widget-header {
	font-weight: normal;
	overflow: auto;
}

.ui-widget-header span {
	float: right;
	font-size: 10px;
}

.draggableChild .revertFrom,.clone .min,.clone span {
	display: none
}

.draggable .ui-widget-header {
	background: transparent;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	font-style: italic;
	font-weight: normal;
	letter-spacing: -1px;
	color: #ddd;
	border: 0px;
	margin-bottom:5px;
}

.draggableChild .ui-widget-header {
	font-size: 12px;
	background: #ddd !important;
	background: -moz-linear-gradient(center bottom, #eee 20%, #ddd 80%)
		!important;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0.2, #ddd),
		color-stop(0.8, #eee) ) !important;
	color: #b7568d;
	font-family: verdana;
	font-style: normal;
	font-weight: normal;
	border: 0px;
	margin:0px;
	padding:5px;
}

.clone {
	font-size: 12px;
	background: #eee !important;
	background: -moz-linear-gradient(center bottom, #eee 20%, #ddd 80%)
		!important;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0.2, #ddd),
		color-stop(0.8, #eee) ) !important;
	color: #ccc !important;
	font-family: verdana;
	font-style: normal;
	font-weight: normal;
	border: 0px;
	margin:0px;
	padding:5px;
}
.clone img, .clone span
{
	display:none;
}
.ui-widget-header span
{
	float:right;
}

.draggable.ui-widget-content {
	background: transparent;
	border: 0px;
}

.draggable {
	background: #b7568d !important;
	background: -moz-linear-gradient(center bottom, #87155f 20%, #b7568d 80%)
		!important;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0.2, #87155f),
		color-stop(0.8, #b7568d) ) !important;
		padding:5px;
			border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.draggable img, .draggable span, .draggableChild img, .draggableChild span
{
cursor:pointer;
}