/*generic template css*/
 html,body{
      margin:0;
      padding:0;
      height:100%;
      border:none;font-family: Verdana, Geneva, Tahoma, sans-serif;
   }

table#body
{
	width: 100%;
	
}
.loading
{
	margin:0px auto;
}
#body thead, #body tfoot
{
	height: 50px;
	color:white!important;
	background-color: #000;
}
#body thead a, #body tfoot a
{
	color:white!important;
}
#body tbody
{
height:490px;
}
.ui-widget-content
{
	border: 0px !important;
}
.draggableChild
{
	width: 100%;
}
.ui-widget-content
{
	width: 100%;
}
.draggableChild .ui-widget-content
{
		display:none;

}
.draggable
{
	width: 300px;
}
.draggable div, .draggableChild div
{
	padding: 0px;
	margin: 0px;
	
}

.draggableChild
{
	position: relative;
	display: block;
}
table td, table tr, table div, table div div
{
	vertical-align: top;
}
.static
{
	position: static !important;
	float: left;
}
.ui-widget-header
{
	font-weight: normal;
	overflow:auto;

}
.ui-widget-header span
{
	float: right;
	font-size: 10px;
}

.draggableChild .revertFrom,.clone .min,.clone span
{
	display:none
}

