.closeAll {
	background: none repeat scroll 0 0 #333333;
	color: #EEEEEE;
	float: right;
	margin-top: -10px;
	padding: 10px;
	text-align: center;
	width: 120px;
}

button,a button,input[type=submit],input[type=ok],input[type=send],input[type=button],input[type=send]
	{
	cursor: pointer;
	display: inline-block;
	margin-right: 0.1em;
	overflow: visible;
	position: relative;
	text-align: center;
	text-decoration: none !important;
	padding: 0.4em 1em;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
	background: url("images/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x
		scroll 50% 50% #E6E6E6;
	border: 1px solid #D3D3D3;
	color: #555555;
	font-weight: normal;
	font-size: 1.1em;
	font-family: verdana;
}

.ui-widget-header img,.bar img {
	float: right;
}

.nav a {
	padding: 5px;
}

.topper {
	background: none repeat scroll 0 0 #111111;
	color: #EEEEEE;
	padding: 5px 1%;
	position: relative;
	width: 98%;
	z-index: 99;
}

.nav {
	border-bottom: 2px solid #222222 !important;
	font-size: 12px;
	text-align: center;
}

body,html {
	background: #333 url('img/workspace.png') repeat top left;
	font-family: Verdana;
	font-size: 10px;
	margin: 0px;
	padding: 0px;
}

a.white {
	background-color: #555;
	color: #fff !important;
	padding: 5px;
}

img {
	border: 0px;
}

.inline-block {
	display: inline-block !important;
}

.block {
	display: block;
}

.right {
	float: right;
}

.left {
	float: left;
}

.shadow {
	box-shadow: 3px 3px 5px #333;
	-moz-box-shadow: 3px 3px 5px #333;
	-webkit-box-shadow: 3px 3px 5px #333;
}

.ss {
	margin-top: 10px;
	font-size: 30px;
	line-height: 10px;
}

.sideBarHeading {
	text-align: center;
	padding: 5px 10px 15px 10px;
	font-family: century gothic;
	font-size: 18px;
	font-variant: small-caps;
	text-transform: lowercase;
	font-weight: 300;
	text-decoration: none !important;
}

.logoHolder {
	width: 100%;
	height: 120px;
}

#TheLogo {
	height: 120px;
	width: 697px;
	display: inline-block;
}

.topper a,.topper {
	color: #eee;
	text-decoration: none;
}

.sideBar {
	min-height: 400px;
	min-width: 200px;
	overflow: auto;
	padding: 10px;
	display: block;
}

.sideBarElements a {
	text-decoration: none;
	color: #333;
	display: block;
	width: 100%;
}

.sideBarElements {
	padding: 10px;
	color: #333;
	overflow: hidden;
}

#sideBarContent {
	margin-left: 20px;
	padding: 10px !important;
	height: auto !important;
}

#sideBarContent a {
	text-decoration: none;
	color: white;
	margin-left: 10px;
}

/**footer**/
.footer {
	width: 98%;
	min-width: 310px;
	height: 100%;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #FFF;
	padding: 10px 1% 10px 1%;
	display: block;
}

/**nav**/
.aDIV {
	background-color: #111111;
	border-bottom: 2px solid #222222;
	color: #EEEEEE !important;
	display: inline-block;
	font-family: Verdana;
	font-size: 14px;
	font-variant: small-caps;
	margin-bottom: -2px;
	margin-right: 10px;
	margin-top: 10px;
	min-width: 100px;
	overflow: hidden;
	padding: 5px;
	text-align: center;
	text-decoration: none !important;
	text-transform: lowercase;
}

.aDIV:hover,.selectedADiv {
	cursor: pointer;
	position: relative;
	z-index: 9;
	margin-top: 5px;
	padding-bottom: 10px;
}

.selectedADiv {
	font-weight: bold;
}

/**rounded corners**/
.allCornersRounded {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.bottomCornersRounded {
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
}

.leftCornersRounded {
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
}

.rightCornersRounded {
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
}

.topCornersRounded {
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
}

/**form**/
button {
	padding: 5px 10px 5px 10px !important
}

/**Messages Styles**/
#chatContainer {
	vertical-align: top;
	position: absolute;
	right: 0px;
	margin-right: 10px;
	z-index: 99;
}

#content {
	min-height: 300px
}

.chatboxinput {
	padding: 5px;
	background-color: #ffffff;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}

.chatboxtextarea {
	width: 206px;
	height: 44px;
	padding: 3px 0pt 3px 3px;
	border: 1px solid #eeeeee;
	margin: 1px;
	overflow: hidden;
}

.thread {
	color: #333333;
	height: 200px;
	width: 209px;
	overflow-y: auto;
	padding: 7px;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #eeeeee;
	background-color: #ffffff;
	line-height: 1.3em;
}

.you,.them,.notice {
	padding: 5px;
	margin: 5px;
	overflow-y: auto;
}

.you,.notice {
	border-bottom: 1px solid #eee;
}

.you {
	background-color: #eee;
}

.notice {
	background: #60EC08;
}

/**tables**/
table {
	border: 1px solid #111111;
	border-collapse: collapse;
	width: 100%;
}

tr {
	margin: 0px !important;
}

#sprintTable tr:nth-child(even) {
	background: #eee
}

#sprintTable tr:nth-child(odd) {
	background: #FFF
}

td {
	padding: 7px;
}

#sprintTable tr:hover {
	box-shadow: 0px 0px 10px #333;
	-moz-box-shadow: 0px 0px 10px #333;
	-webkit-box-shadow: 0px 0px 10px #333;
}

thead td {
	text-align: center;
	background-color: #333;
	color: #eee;
	font-size: 10px;
	font-weight: bold;
}

#sprintTable td form input,#sprintTable td form input {
	width: 20px !important;
	height: 20px !important;
	border: 0px !important;
	font: 12px;
	margin: 0px;
	padding: 0px;
	box-shadow: 0px 0px 10px #333;
	-moz-box-shadow: 0px 0px 10px #333;
	-webkit-box-shadow: 0px 0px 10px #333;
	background: #333;
	color: #eee;
	position: absolute;
	z-index: 99999999;
}

.crudField {
	padding: 10px;
	border-bottom: 1px solid #eee;
	position: relative;
}

/
** project links** /
#boards a {
	background: transparent !important;
	padding: 0px !important;
	border: 0px !important;
	margin: 0px !important;
	float: none !important;
	font-size: 10px !important;
	text-align: left !important;
	text-decoration: underline !important;
}

.notifHolder {
	padding: 10px;
	border-top: 1px solid #eee
}

.high {
	width: 60px;
	background-color: red;
	height: 10px;
	padding: 5px;
	text-align: center;
	color: white
}

.low {
	width: 60px;
	background-color: #8ef13c;
	height: 10px;
	padding: 5px;
	text-align: center;
	color: black
}

.medium {
	width: 60px;
	background-color: #FF9A00;
	height: 10px;
	padding: 5px;
	text-align: center;
	color: black
}

img {
	vertical-align: middle;
}

p.baseRole {
	font-weight: bold;
}

.hidden {
	display: none;
}

.dateHolder {
	width: 60px;
	margin: -10px 10px 10px 0px
}

/**notifications**/
.notifYear {
	width: 50px;
	height: 10px;
	padding: 5px;
	text-align: center;
}

.notifDM {
	width: 50px;
	background-color: #fff;
	padding: 5px;
	text-align: center;
}

.projDes {
	padding: 10px;
	width: 300px;
	overflow: auto
}

tr.deleted {
	background: #FFA8A8;
}

ul.project_links a {
	display: block;
}

.chatContainerHeader {
	background-color: #b7568d;
	padding: 7px;
	color: #ffffff;
}

body {
	background: transparent url('img/workspace.png') repeat top left scroll;
}

input[type=text],input[type=password],textarea {
	border: 1px solid #ddd;
	background-color: #eee;
}

input[type=text]:focus,input[type=password]:focus,textarea:focus {
	box-shadow: 0px 0px 10px #ccc;
	-moz-box-shadow: 0px 0px 10px #ccc;
	-webkit-box-shadow: 0px 0px 10px #ccc;
	background-color: #fff;
}

#login input[type=text],#login input[type=password] {
	font-size: 18px;
	width: 95%;
}

#login label {
	color: #999;
	display: block;
}

.disabled {
	background-color: #333;
}

h1,h2,h3,h4,h5,h6,h7 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
	font-style: italic;
	font-weight: normal;
	letter-spacing: -1px;
	color: #111;
	border: 0px;
	margin-bottom: 5px;
	margin-top: 0px;
}
/**generic**/
.logoHolder,.topBar {
	background: url('/public/stylesheets/images/bg2.png') repeat-x scroll
		left top;
}

#TheLogo {
	background: url('/public/images/smartsoft.png') no-repeat top left;
}

a:hover {
	color: #b7568d;
}
.draggableChild .ui-widget-content
{
display:none;
}
.actual .draggableChild .ui-widget-content
{
width:auto;
border-color:#bbb !important;
border-style:solid !important;
border-width:0 5px 5px !important;
}
.makeTransparent {
	background: url('/public/images/bg2.png') repeat-x fixed left top;
}

a {
	color: #9E3572;
	text-decoration: underline;
}

.ss {
	color: #b7568d;
}

.sideBarHeading {
	color: #b7568d;
}

.sideBarElements a:hover {
	color: rgb(158, 53, 114);
}

/**triangle notch**/
.notchBottom {
	border-top: 15px solid #b7568d;
	border-right: 15px solid transparent;
	border-left: 15px solid transparent;
	border-bottom: 0px;
	height: 0px;
	width: 0px;
	font-size: 0;
	line-height: 0;
	margin-left: 30px;
	_border-right-color: pink;
	_border-left-color: pink;
	margin-top: -2px;
	_filter: chroma(color =                       
		                                                          
		                            pink);
}

.notchBottom2 {
	border-top: 13px solid #b7568d;
	border-right: 13px solid transparent;
	border-left: 13px solid transparent;
	border-bottom: 0px;
	height: 0px;
	width: 0px;
	font-size: 0;
	position: relative;
	left: -13px;
	top: -15px;
	z-index: 10;
	line-height: 0;
	_border-right-color: pink;
	_border-left-color: pink;
	_filter: chroma(color =                       
		                                                          
		                            pink);
}

.notchTop {
	border-bottom: 15px solid #b7568d;
	border-right: 15px solid transparent;
	border-left: 15px solid transparent;
	border-top: 0px;
	font-size: 0;
	line-height: 0;
	height: 0px;
	width: 0px;
	margin-left: 30px;
	_border-right-color: pink;
	_border-left-color: pink;
	_filter: chroma(color =                       
		                                                          
		                            pink);
}

.notchRight {
	border-left: 15px solid #b7568d;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-right: 0;
	font-size: 0;
	line-height: 0;
	height: 0px;
	width: 0px;
	position: relative;
	float: right;
	display: inline-block;
	_border-right-color: pink;
	_border-left-color: pink;
	_filter: chroma(color =                       
		                                                          
		                            pink);
}

.notchLeft {
	border-right: 15px solid #b7568d;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 0;
	font-size: 0;
	height: 0px;
	width: 0px;
	float: left;
	line-height: 0;
	_border-right-color: pink;
	_border-left-color: pink;
	_filter: chroma(color =                       
		                                                          
		                            pink);
}


.chatboxtextarea:focus {
	border: 2px solid #b7568d !important;
	margin: 0;
}

.chatContainerHeader {
	border-right: 1px solid #b7568d;
	border-left: 1px solid #b7568d;
}

#boards a:hover {
	box-shadow: 0px 0px 0px #9E3572;
	-moz-box-shadow: 0px 0px 0px #9E3572;
	-webkit-box-shadow: 0px 0px 0px #9E3572;
}

ul.project_links a:hover {
	box-shadow: 0px 0px 15px #9E3572;
	-moz-box-shadow: 0px 0px 15px #9E3572;
	-webkit-box-shadow: 0px 0px 15px #9E3572;
}

.proj {
	background-color: #b7568d;
}

.proj2 {
	background-color: #9E3572;
}

.projDes {
	background-color: #b7568d;
}

.ui-widget-header {
	cursor: move;
}

a,a img,span.revertFrom,span.min {
	cursor: pointer;
}

#workspace-help {
	background: url(/public/images/famfam/error.png) no-repeat center left;
	position: absolute;
	padding-left: 22px;
	top: 50%;
	font-size: 10px;
	left: 25%;
	width: 50%;
	color: #444;
}

.dim {
	opacity: 0.2;
}

.activity-level {
	background: url(/public/images/activity-level.png);
	display: inline-block;
	width: 16px;
	height: 16px;
	background-position: -16px -16px;
}

.activity-level-0 {
	background-position: -16px -16px;
}

.activity-level-1,.activity-level-2,.activity-level-3 {
	background-position: 0 -16px;
}

.activity-level-4,.activity-level-5,.activity-level-6,.activity-level-7
	{
	background-position: -16px 0;
}

.activity-level-8,.activity-level-9,.activity-level-10 {
	background-position: 0 0;
}

.center {
	text-align: center;
	clear: both;
}

.center img {
	float: none;
}

.overlay,.overlay * {
	cursor: auto;
}

.clickable {
	cursor: pointer;
}

.draggableChild .ui-widget-content {
	
}

.draggableChild .min,.draggableChild .ui-icon-refresh {
	display: none;
}

.siderC {
	position: relative;
	margin-left: -230px;
	right: -230px;
	padding: 0px 15px;
	height: 100%;
	width: 200px;
	background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.7);
	display: inline-block;
	z-index: 1000;
}

.notch {
	display: inline-block;
	right: -15px;
	position: relative;
	vertical-align: top;
	z-index: 999;
}

.notch:hover {
	margin-right: 15px;
}

.notch2:hover {
	margin-right: 0px;
}

.sideHolder {
	position: fixed;
	right: 0px;
	top: 0px;
	height:100%;
	margin: auto 0px;
	color: white !important;
	margin: auto 0px;
}


.dropper {
	display: none;
}
.dragger {
	display: none;
}
img.left {
	float: left;
	margin-right: 2px;
}
.more_options {
	display: none;
}