/**generic**/
.logoHolder,.topBar {
	background: url('/public/stylesheets/images/bg2.png') repeat-x scroll left top;
}

#TheLogo {
	background: url('/public/images/smartsoft.png') no-repeat top left;
}

a:hover {
	color: #b7568d;
}

.makeTransparent {
	background: url('/public/images/bg2.png') repeat-x fixed left top;
}

a {
	color: #9E3572;
	text-decoration: underline;
}

.ss {
	color: #b7568d;
}

.sideBarHeading {
	color: #b7568d;
}

.sideBarElements a:hover {
	color: rgb(158, 53, 114);
}

/**triangle notch**/
.notchBottom {
	border-top: 15px solid #b7568d;
	border-right: 15px solid transparent;
	border-left: 15px solid transparent;
	border-bottom: 0px;
	height: 0px;
	width: 0px;
	font-size: 0;
	line-height: 0;
	margin-left: 30px;
	_border-right-color: pink;
	_border-left-color: pink;
	margin-top: -2px;
	_filter: chroma(color =                 
		                                                          
		                      pink);
}

.notchBottom2 {
	border-top: 13px solid #b7568d;
	border-right: 13px solid transparent;
	border-left: 13px solid transparent;
	border-bottom: 0px;
	height: 0px;
	width: 0px;
	font-size: 0;
	position: relative;
	left: -13px;
	top: -15px;
	z-index: 10;
	line-height: 0;
	_border-right-color: pink;
	_border-left-color: pink;
	_filter: chroma(color =                 
		                                                          
		                      pink);
}

.notchTop {
	border-bottom: 15px solid #b7568d;
	border-right: 15px solid transparent;
	border-left: 15px solid transparent;
	border-top: 0px;
	font-size: 0;
	line-height: 0;
	height: 0px;
	width: 0px;
	margin-left: 30px;
	_border-right-color: pink;
	_border-left-color: pink;
	_filter: chroma(color =                 
		                                                          
		                      pink);
}

.notchRight {
	border-left: 15px solid #b7568d;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-right: 0;
	font-size: 0;
	line-height: 0;
	height: 0px;
	width: 0px;
	position: relative;
	float: right;
	display: inline-block;
	_border-right-color: pink;
	_border-left-color: pink;
	_filter: chroma(color =                 
		                                                          
		                      pink);
}

.notchLeft {
	border-right: 15px solid #b7568d;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 0;
	font-size: 0;
	height: 0px;
	width: 0px;
	float: left;
	line-height: 0;
	_border-right-color: pink;
	_border-left-color: pink;
	_filter: chroma(color =                 
		                                                          
		                      pink);
}

.searchBtn:hover {
	background: #b7568d !important;
	background: -moz-linear-gradient(center bottom, #87155f 20%, #b7568d 80%)
		!important;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0.2, #87155f),
		color-stop(0.8, #b7568d) ) !important;
}

.chatboxtextarea:focus {
	border: 2px solid #b7568d !important;
	margin: 0;
}

.chatContainerHeader {
	border-right: 1px solid #b7568d;
	border-left: 1px solid #b7568d;
}

#boards a:hover {
	box-shadow: 0px 0px 0px #9E3572;
	-moz-box-shadow: 0px 0px 0px #9E3572;
	-webkit-box-shadow: 0px 0px 0px #9E3572;
}

ul.project_links a:hover {
	box-shadow: 0px 0px 15px #9E3572;
	-moz-box-shadow: 0px 0px 15px #9E3572;
	-webkit-box-shadow: 0px 0px 15px #9E3572;
}

.proj {
	background-color: #b7568d;
}

.proj2 {
	background-color: #9E3572;
}

.projDes {
	background-color: #b7568d;
}

.ui-widget-header {
	cursor: move;
}

a,a img,span.revertFrom,span.min {
	cursor: pointer;
}

#workspace-help {
	background: url(/public/images/famfam/error.png) no-repeat center left;
	position: absolute;
	padding-left: 22px;
	top: 50%;
	font-size: 10px;
	left: 25%;
	width: 50%;
	color: #444;
}

.dim {
	opacity: 0.2;
}

.activity-level {
	background: url(/public/images/activity-level.png);
	display:inline-block;
	width: 16px;
	height: 16px;
	background-position: -16px -16px;
}

.activity-level-0 {
	background-position: -16px -16px;
}

.activity-level-1,.activity-level-2,.activity-level-3 {
	background-position: 0 -16px;
}

.activity-level-4,.activity-level-5,.activity-level-6,.activity-level-7
	{
	background-position: -16px 0;
}

.activity-level-8,.activity-level-9,.activity-level-10 {
	background-position: 0 0;
}
.center {
	text-align:center;
	clear: both;
}
.center img {
	float: none;
}
.overlay, .overlay * {
	cursor: auto;
}
.clickable {
	cursor: pointer;
}
.draggableChild .ui-widget-content {
	
}
.draggableChild .min, .draggableChild .ui-icon-refresh {
	display: none;
}
.dragger {
/*	ms: i don't really like the move cursor.. the arrow is enough*/
/*	cursor: move;*/
}
.dropper {
	display: none;
}
.dragger {
	display: none;
}