html, body {
    
    font-family: 'Lucida grande', verdana, sans-serif;
}

#objectForm {
    width: 500px;
    margin: 50px auto;
    text-align: center;
}
.error, .success  {
    color: #fff;
    font-size: 12px;
    margin-bottom: 10px;
    padding: 5px;
}

 .error {
    background: #c00 !important;
}

 .success {
    background: #008800 !important;
}

