#{extends 'overlay.html' /}
<h1>Invite Users to ${project.name}:</h1>
#{note 'highlight'}
	Click on a user to add him to the invitations list
#{/note}<br/><br/>
<div class="left"><h4><img src="/public/images/famfam/arrow2.png"/>Type to filter: <input type="text" id="search_term" onkeyup="search_users(${project.id});" /> </h4><br/>
<div id="results">
<img id="loading" style="display:none;" src="@{'/public/images/loading16.gif'}" /><br/>
	#{list items:users, as:'user'}
		<div id="resuser_${user.id}"><a href="#" onclick="javascript: user_invited(${user.id}, ${user.name})">${user.name}</a></div>	
	#{/list}
	
</div>
</div>
&nbsp;<div class="left"><img src="/public/images/famfam/exchange.png"/></div> &nbsp;
<div class="left">
<div id="invited"><h4><img src="/public/images/famfam/arrow2.png"/>Marked to be invited:</h4><br/><div id="noinv">#{note 'highlight'}No users chosen yet!#{/note}</div></div>
<br/><br/><input id ="sendinv" type="submit" value="Send Invitation(s)" onclick="javascript: send_invitations(${project.id})" style="display:none">
</div>
<script type="text/javascript">

searching = null;
function search_users(pid) {
	$('#loading').show();
	if (searching) {
		searching.abort();
	}
	searching = $.post('/ajax/users?projectId='+pid+'&query='+$("#search_term").val(),
			function(data) {
				str = '';
				if (data.length) {					
					$.each(data, function(id,item) {							
						var flag = true;
						$("#invited div").each(function(){							
							var tmp = $(this).attr("id");
							var st = tmp.substring(8);
							if(st==item.id)
								flag = false;
							});
						if(flag)
							str += '<div id="resuser_'+item.id+'"><a href="#" onclick="javascript: user_invited('+item.id+',\''+item.name+'\', '+pid+');">'+item.name+'</a></div>';						
					});
				} else {
					str = '<br/><font size=2><img src="/public/images/famfam/error.png"/> No matching results found!</font>';
				}
				$('#results').html(str);
				$('#loading').hide();
			});
}
function user_invited(id, name, pid)
{		
	var str = '<div id="invuser_'+id+'"><a onclick ="javascript: undo_inv('+id+',\''+name+'\');"><img src="/public/images/famfam/remove.png"/></a><a href="#">'+name+'</a><div id="selectrole_'+id+'">';
	$.post("@{Invites.getProjectRoles()}", {id:pid},
			function(data){
				$.each(data, function(id,item){					
					str += '<br/><input type="radio" value="'+item.id+'">'+item.name+'</input>';
				});
			});	
	str+='</div></div>';
	alert(str);
	$('#invited').append(str);
	$('#resuser_'+id).hide();
	$('#noinv').hide();
	$('#sendinv').show();
}
function send_invitations(pid)
{
	var count =0;
	$("#invited div").each(function(){									 
		if(count >= 2)
		{	var uid = $(this).attr("id").substring(8);			
			$.post('@{Invites.sendInvite}',
				{pId:pid, userId:uid},
				function(){
					parent_message_bar('Invitation(s) sent successfully!');
					window.parent.$('#getOverlay').hide();
					});}
		count++;
		});
}
function undo_inv(id)
{
	$('#invuser_'+id).remove();
	$(selectrole_+id).remove();
	$('#resuser_'+id).show();	
	var items = document.getElementById("invited").getElementsByTagName("div");
	if(items.length-2 == 0)
	{
		$('#noinv').show();
		$('#sendinv').hide();
	}
}

</script>