#{extends 'sidebar.html' /}
<br/>
<font size=3><img src="/public/images/famfam/arrow_grey_right.png"/>Project Invitations:</font><br/><br/>
#{if invitations.isEmpty()}
<img src = "/public/images/famfam/exclamation.png"/> There are no new project invitations<br/>
#{/if}
#{else}
#{list items:invitations, as:'inv'}
	<div id = "pinv_${inv.id}">
		<img src="/public/images/famfam/user_go.png"/>You have been invited to be ${inv.role} in project <a href = "@{Application.externalOpen(inv.role.project.id, '#', false)}">${inv.role.project.name}</a>
		<br><a onclick="javascript: inv_respond('${inv.id}', '${inv.hash}', 1);"><img src="/public/images/famfam/tick.png" title="Confirm"/></a> &nbsp; 
		<a onclick="javascript: inv_respond('${inv.id}', '${inv.hash}', 0);"><img src="/public/images/famfam/cross.png" title="Decline"/></a>
	</div>
#{/list}
#{/else}
<br/><br/>
<font size=3><img src="/public/images/famfam/arrow_grey_right.png"/>Meeting Invitations:</font><br/><br/>
#{if meetings.isEmpty()}
<img src = "/public/images/famfam/exclamation.png"/> There are no new meeting invitations
#{/if}
#{else}
#{list items:meetings, as:'meet'}
	<div id = "meet_${meet.meeting.id}" style="display:block">
		<img src="/public/images/famfam/meeting.png"/> You have been invited to attend meeting: <a href = "@{Application.externalOpen(meet.meeting.project.id, '/Meetings/viewMeeting?id=meet.meeting.id', false)}">${meet.meeting.name}</a> in project <a href = "@{Application.externalOpen(meet.meeting.project.id, '#', false)}">${meet.meeting.project.name}</a>
		<br><a onclick="confirm_me('${meet.meeting.id}');"><img src="/public/images/famfam/tick.png" title="Accept"/></a> &nbsp; 
		<a onclick="decline_me('${meet.meeting.id}');"><img src="/public/images/famfam/cross.png" title="Decline"/></a>
	</div>
#{/list}
#{/else}
<script type = text/javascript>
	function inv_respond(id, hash, res)
	{
		if(res == 1)
			$.post('@{respondInvite()}',
					{what:true, hash:hash, id:id},
					function()
					{
						$('#pinv_'+id).hide();
					}					
					);
		else
			$.post('@{respondInvite()}',
					{what:false, hash:hash, id:id},
					function()
					{
						$('#pinv_'+id).hide();
					}					
					);		
	}	
</script>
