#{extends 'magicBox.html' /}

#{set 'title'}${project.name}'s Backlogs #{/set}
#{if (sprints.size()==0)}
	There are No Sprints.
#{/if}
#{else}
	#{list items:sprints, as:'sprint'}
		#{if (sprint.id==runningSprint) }
			<div class="greenBg" name="@{Sprints.backlogs(sprint.id)}">Sprint ${sprint.sprintNumber} Backlogs
			<a href="#" onclick="overlayOpen('@{SprintBacklog.index(0,sprint.id)}')" title="View backlog for all components?">
<img src="@{'public/images/famfam/table.png'}" alt="[chart]"/></a>
			</div>
		#{/if}
		#{else}
		#{if (sprint.ended) }
			<div class="redBg" name="@{Sprints.backlogs(sprint.id)}">Sprint ${sprint.sprintNumber} Backlogs
			
			<a href="#" onclick="overlayOpen('@{SprintBacklog.index(0,sprint.id)}')" title="View backlog for all components?">
<img src="@{'public/images/famfam/table.png'}" alt="[chart]"/></a>
			</div>
		#{/if}
		#{else}
		<div class="yellowBg" name="@{Sprints.backlogs(sprint.id)}">Sprint ${sprint.sprintNumber} Backlogs
			
			<a href="#" onclick="overlayOpen('@{SprintBacklog.index(0,sprint.id)}')" title="View backlog for all components?">
<img src="@{'public/images/famfam/table.png'}" alt="[chart]"/></a>
			</div>#{/else}
		#{/else}




#{/list}
#{/else}
