#{extends 'main.html' /}
#{set title:'Add Task' /}

<h1>Add Task</h1><br />

Description <br /><textarea id="desc"></textarea><br />
<input type="submit" value="Add Task" onsubmit="add_task;" /><br /><br />


Type: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="text" id="type" size="20" /><br /><br />


<!--
Task: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="text" id="task" size="50" /><br /><br />

Assigned To: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="text" id="assignee" size="20"><br /><br />


Reviewer: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="text" id="reviewer" size="20"><br /><br />


Reporter: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="text" id="reporter" size="20"><br /><br />

-->

Estimation Points:
<input type="text" id="estmpt" size="20"><br /><br />



Status &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<select id="status">
<option value="-1">-select status-</option>
<option value="0">Not Done</option>
<option value="1">In Progress</option>
<option value="2">Done</option>
<option value="3">Pending Review</option>
<option value="4">Reopened</option>
</select><br><br>



<script type="text/javascript">

function add_task()
{
	$.post('@addTask()', {dis: $('#desc').val,
							deleted: 'false',
							type: $('#type').val,
							estimationPoints: $('#estmpt').val,
							status:  $('#status').val,},
							function(data){
							alert(data);}		
			);
}

</script>
