#{extends 'overlay.html' /}
#{set 'moreStyles'}
<style type="text/css">
	.ac_results {
		background: #eee;
		border: 2px solid #bbb;
		border-radius:10px;
		border-top-right-radius: 0;
		border-top-left-radius: 0;
	}
	.ac_results ul {
		list-style: none;
	}
	.ac_results ul li {
		font-size:small;
	}
	
</style>
#{/set}

<script type="text/javascript" src="@{'/public/javascripts/jquery.autocomplete.js/'}"></script>
<div id="crudBlank" class="${type.name}">
	<h2 id="crudBlankTitle">&{'crud.blank.title', type.modelName}</h2>
	<div class="objectForm">
	#{form action:@create(), enctype:'multipart/form-data'}
	#{crud.form fields:['description']}	
	#{crud.custom 'description' }
	<label for="object_description">Description	</label><span class="crudHelp" style="color:red">*</span><br/>
	<textarea id="example"  name="object.description" ROWS="4" COLS="60" onclick="f();"></textarea>
	<div style="display:none" class="d">Ex: As a/an product role, description</div>
	
	<span class="error"></span>
	<br/><br/>
		<a href="#" onclick = "toggleOptions()" name="view-more-link">View more options</a>
	<br/><br/>
	#{/crud.custom}
	#{/crud.form}			
	
	<div class="crudField" name="view-more" style="display:none">
	<label for="object_reporter2">Reporter</label>
	<span id="object_reporter2"><font color="green">${connected.name}</font></span>
	</div>
	
	<div class="crudField" name="view-more" style="display:none">
	<label for="object_successScenario">Success Scenario</label><br/>
	<textarea id="object.successScenario"  ROWS="4" COLS="60" name="object.successScenario"></textarea>
	</div>

	<div class="crudField" name="view-more" style="display:none">
	<label for="object_failureScenario">Failure Scenario</label><br/>
	<textarea id="object.failureScenario" ROWS="4" COLS="60"  name="object.failureScenario"></textarea>
	</div>

	#{if project.taskStatuses.size()>0}
	<div class="crudField" name="view-more" style="display:none">
	<label for="object_taskStatus">Status</label>
	<select id="object_taskStatus" name="object.taskStatus@id">
	#{list items:project.taskStatuses ,as :'taskStatuses'}
	<option value="${taskStatuses.id}">${taskStatuses.name}</option>
	#{/list}
	</select>
	</div>
	#{/if}
	
	#{if project.components.size()>1}
	#{if p!=null || (task!=null && task.component==null)}
	<div class="crudField" name="view-more" style="display:none">
	<label for="object_component">Component</label>
	<select id="object_component" name="object.component@id" onchange="getUsers()">
	#{list items:project.components ,as :'component'}
	#{if component.number == 0}
	<option value="${component.id}">None</option>
	#{/if}
	#{else}
	<option value="${component.id}">${component.name}</option>
	#{/else}
	#{/list}
	</select>
	</div>
	#{/if}
	#{/if}
	#{else}
	<input type="hidden" id="object_component" name="object.component@id" value="${project.components[0].id}" >
	#{/else}
	
	#{if project.taskTypes.size()>0}
	<div class="crudField" name="view-more" style="display:none">
	<label for="object_taskType">Type</label>
	<select id="object_taskType" name="object.taskType@id" onchange="getType();">
	#{list items:project.taskTypes ,as :'taskType'}
	<option value="${taskType.id}">${taskType.name}</option>
	#{/list}
	</select>
	</div>
	#{/if}
	
	#{if p!=null && project.users.size()>0}
	<div class="crudField" name="view-more" style="display:none">
	<label for="object_assignee">Assignee</label>
	<select id="object_assignee" name="object.assignee@id" onchange = "getType();">
	<option value="">None</option>
	#{list items:project.users ,as :'user'}
	<option value="${user.id}">${user.name}</option>
	#{/list}
	</select>
	#{/if}
	#{elseif component!=null && component.componentUsers.size()>0}
	
	<div class="crudField" name="view-more" style="display:none">
	<label for="object_assignee">Assignee</label>
	<select id="object_assignee" name="object.assignee@id" onChange = "getType();">
	<option value="">None</option>
	#{list items:component.componentUsers ,as :'user'}
	<option value="${user.id}">${user.name}</option>
	#{/list}
	</select>
	#{/elseif}
	#{elseif task!=null && task.component.componentUsers.size()>0}
	<div class="crudField" name="view-more" style="display:none">
	<label for="object_assignee">Assignee</label>
	<select id="object_assignee" name="object.assignee@id" onChange = "getType();">
	<option value="">None</option>
	#{list items:task.component.componentUsers ,as :'user'}
	<option value="${user.id}">${user.name}</option>
	#{/list}	
	</select>
	#{/elseif}
	</div>
	
	#{if p!=null && project.users.size()>0}
	<div class="crudField" name="view-more" style="display:none">
	<label for="object_reviewer">Reviewer</label>
	<select id="object_reviewer" name="object.reviewer@id">
	<option value="">None</option>
	</select>
	#{/if}
	
	#{elseif component!=null && component.componentUsers.size()>0}
	<div class="crudField" name="view-more" style="display:none">
	<label for="object_reviewer">Reviewer</label>
	<select id="object_reviewer" name="object.reviewer@id">
	<option value="">None</option>
	#{list items:component.componentUsers ,as :'user'}
	<option value="${user.id}">${user.name}</option>
	#{/list}
	</select>
	#{/elseif}
	
	#{elseif task!=null && task.component.componentUsers.size()>0}
	<div class="crudField" name="view-more" style="display:none">
	<label for="object_reviewer">Reviewer</label>
	<select id="object_reviewer" name="object.reviewer@id">
	<option value="">None</option>
	#{list items:task.component.componentUsers ,as :'user'}
	<option value="${user.id}">${user.name}</option>
	#{/list}
	</select>
	#{/elseif}
	
	</div>
	
	<div class="crudField" name="view-more" style="display:none">
	<label for="object_estimationPoints">Estimation Points</label>
	<input id="object_estimationPoints" type="text" name="object.estimationPoints" size="5"/> 
	<span class="crudHelp" >Numeric.</span>
	</div>

	#{if project.priorities.size()>0}
	<div class="crudField" name="view-more" style="display:none">
	<label for="object_priority">Priority</label>
	<select id="object_priority" name="object.priority">
	<option value="">None</option>
	#{list items:project.priorities ,as :'priority'}
	<option value="${priority.priority}">${priority.priority}</option>
	#{/list}
	</select>
	</div>
	#{/if}
	
	#{if project.projectTasks.size()>0}
	<div class="crudField" name="view-more" style="display:none">	
	<label for="object_dependentTasks">Dependent Tasks</label><br/>
	<input type="hidden" name="object.dependentTasks@id" value="" />
	<select id="object_dependentStories" name="object.dependentTasks@id" multiple="yes">
	#{list items:project.projectTasks ,as :'task2'}
	#{if task2.deleted==false}
	<option value="${task2.description}">${task2.description}</option>
	#{/if}
	#{/list}
	</select>
	</div>
	#{/if}
	
	#{if sprints!=null}
	<div class="crudField" name="view-more" style="display:none">	
	<label for="object_taskSprint">Sprint</label>
	<select id="object_taskSprint" name="object.taskSprint@id">
	<option value="">None</option>
	#{list items:sprints ,as :'sprint'}
	#{ifnot sprint.ended}
	<option value="${sprint.id}">Sprint ${sprint.sprintNumber}</option>
	#{/ifnot}
	#{/list}
	</select>
	</div>
	</div>
	#{/if}
	
	#{if project!=null}
	<input type="hidden" id="object_project" name="object.project@id" value="${project.id}" >
	#{/if}
	#{if component!=null}
	<input type="hidden" id="object_component" name="object.component@id" value="${component.id}" >
	#{/if}
	#{elseif task!=null}
	<input type="hidden" id="object_project" name="object.project@id" value="${task.project.id}" >
	<input type="hidden" id="object_component" name="object.component@id" value="${task.component.id}" >
	<input type="hidden" id="object_parent" name="object.parent@id" value="${task.id}" >
	#{/elseif}
		
		<p class="crudButtons">
			<input type="submit" name="_save" value="&{'crud.save', type.modelName}" onclick="product_role();"/>
			<input type="submit" name="_saveAndContinue" value="&{'crud.saveAndContinue', type.modelName}" onclick="product_role();" />
		</p>
	</div>	
	#{/form}
	</div>


<script type="text/javascript">
	$(function()
	{
		getType();
	})
	var data='${productRoles}'.split("-");
	$("#example").autocomplete(data);
	
	function f()
	{
		$('.d').css('display','inline-block');
	}
	
	function product_role(id)
	{
		$.post('/Storys/addProductRole' ,			
			{projectID:id,						
			description:$("#example").val()});
	} 


function toggleOptions(){
	current_text = $("[name='view-more-link']").text();
	if(current_text == "View more options"){
		$("[name='view-more-link']").text("Hide extra options");
		$("[name='view-more']").slideDown();
	}
	else
	{
		$("[name='view-more-link']").text("View more options");
		$("[name='view-more']").slideUp();
	}	
}
function getUsers()
{
	var compId = $('#object_component').val();
	var typeId = $('#object_taskType').val();
	$.post('@{componentUsers}', {cid : compId}, function(data){
		str = '<option value="">(None)</option>';
		$.each(data, function(id, item){
			str += '<option value='+item.id+'>'+item.name+'</option>';
		});
		$('#object_assignee').html( str );
	}); 
	$.post('@{typeReviewer}', {typeId : typeId, componentId:compId}, function(data){
		str = '<option value="">(None)</option>';
		$.each(data, function(id, item){
			str += '<option value='+item.id+'>'+item.name+'</option>';
		});
		$('#object_reviewer').html( str );
	}); 
}
function getType()
{
	var compId = $('#object_component').val();
	var typeId = $('#object_taskType').val();
	var assigneeId = $('#object_assignee').val();
	$.post('@{typeReviewer}', {typeId : typeId, componentId:compId, assigneeId:assigneeId}, function(data){
		str = '<option value="">(None)</option>';
		$.each(data, function(id, item){
			str += '<option value='+item.id+'>'+item.name+'</option>';
		});
		$('#object_reviewer').html( str );
	}); 
}
</script>