#{extends 'main.html' /}
#{set title:'chage task status' /}


<div>Change task status:</div>

<form name="f1">
<select id="status">
<option value="0">To Do</option>
<option value="1">In Progress</option>
<option value="2">Done</option>
<option value="3">Pending Review</option>

</select><br>

</form>
<button onclick="change()">save</button>
<script type = "text/javascript">
	
function change()
{
	var t_status = $('#status').val();
	
//still waiting for this method to be done in controller Tasks
	
	
	$.post('@{updateTaskStatus2()}', 
			{Task_id:$(task.id), Status:t_status}, 
			function(data){

			alert(data);});		
}



</script>





