#{set title:'Choose User' /}
 <script src="@{'/public/javascripts/jquery-1.4.min.js'}" type="text/javascript" charset="utf-8"></script>
 
<div id="${taskId}">
<h2>Users</h2>
#{list items:users, as:'user'}
<a href="#" onclick="set_person(${user.id},${taskId},'${user.name}',${user1.id})"> ${user.name} </a>
<br/>
#{/list}
</div>

<script type="text/javascript">
function set_person(id,taskId,name, user1Id)
{
	$.post('@{editTaskReviewer2()}',
			{id:taskId, userId:user1Id, reviewerId:id},
			function()
			{
			//	window.opener.document.getElementById("rev_"+taskId).innerHTML = "Reviewer:"+name;
			//	window.opener.document.getElementById("revs_"+taskId).innerHTML = "Reviewer:"+name;
				window.opener.$('#task-'+taskId+'_T').load('/boards/loadboard1?sprintID=1 #task-'+taskId+'_T');
				window.close();
				});
			
	return true;
}
</script>