#{set title:'Choose TaskStatus' /}
 <script src="@{'/public/javascripts/jquery-1.4.min.js'}" type="text/javascript" charset="utf-8"></script>
 
<div id="${taskId}">
<h2>Task States</h2>
#{list items:states, as:'state'}
<a href="#" onclick="set_state(${state.id},${taskId},${user.id})"> ${state.name} </a><br/>
#{/list}
</div>

<script type="text/javascript">
function set_state(stateId,taskId,userId)
{
	
	
	$.post('@{editTaskStatusJSON()}',
			{id:taskId, userId:userId, statusId:stateId},
			function(data)
			{
				if(data==0)
				{
					alert('That is not a valid status,please choose another');
					}
				else
				{
				window.opener.location.reload();
				window.close();

				}
				});

	
	
	return true;
}
</script>