#{extends 'main.html' /}
#{set title:'Home' /}
 
#{if fronthist}
    <div class="HistoryBoards">
        <h2 class="action">
            <a href="loadhistoryboard.html">${fronthist.action_type}</a>
        </h2>
   			<input type="button" onClick="loadHistoryBoard(${fronthist} ;" value="Load a snapshot"></input>
   			 <div class="HistoryBoards">   
            <span class="change-maker">by ${fronthist.user.name}</span>
            
            <span class="change-date">${frontPost.date.format('MMM dd')}</span>
                &nbsp;|&nbsp; 
                                #{/if}
            </span>
        
    
    #{if olderhists.size() > 1}
	
        <div class="HistoryBoards">    
            <h3>Older Changes <span class="from">in the board</span></h3>
        
            #{list items:olderhists, as:'oldHistory'}
                <div class="History">
                    <h2 class="action">
                        <a href="loadhistoryboard.html">${oldhists.action_type}</a>
                    </h2>
                    <input type="button" onClick="loadHistoryBoard(${oldHistory} ;" value="Load a snapshot")/
                    <div class="hist-data">
                        <span class="change-maker">
                            by ${oldhists.user.name}
                        </span>
                        
                        <span class="change-date">
                            ${oldPost.date.format('dd MMM yy')}
                        </span>
                        
                    </div>
                </div>
            #{/list}
        </div>
        
    #{/if}
    
#{/if}
 
#{else}
    <div class="empty">
        There is currently no changes to view.
    </div>
#{/else}
<script type="text/javascript">

function loadHistoryBoard( HistoryBoard )
  {
	$.post( '@{loadHistoryBoard(HistoryBoard)}' , {HistoryBoard: HistoryBoard}  );	
  }


</script>