#{extends 'main.html' /}
#{set title:'Table' /}
<!-- the name of this file should be exactly the same as the nasme of the method in the class HistoryBoards/-->

<head>
	<script language="text/javascript">
			board_id = $('#boardId');
		</script>
<script language="javascript" type="text/javascript" src="@{'/public/javascripts/dragtable.js'}"></script>
</head>
<h1>Task Board</h1><br />


#{if colsHistory_display}
	#{if rows_display}
		<table id="mainBoard"  border="1">
			<tr>
				<td></td>
				#{list items:colsHistory, as:'col'}
				<td>${col.name}</td>
				#{/list}
			</tr>
			#{list items:dataHistory, as:'component'}
				<tr>
					<td></td>
					#{list items:component, as:'col'}
					<td>
						#{list items:col, as:'task'}
							${task.description}
						#{/list}
					</td>
					#{/list}
				</tr>
			#{/list}
		</table>
	#{/if}
#{/if}



