<html>
<body>
<p>Welcome ${user.name},
<br/>Congratulations, your account has been activated! 
<br/>Now you have a full access to SmarterScrum tool where you can easily create projects
<br/>& manage them. You can add roles, create components(teams), create sprints, add meetings,
<br/>invite users to your project or meetings & you also can check the project progress by
<br/>looking at the boards & backlogs & a lot of other stuff that you can explore through
<br/>SmarterScrum tool!
<br/>Or you can search for projects & request to join them if you are interested!
<br/>& if you face any difficulty in performing anything in the tool you can just
<br/> click on the help system where you can find screen casts of almost everything you need!
<br/> We hope you enjoy SmarterScrum Tool!
<br/>
<br/>Best Regards,
<br/>SmartSoft team :)  
</p>
</body>
</html>