#{extends 'Application/adminIndex.html' /}
#{set title: 'Manage Global Roles' /}
#{set 'moreControls'}
<hr />
<p><a href="/admin/roles/new">Create new role</a></p>
#{/set}
#{note 'error'}These are the default roles. All projects created include these roles by default. Changes to these roles does NOT affect roles of projects already created.#{/note}
#{list items:roles, as:'role'}
	<p><a href="/admin/roles/${role.id}">${role.name}</a></p>
#{/list}
#{else}
	<p>No default roles at the moment. <a href="/admin/roles/new">Create one?</a></p>
#{/else}
