#{extends 'overlay.html' /}

<h2>Change Password</h2>
<form action="/ChangePassword/changePass" method="POST">
	
	<input type="hidden" name="userProfileId" value="${userProfile.id}">
	
	<div>

		<p class="form-field">
				<label>Old Password:</label><input type="password" name="oldPassword">
		</p>
		<p class="form-field">
				<label>New Password:</label><input type="password" name="newPassword">
		</p>
		<p class="form-field">
			<label>Confirm Password: </label><input type="password" name="confirmPassword">
		</p>
		
		<input type="submit" value="Save" />
	</div>
	
	
	
	
</form>