#{set title:'Choose User' /}
 <script src="@{'/public/javascripts/jquery-1.4.min.js'}" type="text/javascript" charset="utf-8"></script>
 
<div id="${taskId}">
<h2>Users</h2>
#{list items:users, as:'user'}
<a href="#" onclick="set_person(${user.id},${taskId},'${user.name}',${aORr})"> ${user.name} </a><br/>
#{/list}
</div>

<script type="text/javascript">
function set_person(id,taskId,name,aORr)
{
	if(aORr==0)
	{
	$.post('@{Tasks.editTaskAssigneeJSON()}',
			{id:taskId, assigneeId:id},
			function(data)
			{
				if(data==0)
				{
					alert('The user you choose cannot be an assignee for this task');
					}
				else
				{			
				window.opener.location.reload();
				window.close();

				}
				});

	}
	else
	{
		$.post('@{Tasks.editTaskReviewerJSON()}',
				{id:taskId, reviewerId:id},
				function(data)
				{
					if(data==0)
					{
						alert('The user you choose cannot be an reviewer for this task');
						}
					else
					{	
					window.opener.location.reload();
					window.close();

					}
					});
		}
	return true;
}
</script>