#{extends 'magicBox.html' /}
#{set 'title'}Settings#{/set}
<div name="/components/listComponentsInProject?projectId=${project.id}">Components</div>
<div name="/show/listTaskTypesInProject?projectId=${project.id}">Task Types</div>
<div name="/show/roles?id=${project.id}">Roles</div>
#{if connected.in(project).can('manageRequests')}
	<div name="/projects/requestrespond?id=${project.id}">Requests</div>
#{/if}
<div name="/users/managenotificationprofile?id=${project.id}" class="overlay">Manage my notifications</div>
#{if connected.in(project).can('editProject')}
	<div name="/admin/projects/${project.id}" class="overlay">Project Settings</div>
#{/if}