#{extends 'magicBox.html' /}
#{set 'title'}Settings#{/set}


<div  id="Requests" class="ui-widget-content draggableChild allCornersRounded">
	<div  id="Requests_header"class="ui-widget-header">
		Requests
		<span class="revertFrom">
			<span class="ui-icon ui-icon-circle-close"></span>
		</span>
			<span class="min"onclick="$(this).children().toggle();">
			<span class="ui-icon ui-icon-circle-triangle-s" style="display: none;"></span>
			<span class="ui-icon ui-icon-circle-triangle-n"></span>
		</span>
		
			</div>
			
	
	<div id="Requests_content" class="ui-widget-content actual" >
Custom<br/>Custom<br/>Custom<br/>Custom<br/>Custom<br/>Custom<br/>Custom<br/>Custom<br/>Custom<br/>Custom<br/>Custom<br/>Custom<br/>Custom<br/>
	</div>
</div>
<div  id="Roles" class="ui-widget-content draggableChild allCornersRounded">
	<div  id="Roles_header"class="ui-widget-header">
		Roles
		<span class="revertFrom">
			<span class="ui-icon ui-icon-circle-close"></span>
		</span>
			<span class="min"onclick="$(this).children().toggle();">
			<span class="ui-icon ui-icon-circle-triangle-s" style="display: none;"></span>
			<span class="ui-icon ui-icon-circle-triangle-n"></span>
		</span>
		
			</div>
			
	
	<div id="Roles_content" class="ui-widget-content actual" >
	Custom<br/>Custom<br/>Custom<br/>Custom<br/>Custom<br/>Custom<br/>Custom<br/>Custom<br/>Custom<br/>Custom<br/>Custom<br/>
	</div>
</div>





