#{extends 'overlay.html' /}

#{set 'crumbs'}
<li><a href="/show/projects">Projects</a></li>
<li><a href="/show/project?id=${object.id}">${object.name}</a></li>
#{/set}




<div id="crudShow" class="${type.name}">
<script type="text/javascript">

$(function(){
	$("#accordion").accordion({autoHeight:false });
	
	});
	
function showLoader(id,select){
	var element=document.getElementById(id);
	var loader=document.getElementById(select);
	loader.style.position="absolute";
	loader.style.top=element.style.top;
	element.disabled=true;
	loader.style.visibility="visible";
}
function hideLoader(id,select){
	var element=document.getElementById(id);
	var loader=document.getElementById(select);
	element.disabled=false;
	loader.style.visibility="hidden";
}
function getInSprint(){
var i=document.getElementById('meetingTypesList').selectedIndex;
var param=document.getElementById('meetingTypesList').options[i].text;
var n=&{object.id};
$.post('@{isMeetingTypeAssociatedToSprint()}',{id:n,meetingType:param},function (flag){
if(flag){
document.getElementById('inSprintLbl').innerHTML="The ("+param+") Meeting Type is Associated To Sprints.";

}
else{
document.getElementById('inSprintLbl').innerHTML="The ("+param+") Meeting Type is Not Associated To Sprints.";
}
},'json')


}

function addMeeting(){
showLoader('addMB','loaderMB');
var n=&{object.id};
var m=document.getElementById('meetingText').value;
var x=document.getElementById('assocSprint').checked;

if(m==""){
alert("You Must Enter a Meeting Type.");
hideLoader('addMB','loaderMB');
return;
}
$.post('@{meetingTypesCheck()}',{id:n,type:m},function(exist){
	if (!exist) 
	{
		$.post('@{addMeetingType()}', {
			id: n,
			meetingType: m,
			inSprint: x
		}, function(flag){

if(flag){
var select=document.getElementById('meetingTypesList');
var optn = document.createElement("OPTION");
optn.text = m;
optn.value = m;
select.options.add(optn);

}
else{
alert("Meeting Type couldn't be added.");
}


hideLoader('addMB','loaderMB');
},'json')
}
	else
	alert("Meeting type name is already used.");
	
})
document.getElementById('meetingText').value="";
hideLoader('addMB', 'loaderMB');
}



function getSelectedItem(select){
var i;
for(i=select.options.length-1;i>=0;i--)
{
if(select.options[i].selected)
break;
}
return i;
}

function removeMeeting(){
showLoader('removeMB','loaderMB');
var n=&{object.id};
var select=document.getElementById('meetingTypesList');
var i=getSelectedItem(select);
if(i <0){
hideLoader('removeMB','loaderMB');
return;
}
var m=select.options[i].innerHTML;
if(m=="")
{
hideLoader('removeMB','loaderMB');
return;
}
var conf=confirm("Are you sure you want to delete this type?");

if(conf){
$.post('@{removeMeetingType()}',{id:n,meetingType:m},function (flag){

if(flag){
select.remove(i);
}
else{
alert("Meeting Type was not Removed.");
}
},'json')
}
hideLoader('removeMB','loaderMB');
}


function removeTask(){
showLoader('removeTSK','loaderTSK');

var select=document.getElementById('taskTypesList');
var i=getSelectedItem(select);

if(i<0){
hideLoader('removeTSK','loaderTSK');
return;
}
var m=select.options[i].value;
var conf=confirm("Are you sure you want to delete this type?");
if(conf){
$.post('@{removeTaskType()}',{taskID:m},function (flag){

if(flag){
select.remove(i);

}
else{
alert("Task Type was not Removed.");
}

},'json')
}
hideLoader('removeTSK','loaderTSK');
}

function textFieldValue(optionName, isPending, isClosed)
{
	if(optionName=="")
	{
		$("option[name='addNewTaskStatus']").attr("selected", true);
		$('#taskTSText').val("");
		$('#addTST').attr("disabled", false);
		$('#editTST').attr("disabled", true);
		$('#removeTST').attr("disabled", true);
		if(isPending)
		{
			$('input[name="taskStatusGroup"]')[0].checked = true;
		}
		else if(isClosed)
		{
			$('input[name="taskStatusGroup"]')[1].checked = true;
		}
		else
		{
			$('input[name="taskStatusGroup"]')[2].checked = true;
		}
	}
	else
	{
		$("option[name='addNewTaskStatus']").attr("selected", false);
		$('#taskTSText').val(optionName);
		$('#addTST').attr("disabled", true);
		$('#editTST').attr("disabled", false);
		$('#removeTST').attr("disabled", false);
		if(isPending)
		{
			$('input[name="taskStatusGroup"]')[0].checked = true;
		}
		else
		{
			if(isClosed)
			{
				$('input[name="taskStatusGroup"]')[1].checked = true;
			}
			else
			{
				$('input[name="taskStatusGroup"]')[2].checked = true;
			}
		}
		
	}
	
}

function addTaskStatus()
{
	if (!$('#taskStatusesList option:selected').length) 
	{
		$.bar({message:'Please select a Task Status from the list.'});
		return
	}
	showLoader('addTST','loaderTST');
	var projectId = &{object.id};
	var textFeildValue = $('#taskTSText').val();
	var rad_val = $("input[name='taskStatusGroup']:checked").val();
	var statusId;
	if(textFeildValue == "")
	{
		$.bar({message:'You Must Enter a Valid Task Status Status.'});
	}
	else
	{
		$.post('@{taskStatusCheck()}',{id:projectId,status:textFeildValue},
				function(exist)
				{
			       if (!exist)
				   {
					   $.post('@{addTaskStatus()}', {id:projectId,taskStatus:textFeildValue,indicator:rad_val}, 
							   function(id) //id: Task Status id
							   {    
						          if(id)
							      {
								      statusId = id;
								      var select=document.getElementById('taskStatusesList');
								      var optn = document.createElement("OPTION");
									  optn.text = textFeildValue;
									  optn.value = id;
									  select.options.add(optn);
									  $('#taskStatusesList option[value='+id+']').click(
										function()
										{
										  textFieldValue(textFeildValue, rad_val=="Pending", rad_val=="Closed");
										})
									    textFieldValue("", false, false);
									  $.bar({message:'You have succesfully added a new Task Status.'});
								 }
								 else
								 {
									$.bar({message:'Task Status could not be added.'});
									textFieldValue("", rad_val=="Pending", rad_val=="Closed");
									document.getElementById('taskTSText').value=textFeildValue;
								 }
							  } ,'json')
					}
					else
					{
						$.bar({message:'Task status name is already used.'});
						textFieldValue("", rad_val=="Pending", rad_val=="Closed");
						document.getElementById('taskTSText').value=textFeildValue;
					} 
       			})
	}
	hideLoader('addTST', 'loaderTST');
}

function editTaskStatus()
{
	if (!$('#taskStatusesList option:selected').length) 
	{
		$.bar({message:'Please select a Task Status from the list.'});
		return
	}
	showLoader('editTST','loaderTST');
	var projectId = &{object.id};
	var select=document.getElementById('taskStatusesList');
	var i = getSelectedItem(select);
	var x = document.getElementById('taskTSText').value;
	var rad_val = $("input[name='taskStatusGroup']:checked").val()
	var m = select.options[i].value;
	
	if(i<0)
	{
		hideLoader('editTST','loaderTST');
		return;
	}
	if(x=="")
	{
		$.bar({message:'You Must Enter a Valid Task Status Status.'});
	}
	else
	{
		$.post('@{newTaskStatusCheck()}',{statusID:m,id:projectId,status:x},
			function(exist)
			{
		      if (!exist) 
			  {
				  $.post('@{editTaskStatus()}',{statusID:m,newName:x,indicator:rad_val},
						  function (flag)
						  {
					        if(flag)
						    {
							    $('option[value='+m+']').html(x);
							    $('#taskStatusesList option[value='+m+']').click(function() {
					        		textFieldValue(x, rad_val=="Pending", rad_val=="Closed");
					        	})
								$('option[value='+m+']').attr("selected", true);
								textFieldValue(x, rad_val=="Pending", rad_val=="Closed");
								$.bar({message:'You have succesfully editted a Task Status.'});
							}
							else
							{
								$.bar({message:'Task Status could not be editted.'});
								$('option[value='+m+']').attr("selected", true);
							    textFieldValue(x, rad_val == "Pending", rad_val == "Closed");
							}
						} ,'json')
			 }
			 else
			 {
				 $.bar({message:'Task status name is already used.'});
				 $('option[value='+m+']').attr("selected", true);
			     textFieldValue(x, rad_val == "Pending", rad_val == "Closed");
			 }
		   })
	}
	hideLoader('editTST','loaderTST');
}

function removeTaskStatus()
{
	if (!$('#taskStatusesList option:selected').length) 
	{
		$.bar({message:'Please select a Task Status from the list.'});
		return
	}
	showLoader('removeTST','loaderTST');
	var taskStatusesList = document.getElementById('taskStatusesList');
	var selectedItem = getSelectedItem(taskStatusesList);
	var conf = confirm("Are you sure you want to delete this task status?");
	var select=document.getElementById('taskStatusesList');
	var i = getSelectedItem(select);
	var m = select.options[i].value;
	if(selectedItem < 0)
	{
		hideLoader('removeTST','loaderTST');
		return;
	}
	if(conf)
	{
		$.post('@{removeTaskStatus()}',{statusID:m},
				function (flag)
				{
			      if(flag)
				  {
			    	  taskStatusesList.remove(selectedItem);
			    	  $.bar({message:'You have succesfully removed a Task Status.'});
				  }
				  else
				  {
					  $.bar({message:'Task Status could not be removed.'});
				  }
				} ,'json')
		$('#taskTSText').val("");
		$('#addTST').attr("disabled", true);
		$('#editTST').attr("disabled", true);
		$('#removeTST').attr("disabled", true);
	}
	hideLoader('removeTST', 'loaderTST');
	$('#taskTSText').val("");
	$('#addTST').attr("disabled", true);
	$('#editTST').attr("disabled", true);
	$('#removeTST').attr("disabled", true);
}

function addTask(){
showLoader('addTSK','loaderTSK');
var n=&{object.id};
var m=document.getElementById('taskText').value;
if(m==""){

alert("You Must Enter a Task Type.");
hideLoader('addTSK','loaderTSK');
return;
}
$.post('@{taskTypesCheck()}',{id:n , type:m},function(exist){
	if (!exist) 
	{
	
		$.post('@{addTaskType()}', {
			id: n,
			taskType: m
		}, function(id){

if(id){
var select=document.getElementById('taskTypesList');
var optn = document.createElement("OPTION");
optn.text = m;
optn.value = id;
select.options.add(optn);

}
else{
alert("Task Type couldn't be added.");
}

hideLoader('addTSK','loaderTSK');
},'json')
}
	else
	alert("Task type name is already used.");

})
hideLoader('addTSK', 'loaderTSK');
document.getElementById('taskText').value="";
}

function addStory(){
showLoader('addST','loaderST');
var n=&{object.id};
var m=document.getElementById('storyText').value;
var x=document.getElementById('priorityText').value;
if(m=="" || !is_int(x)){

alert("You Must Enter a Valid Priority Title and an Integer Priority Value.");
hideLoader('addST','loaderST');
return;
}

$.post('@{storyPriorityCheck()}',{id:n ,pName:m},function(exist){
	
	if (!exist) {
	
		$.post('@{addStoryType()}', {
			id: n,
			storyType: m,
			unit: x
		}, function(id){

if(id) {
var select=document.getElementById('storiesTypesList');
var optn = document.createElement("OPTION");
optn.text = x+": "+m;
optn.value= id;

select.options.add(optn);

}
else{
alert("Story Type couldn't be added.");
}

hideLoader('addST','loaderST');
},'json')
}
	else
	alert("Priority Title is already used.");
})
hideLoader('addST', 'loaderST');
document.getElementById('storyText').value="";
document.getElementById('priorityText').value="";
}


function removeStory(){
showLoader('removeST','loaderST');
var n=&{object.id};
var select=document.getElementById('storiesTypesList');
var i=getSelectedItem(select);
if(i<0){
hideLoader('removeST','loaderST');
return;
}
var m=select.options[i].value;

var conf=confirm("Are you sure you want to delete this type?");
if(conf){
$.post('@{removeStoryType()}',{priorityID:m},function (flag){
if(flag){
select.remove(i);

}
else{
alert("Story Type was not Removed.");
}

},'json')
}
hideLoader('removeST','loaderST');
}


function changeAutoRS(){
var n=&{object.id};
var m=document.getElementById('checkBoxAutoRS').value;

$.post('@{changeAutoRescheduleStatus()}',{id:n,autoReschedule:m},function (flag){
var conf=confirm("Are you sure you want to change the status of Auto-Rescheduling?");
if(flag && conf){

}
else{
alert("Could not Commit Action! Please Try again.");
}
},'json')
}

function is_int(value){
  if((parseFloat(value) == parseInt(value)) && !isNaN(parseInt(value))){
      return true;
 } else {
      return false;
 } 
}

function setSprintDuration(){
showLoader('addSP','loaderSP');
var i=document.getElementById('sprintDropDown').selectedIndex;

var param=document.getElementById('sprintDropDown').options[i].text;

var n=&{object.id};
var m=document.getElementById('durationText').value;
var d=parseInt(m);
var dn=d;

if((!is_int(m)) || d<=0){

alert("The duration entered is invalid. Please enter a valid Integer Duration.");
hideLoader('addSP','loaderSP');
return;
}
else if(m){

switch (param){

case "Months":
dn=d*30;
break;

case "Weeks":
dn=d*7;
break;
default:


}
}

$.post('@{setDefaultSprintDuartion()}',{id:n,duration:dn},function (flag){

if(flag){
document.getElementById('durationLabel').innerHTML=dn;

}
else{
alert("Duration Coudln't be Set.");
}
hideLoader('addSP','loaderSP');
},'json');

}

function setEffortUnit(){
showLoader('addES','loaderES');
var i=document.getElementById('estimationDown').selectedIndex;

var param=document.getElementById('estimationDown').options[i].text;

var n=&{object.id};

$.post('@{setEffortEstimationUnit()}',{id:n,unit:param},function (flag){
if(flag){
alert("You Have set the Effort Estimation Unit to :"+param);
document.getElementById('estimationLabel').innerHTML=param;
}
},'json')
hideLoader('addES','loaderES');

}


</script>
	
	<h2 id="crudShowTitle">Edit "&{object.name}" Defaults and Settings </h2>
	
	
<p>	&{object.description}</p> 
	
	<div class="objectForm">
	


<div id="accordion">
#{if connected.in(object).can('editProject') }
	<h3><a href="#">Default Sprint Duration:</a></h3>
	
	<div id="sd" class="sprintsDuration">
		<p><b> Current Default Sprint Duration : <label id="durationLabel" style="color:red">&{object.sprintDuration}</label> Days.</b> 
		<br><br>
		Setting default sprint duration will be used when an end date for the sprint date is not specified upon creation.
		<br><br>
		<input id="durationText" type="text"  value="" "size="10" /> in
	<select id="sprintDropDown" name="sprintDropDown">
		<option value="Days">Days</option>
		<option value="Months">Months</option>
		<option value="Weeks">Weeks</option>
		</select>
		
		<br>
	<input id="addSP"type="button" name="add" value="Set" onclick="setSprintDuration()" />
	<img id="loaderSP"  style="visibility:hidden" src="/public/images/ajax-loader.gif"/>
	</p>
		</div>
		#{/if}
		#{if connected.in(object).can('editProject') }
	<h3><a href="#">Default Meeting Types:</a></h3>
	<div class="meetingTypes">
	<ul >
	<small> <b><label id=" " style="color:red" >Click On a Meeting Type to view Sprint Association </small></b></label>
		<p><u><b>Meeting Type:</b></u>  <b><label id="inSprintLbl"> </label></b></p> 
<select name="drop1" id="meetingTypesList" style="width:200px" size="10" multiple="multiple" onclick="getInSprint()">
#{list items:object.meetingsTypes, as:'meetingType'}
	
	<option value="1">${meetingType}</option>
		
	
#{/list}
	</select>
	<br>
	
	Add new : &nbsp;<input id="meetingText" class="" type="text" name="object.name" value="" "size="27" /> 
	<br>
	<INPUT id="assocSprint"TYPE=CHECKBOX NAME="assocSprint"  onclick=""   > 	Associate New Type To End Of Sprint
	
	
	<input id="addMB"type="button" name="add" value="Add" onclick="addMeeting()" />
	<input id="removeMB" type="button" name="add" value="Remove" onclick="removeMeeting()"/>
	
	<img id="loaderMB"  style="visibility:hidden" src="/public/images/ajax-loader.gif"/>
	</div>
	#{/if}
	
	
	#{if connected.in(object).can('editProject') }
	<h3>
		<a href="#">Default Task Types:</a>
		</h3>
	
		<div class="taskTypes">
	<ul >
<select name="drop1" id="taskTypesList" style="width:200px" size="10" multiple="multiple">
#{list items:object.taskTypes, as:'taskType'}
	#{if taskType.deleted==false}
	<option value=${taskType.id}>${taskType.name}</option>
		#{/if}
	
#{/list}
	</select>
	<br>
	Add new : &nbsp;<input id="taskText" class="" type="text" name="object.name" value="" "size="27" /> 
	<br>
	<input id="addTSK" type="button" name="add" value="Add" onclick="addTask()" />
	<input id="removeTSK" type="button" name="add" value="Remove" onclick="removeTask()"/>
	
	<img id="loaderTSK"  style="visibility:hidden" src="/public/images/ajax-loader.gif"/>
	</div>
	#{/if}
	#{if connected.in(object).can('editProject') }
	<h3>
	<a href="#">	Default Task Statuses:</a>
		</h3>
		<div class="taskStatus">
	
	<ul >
<select name="taskStatusesList" id="taskStatusesList" style="width:200px" size="10" multiple="multiple">
<option value="addNewTaskStatus" name="addNewTaskStatus" onclick="textFieldValue('',false,false)" selected > Add new Task Status</option>
#{list items:object.taskStatuses, as:'taskStatus'}
	#{if taskStatus.deleted==false}
	<option value=${taskStatus.id} onclick="textFieldValue($(this).html(),${taskStatus.pending},${taskStatus.closed})" >${taskStatus.name}</option>
		#{/if}
	
#{/list}
	</select>
	<br>
	Status Name : &nbsp;<input id="taskTSText" class="" type="text" name="object.name" value="" "size="27" /> 
	
	<form name="taskStatusesForm">
	<br> 
	This status indicates: 
	<br>
	<input type="radio" name="taskStatusGroup" value="Pending"> Pending <br>
	<input type="radio" name="taskStatusGroup" value="Closed"> Closed <br>
	<input type="radio" name="taskStatusGroup" value="Others" checked> Others <br>
	</form>
	
	<input id="addTST" type="button" title="Add a new Task Status" name="add" value="Add" onclick="addTaskStatus()" />
	<input id="editTST" type="button" title="Save after editing" name="edit" value="Save" onclick="editTaskStatus()" disabled/>
	<input id="removeTST" type="button" title="Remove from project" name="remove" value="Remove" onclick="removeTaskStatus()" disabled/>
	
	<img id="loaderTST"  style="visibility:hidden" src="/public/images/ajax-loader.gif"/>
	
	</div>
	
		#{/if}
		#{if connected.in(object).can('editProject') }
	<h3>
		<a href="#">Edit Story Priorities:</a>
		</h3>
	<div class="storyPriorities">
			<ul >
<select name="drop1" id="storiesTypesList" style="width:200px" size="10" multiple="multiple">
#{list items:object.priorities, as:'storiesPriority'}
		
		#{if storiesPriority.deleted==false}
		<option value="${storiesPriority.id}">${storiesPriority.priority} : ${storiesPriority.title}</option>
		#{/if}
		
	
		
	
#{/list}
	</select>
	<br>
	Priority Title:&nbsp;<input id="storyText" class="" type="text" name="object.name" value="" "size="15" />
	<br>
	Priority Value:<input id="priorityText" class="" type="text" name="" value="" "size="15" />
	<br>
	<input id="addST" type="button" name="add" value="Add" onclick="addStory()" />
	<input id="removeST" type="button" name="add" value="Remove" onclick="removeStory()"/>
	
		<img id="loaderST"  style="visibility:hidden" src="/public/images/ajax-loader.gif"/>
		</div>
		#{/if}
		#{if connected.in(object).can('editProject') }
	<h3>
		<a href="#">Edit Meeting Rescheduling Policies:</a>
		</h3>
		<div class="meetingReSchedule">
		
		
		<p>
		This Feature allows the application to reschedule meeting for the " &{object.name} " project automatically when the sprint date
		changes. To turn on feature check the box below.
		<br>
		<br>
		 <INPUT id="checkBoxAutoRS"TYPE=CHECKBOX NAME="autoReschedule"  onclick="changeAutoRS()"  ${object.autoReschedule ? 'checked': ''} >Auto Meeting Reschedule</p>
		</div>
		#{/if}
		#{if connected.in(object).can('editProject') }
	<h3><a href="#">Edit Effort Estimation Points Unit:</a></h3>
				<div class="meetingReSchedule">
	<p><b> Current Effort  Estimation Unit : <label id="estimationLabel" style="color:red">
	
		#{if object.effortEstimationUnit==0}
				Hours
		#{/if}
		#{if object.effortEstimationUnit!=0}
				Points
		#{/if}
	
	
	 </label> </b> 
		<br><br>
		You can Set the Effort Estimation Unit either in Hours or Points.
		<br><br>
	<select id="estimationDown" name="estimationDropDown">
		<option value="Hours">Hours</option>
		<option value="Points">Points</option>
		</select>
		
		<br>
	<input id="addES"type="button" name="add" value="Set" onclick="setEffortUnit()" />
	<img id="loaderES"  style="visibility:hidden" src="/public/images/ajax-loader.gif"/>
	</p>

		</div>
	#{/if}
	<br>
	
</div>
