#{extends 'main.html' /}
#{set title:'Showing project: '+project.name /}
#{set 'crumbs'}
<li><a href="/show/projects">Projects</a></li>
<li><a href="/show/project?id=${project.id}">${project.name}</a></li>
#{/set}

#{if flash.success}
<p class="success">&{flash.success}</p>
#{/if}
<h2>${project.name}</h2>
<div >
 
${project.description?.nl2br()}
</div>
<a href="javascript:;" onclick="$('#roles').toggle()">Project Roles</a>
<div id="roles" class="roles" style="display: none; width:300px;">
	#{list items:project.roles, as:'role'}
		#{if !connected.roles.contains(role)}
		#{set requested: requestedRoles.contains(role) /}
		<div style="float:left;width:200px;">${role.name}</div>
		<div style="float:left;">
		<form style="display:inline;" action="/projecttasks/requestrole?id=${role.id}" method="post">
			<input type="submit" value="request${requested ? 'ed' : ''}" class="${requested ? 'disabled' : ''}" ${requested ? 'disabled':''} /></form>
		</div>	
		<br  style="clear:both;"  />
		#{/if}
	#{/list}
</div>


<br/>
<a href="@{Projects.getProjectMembers(project.id)}"> Project Members </a><br/>

<a href="tasks?id=${project.id}">Project Tasks</a>
<!-- adding component's link by Amr Hany -->
<br/>
<a href="/projects/${project.id}/components">Project Components</a>

<!-- adding sprints' link by minazaki -->
<br/>
<a href="@{Sprints.showsprints(project.id)}" >Project Sprints</a>

<!-- adding meetings link @author ghadafakhry -->
<br/>
<a href="/projects/${project.id}/meetings">Project Meetings</a>

<!-- adding meetings link @author ahmedKhaled7 -->
<br/>
<a href="/productbacklog/${project.id}/0">Project Product Backlog</a>

<!--  adding impediment tasks @author Hadeer Younis -->
<br/>
<a href="@{ImpedimentTasks.viewImpedimentLog(project.id)}"> Project's Impediment Log</a>

<!-- adding product role's link by Heba Elsherif -->
<br/>
<a href="/projects/${project.id}/productroles">Project Product Roles</a>


<!--  Stories : Galal Aly -->
<br /><a href="@{Storys.listStoriesInProject(project.id)}">Project Stories</a>
<!--  End Of Stories -->

<!-- view boards @ author Dina Helal -->
<br/><a href="javascript:;" onclick="$('#boards').toggle()">Project Boards</a>
<div id="boards" class="roles" style="display:none;width:300px">
	#{list items:project.sprints, as:'sprint'}
		<a href="javascript:;" onclick="$('#s_${sprint.id}').toggle()"  style="float:left;width:200px;">Sprint ${sprint.sprintNumber}</a><br/>
		<div id="s_${sprint.id}" style="display:none; margin-left:10px">
		<a style="margin-left:20px" title="go to the full task board?" href="/boards/loadboard?sprintID=${sprint.id}">View Project Task Board</a>
		<br/>
		<a href="javascript:;" onclick="$('#c_${sprint.id}').toggle()" title="view components' boards?" style="margin-left:20px;float:left;width:200px;">View Components' Boards</a>
		<br/>
		<div id="c_${sprint.id}" style="display:none; margin-left:40px">
		#{list items:sprint.project.components, as:'component'}
		<a style="margin-left:20px" title="${component.name}'s sprint ${sprint.id} Task Board?"href="/boards/loadComponentBoard?sprintID=${sprint.id}&componentID=${component.id}">${component.name}</a><br/>
		#{/list}
		</div>
		<br/>
		</div>
		#{/list}
		</div>

#{set 'moreLinks'}

<a href="@{ProductBacklogs.showGraph(project.id,0)}">View Burndown Charts</a><br/>


<!--@author ahmedkhaled7 C4S12/c4S4/c4s5   -->
<a href="@{ImpedimentTasks.index(project.id)}">Report impediment</a><br/>
#{if connected.in(project).can('canManageRoles')}<a href="/show/roles?id=${project.id}">Manage Roles</a><br /><br/>#{/if}

<a href="@{Storys.listStoriesandSprints(project.id)}"> Assign Story to Sprint </a><br/><br/>
<!-- adding a check requests link @author moataz_mekki -->
#{if connected.in(project).can('canManageRequests')}
<a href="/projects/requestrespond?id=${project.id}"> Check Role Requests</a><br /><br/>
<!-- adding a check project deletion requests link
@author Amr Tj.Wallas
@Task C1S14 -->
<a href="/projects/deletionRequestRespond?id=${project.id}"> Check Deletion Requests</a><br /><br/>
#{/if}

<!-- project notification profile @ author moataz_mekki-->
#{if connected.in(project).can('canEditProjectNotificationProfile')}
<a href = "/projects/managenotificationprofile?projectId=${project.id}"> Edit Project Notifications </a>
#{/if}
#{/set}

#{set 'moreControls'}
<!-- adding a manage notifications link for each user to manage his notification 
profile related to this project
@author Amr Tj.Wallas 
@Task C1S33 -->
#{if connected.in(project).can('canEditUserNotificationProfile')}
<p><a href = "/users/managenotificationprofile?id=${project.id}"> Manage My Notifications for this Project </a></p>
#{/if}
#{if connected.in(project).can('canEditUserNotificationProfile')}
<p><a href="/Projects/requestdeleted?id=${project.id}" onclick="return confirm('Are you sure you want to be deleted from this project??? \n YOU WONT BE ABLE TO CONTRIBUTE IN THIS PROJECT ANYMORE \n HOWEVER YOUR WORK WILL STILL BE VISIBLE BY ALL PROJECT MEMBERS')"> Request Deletion</a></p>
#{/if}


#{if connected.in(project).can('deleteProject')}
#{if project.hasRunningSprints()}

<a href = "#"  name="deleteProject" onclick="delete_project(${project.id})"  >Delete Project</a>
#{/if}
#{else}
<a href = "#"  name="deleteProject" onclick="delete_project_ns(${project.id})"  >Delete Project</a>
#{/else}
#{/if}

#{/set}




<script type="text/javascript">
function delete_project(id)
{
   alert("There is Running Sprint..Project cannot be deleted");
}

function delete_project_ns(id)
{
	var confirmation= confirm("Are you sure you want to delete this Project ?");
	
	if (confirmation) {
		$.post('@{deleteProject()}', {
			id:id
		}, function(){
			window.location = "/show/projects"
		});
	}
	else
		window.location = "/show/projects"
	return true
	;		
}



</script>
