#{extends 'magicBox.html' /}
#{if project}	
	#{set 'title'}
	Roles #{if connected.in(project).can('addRole')}
		<a href="javascript:overlayOpen('/admin/roles/new?id=${project?.id}')" title="Add new role"><img src="@{'/public/images/famfam/add.png'}"></a>
	#{/if}
	#{/set}
	#{set 'crumbs'}
	<li><a href="/show/projects">Projects</a></li>
	<li><a href="/show/project?id=${project.id}">${project.name}</a></li>
	#{/set}
	#{note 'highlight'}These are your project roles. Members in a project may have more than one role at a time. Whenever possible, avoid editing roles to limit confusion for developers. If you'd like to give a developer more access, add him to a new role. All members joining a project join the base role automatically. Click a star to set that role as base role.#{/note}
#{/if}
#{else}
	#{set title: 'Global Roles' /}
	#{note}These are the default roles. All projects created include these roles by default. Changes to these roles does NOT affect roles of projects already created. The base role is highlighted in bold. All members joining a project join the base role automatically. Click a star to set that role as base role.#{/note}
#{/else}
#{list roles, as:'role'}
	<div name="/show/role?id=${role.id}"><div class=" #{if role.baseRole}baseRole #{/if} all-roles-${role.project.id} role-div-${role.id}"><a href="#" onclick="overlayOpen('/admin/roles/${role.id}')" title="Edit"><img src="@{'/public/images/famfam/pencil.png'}"></a> <span class="delete_img"><a href="#" onclick="delete_role(${role.id}, this)" title="Delete"><img src="@{'/public/images/famfam/delete.png'}"></a> </span><span class="tick_img"><a title="Set base role" href="#" onclick="setBaseRole(${role.id}, ${role.project.id})"><img src="/public/images/famfam/star.png" alt=""></a></span></div>
	${role.name}</div>
#{/list}