#{extends 'main.html' /}#{set title:'Select Dependent Tasks' /}
#{set 'crumbs'}
<li><a href="/show/projects">Projects</a></li>
<li><a href="/show/project?id=${project.id}">${project.name}</a></li>
<li><a href="@{ImpedimentTasks.index(project.id)}">Report Impediment</a></li>
<li><a href="#">Select dependent tasks</a></li> 
#{/set}

<h1>Select Dependent Tasks</h1>
<div class="crudField">
#{list items:Tasks, as:'task'}
<input type="checkbox" id="${task.id}" value="${task.id}">${task.id} ${task.description}<br/>
#{/list}</div><div class="crudField">
<button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"onclick="add_tasks()">Add</button></div>

<!-- 
@author ahmedkhaled7 C4 S12
	Looping on the check boxes and adding the checked task to the
	dependent tasks.
		
-->
<script type="text/javascript">
function add_tasks()
{
	list = [];
	IDS = ${taskIds};
	itaskId = ${itaskId};
	for(i=0; i< ${Tasks.size()}; i++)
	{
		t=IDS[i];
		
		if ($('#' + t).is(':checked')) {
			
			list.push(t);
			
		}
		
	}

	$.post('@{ImpedimentTasks.save2()}',
			{taskId: itaskId , dTasks:list},
			function()
			{
		
				window.location="/ImpedimentTasks/viewimpedimentlog?Proj_id=${projectId}";
				});

}
</script>