#{extends 'main.html' /}
#{set title: proj.name + '\'s Impediment Log'/}
#{set 'moreStyles'}
<style type="text/css">
thead
{
cursor:move;
}
</style>
#{/set}
#{set 'moreScripts'}
<script  type="text/javascript" src="@{'/public/javascripts/dragtablenorm.js/'}" ></script>
<script  type="text/javascript" src="@{'/public/javascripts/sorttable.js/'}" ></script>
<script type="text/javascript">
function changeStatus(id,statID)
{
	  $.post('@{ImpedimentTasks.changeStatus()}',{taskId:id,type:statID},function(){alert(statID)});
}
</script>
#{/set}
#{set 'crumbs'}
<li><a href="/show/projects">Projects</a></li>
<li><a href="/show/project?id=${proj.id}">${proj.name} </a></li>
<li><a href="/tasks/choose?Proj_id=${proj.id}">Impediment Tasks</a></li>
#{/set}
#{ifnot connected.projects.contains(proj)}


<div style="padding: 10px;" class="ui-state-error ui-corner-all">
     <span style="float: left; margin-right: 0.3em;" class="ui-icon ui-icon-alert"></span>
     <strong>Alert:</strong> You are prohibited to see this page.
</div>
#{/ifnot}
#{else}
#{ifnot tasks}
<div style="padding: 10px" class="ui-state-highlight ui-corner-all">
    <span style="float: left; margin-right: 0.3em;" class="ui-icon ui-icon-info"></span>
    <strong>NOTE: </strong>There are no sprints in this project
</div>

#{/ifnot}

#{else}



<h1> Impediment Tasks</h1>
<div id="drag">
	<table class="draggable sortable" >
	<thead>
	<tr>
		<td>ID</td>
		<td>Description</td>
		<td>Reporter</td>
		<td>Status</td>
		
		</tr>
</thead>
<tbody>
		#{list items:tasks, as:'task'}
		<tr>
			<td>${task.id} </td>
			<td>${task.description}</td>
			<td>${task.reporter.getDisplayName()}</td>
		 
		 	<td>
		 	#{if canEdit || connected.id==task.reporter.id}
		 	<form>
					<select id="t_${task.id}"name="list" onchange="changeStatus(${task.id},$('#t_${task.id} option:selected').text());">
                		#{list items:TaskStat, as:'stat'}
                		#{if stat.name==task.taskStatus.name}
                		<option selected="selected" value="${stat.id}">${stat.name}</option>
                		#{/if}
                		#{else}
                		<option value="${stat.id}">${stat.name}</option>
                		#{/else}
                		#{/list}
					</select>
				</form> 
			#{/if}
			#{else}
			${task.taskStatus.name}
			#{/else}
			</td>
			
		</tr>
		#{/list}
		</tbody>
		</table>
		#{/else}
#{/else}

</div>