#{extends 'main.html' /}
#{set title:'Edit Profile' /}

#{if flash.success}
	<p>${flash.success}</p>
#{/if}
#{if flash.error}
	<p>${flash.error}</p>
#{/if}
<h4>Edit profile</h4>
<form action="/accounts/editprofile?id=${user.id}" method="post">
	<div class="field">
		<label for="name">Name</label>
		<input type="text" name="name" value="${user.name}">
	</div>
	<br style="clear:both;">
	<div class="field">
		<label for="email">Email</label>
		<input type="text" name="email" value="${user.email}">
	</div>
	<br style="clear:both;">
	<div class="field">
		<label for="password">Password</label>
		<input type="password" name="pwd1">
	</div>
	<br style="clear:both;">
	<div class="field">
		<label for="password">Confirm Password</label>
		<input type="password" name="pwd2">
	</div>
</form>