#{extends 'overlay.html' /}

<style type="text/css">
	.drag{position: relative;}
	.shadowed {
  -moz-box-shadow: 2px 2px 3px #969696;
  -webkit-box-shadow: 2px 2px 3px #969696;
}
</style>

#{set 'moreScripts'}
<script  type="text/javascript" src="@{'/public/javascripts/tzcount.js/'}" ></script>
<script  type="text/javascript" src="@{'/public/javascripts/dragtable.js/'}" ></script>
<script  type="text/javascript" src="@{'/public/javascripts/jeditable.js/'}"  ></script>
<script  type="text/javascript" src="@{'/public/javascripts/drag.js/'}"  ></script>
#{/set}
#{set 'onLoad'}
REDIPS.drag.init()
#{/set}

#{if comp==null}
<h1>${p.name}'s Task Board</h1>
#{/if}
#{else}
<h1>${comp.name}'s Task Board</h1>
#{/else}

<a href="#" id="ToggleBoard-open" title="toggle" class="tiptitize" style="display:none"><img src="@{'/public/images/famfam/bullet_toggle_plus.png'}"></a>
<a href="#" id="ToggleBoard-close" title="toggle" class="tiptitize"><img src="@{'/public/images/famfam/bullet_toggle_minus.png'}"></a>

<!-- Show Col drop down list by Dina -->
#{set count=0}
#{/set}
<a href="#;" class="tiptitize" onclick="$('#changeCol').slideToggle(400)" title="show columns?" type="button" ><img src="@{'/public/images/famfam/show.gif'}"></a>


#{if comp==null}
<a title="view snapshots" class="tiptitize" href="javascript:popUp('/Snapshots/boardsnapshots?sid=${s.id}&pid=${p.id}')"><img src="@{'/public/images/famfam/photos.png'}"></a>
<a title="take a snapshot" class="tiptitize" href="javascript:take_snapshot()"><img src="@{'/public/images/famfam/camera_add.png'}"></a>
#{/if}
#{else}
<a title="view snapshots" class="tiptitize" href="javascript:popUp('/Snapshots/boardsnapshots?sid=${s.id}&cid=${comp.id}')"><img src="@{'/public/images/famfam/photos.png'}"></a>
<a title="take a snapshot" class="tiptitize" href="javascript:take_snap(${comp.id})"><img src="@{'/public/images/famfam/camera_add.png'}"></a>
#{/else}

<!-- view hidden Col by Hadeer -->
#{if connected.in(p).can('ShowColumn')}
#{if hidencolumnsOfBoard.isEmpty()}
<a class="tiptitize" title="all columns are added" type="button"><img src="@{'/public/images/famfam/add-disabled.png'}"></a>
#{/if}
#{else}
<a href="#;" class="tiptitize" onclick="$('#b1').slideToggle()" title="add column?" type="button"><img src="@{'/public/images/famfam/add.png'}"></a>
#{/else}
#{/if}



<!-- hide Col by Hadeer -->
#{if connected.in(p).can('HideColumn')}
#{if columnsOfBoard.isEmpty()}
<a class="tiptitize" title="all columns deleted" type="button"><img src="@{'/public/images/famfam/delete-disabled.png'}"></a>
#{/if}
#{else}
<a href="#;" class="tiptitize" onclick="$('#b2').slideToggle(400)" title="delete column?" type="button" ><img src="@{'/public/images/famfam/delete.png'}"></a>
#{/else}
#{/if}

#{if comp==null}
<a title="Meetings" class="tiptitize" href="javascript:popUp('/Boards/loadMeetings?pid=${p.id}')"><img src="@{'/public/images/famfam/date.png'}"></a>
#{/if}
#{else}
<a title="Meetings" class="tiptitize" href="javascript:popUp('/Boards/loadMeetings?pid=${p.id}&cid=${component.id}')"><img src="@{'/public/images/famfam/date.png'}"></a>
#{/else}

<br/>
<select id="changeCol" onchange="showCol(changeCol.value)" style="display:none">
<option id="d" value="d">Columns</option>
#{list items:columnsOfBoard, as:'c'}
<option value= "${count}">${c.name}</option>
#{set count=count+1}
#{/set}
#{/list}	
</select>

<select id="b1" onchange="javascript: showHiddenCol(b1.value);" style="display:none" class="hidecol">
<option value="">add columns</option>
#{list items:hidencolumnsOfBoard, as:'c'}
<option value= "${c.id}">${c.name}</option>
#{/list}
</select>

<select id="b2" onchange="hideCol(b2.value)" style="display:none" class="showcol">
<option id="x" value="">delete columns</option>
#{list items:columnsOfBoard, as:'c'}
<option value= "${c.id}">${c.name}</option>
#{/list}
</select>

<div id="drag">
<table id="mainBoard" class="draggable"  border="1">

<tr> <!-- headers row -->					
	<td>Headers</td>
	
	<!-- set flag based on logged in user -->
	#{set count=0}
	#{/set}
	#{list items:columnsOfBoard, as:'col'}	
	<td style="text-align:center;" class="col_${count}"> 	
		#{if connected.in(p).can('renameColumns')}<!-- if admin -->
		<div style="font-size:small;display:inline-block;width:3cm" class="${col.name} editCOL ccolumn" id="${col.id}" title="Edit the column name?">${col.name}</div>
		#{/if}
		#{else} <!-- if not admin -->
		<div style="font-size:small; display:inline-block;" class="${col.name} ">${col.name}</div>
		#{/else}	
		<div style="text-align:center">
		<a id="${col.sequence}_c" onclick = "swapCol(id)" style="color:#FFFFFF">
		<span style="list:none;padding:1px 1px 1px 1px;display:inline-block" title="Swap with another column?" class="ui-state-default ui-corner-all">
		<span style="display:inline-block !important"class="ui-icon ui-icon-transferthick-e-w "></span>
		</span></a>
		<a><span style="list:none;padding:1px 1px 1px 1px;display:inline-block" title="Drag the column Anywhere" >
		<span style="display:inline-block" class="ui-icon ui-icon-arrow-4 "></span>
		</span></a>
		<a style="color:#FFFFFF"><span style="list:none;padding:1px 1px 1px 1px;display:inline-block" class="ui-state-default ui-corner-all ">
		<span title="hide column?" id="${count}" style="display:inline-block !important"class="tiptitize hideCol ui-icon ui-icon-hide "></span>
		</span></a>
		#{set count=count+1}
		#{/set}
		</div>
	</td>
	#{/list}
</tr>

#{list items:data, as:'component'}  
<tr id="com-${component.id}_hidden" style="display:none;" > <!-- empty rows of the board -->
	<td>Click here to toggle</td>
	#{set count=0}
	#{/set}
	#{list items:columnsOfBoard, as:'col'}
	<td class="col_${count}"></td> <!-- creating empty cells in each row based on number default columns (onBoard=true) -->
	#{set count=count+1}
	#{/set}
	#{/list}
</tr>

<tr id="com-${component.id}" style="height:100px"> <!-- filling rows with data -->
	<td id="com-${component.id}" class="component">${component.title}</td> <!-- 1st cell in each row with component name -->
	#{set count=0}
	#{/set}
	#{list items:component, as:'col'}
	<td class="col_${count}" style="max-width:5000px">  <!--filling cells in each row with tasks -->
		#{set count=count+1}
		#{/set}
		#{list items:col, as:'task'}
		<!-- small sticky note -->
		#{if connected.in(p).can('changeTaskStatus') || connected.equals(task.assignee) || connected.equals(task.reviewer)}
		<div style="float:left" id="task-${task.id}_T" class="drag status status_${task.id}">
		<p>		
		<div class="${task.taskStatus.columns[0].name}" style="max-width:130px"></div>  
		<div style="max-width:130px" id="task-${task.id}_T" class="drag status status_${task.id}">
		#{/if}
		#{else}
		<div class="nostatus nostatus_${task.id}">
		<p>
		<div class="${task.taskStatus.column.name}" style="max-width:130px"></div>
		<div style="max-width:130px" id="task-${task.id}_T" class="nostatus nostatus_${task.id}">
		#{/else}
		<div title="Story ${task.taskStory.id}: ${task.taskStory.description}" class="shadowed tiptipize" style="background-color:${task.taskType.hexColor}; max-width:110px;border=0px"  id="${task.id}_small">
		<a id="task-${task.id}" style="font-size:x-large;cursor: pointer !important;border=0px" class="ctask">-</a>S ${task.taskStory.id} 
		<div id="desc_${task.id}">${task.description}</div>
		<a class="SmallSticky tiptitize" title="Edit task info?" style="cursor: pointer !important" id="${task.id}">view/edit info..</a>
		</div>
		</div>
		<a id="task-${task.id}_hidden" style="display:none; font-size:large;cursor: pointer !important" class="showtask">+</a>
		</p>
		
		<!-- big sticky note -->						
		<p style="float:left"> 
		<div style="display:none;"  id="${task.id}Large" style="border:hidden">
		<div style="max-width:165px" id="tas-${task.id}_" >
		<div title="Story ${task.taskStory.id}: ${task.taskStory.description}" class="shadowed tiptipize" style="background-color:${task.taskType.hexColor};border-radius: 15px;border=0px" id="tas-${task.id}_T">
		<p>
		<div  style="border=0px" align="center">S ${task.taskStory.id}</div>
		
		#{if connected.in(p).can('changeTaskDescreption') || connected.equals(task.assignee)} <!-- if has permission (desc) or assignee -->
		<div style="width:3cm" id="${task.id}_des" border=0px class="editDES editdesc_${task.assignee.id} tiptipize" title="Edit description?">${task.description}</div>	
		<div style="display:none" class="noedit noedit_${task.assignee.id}"id="${task.id}_desc" border=0px >${task.description}</div>	
		#{/if}
		#{else} <!-- if doesn't have have permission (desc) nor assignee -->
		<div class="noedit noedit_${task.assignee.id}"id="${task.id}_des" border=0px >${task.description}</div>
		<div style="display:none;width:3cm" id="${task.id}_desc" border=0px class="editDES editdesc_${task.assignee.id} tiptipize" title="Edit description?">${task.description}</div>		
		#{/else}
		
		#{if comp==null}
		#{if connected.in(p).can('changeAssignee')} <!-- if has permission (edit assignee) -->
		<div><a title="Change Assignee?" value="dddd" class="hidesassi tiptitize" id="usr_${task.id}" href="javascript:popUp('/Tasks/chooseTaskAssi?taskId=${task.id}&compId=${component.id}&userId='+selectedUser)">
		Assignee:${task.assignee}</a></div>
		<div id="usrs_${task.id}" class="showdesc" style="display:none">Assignee:${task.assignee}</div>	
		#{/if}
		#{else} <!-- if doesn't have permission (edit assignee) -->
		<div><a title="Change Assignee?" style="display:none" class="hidesassi tiptitize" id="usr_${task.id}" HREF="javascript:popUp('/Tasks/chooseTaskAssi?taskId=${task.id}&compId=${component.id}&userId='+selectedUser)">
		Assignee:${task.assignee}</a></div>
		<div id="usrs_${task.id}" class="showdesc">Assignee:${task.assignee}</div>
		#{/else}
		#{/if}
		
		#{if connected.in(p).can('changeReviewer')} <!-- if has permission (edit reviewer) -->
		#{if comp==null}
		<div><a id="rev_${task.id}" title="Change Reviewer?" class="hidesrev tiptitize"  HREF="javascript:popUp('/Tasks/chooseRev?taskId=${task.id}&compId=${component.id}&userId='+selectedUser)">
		Reviewer:${task.reviewer}</a></div>
		#{/if}
		#{else}
		<div><a id="rev_${task.id}" title="Change Reviewer?" class="hidesrev tiptitize"  HREF="javascript:popUp('/Tasks/chooseRev?taskId=${task.id}&compId=${comp.id}&userId='+selectedUser)">
		Reviewer:${task.reviewer}</a></div>
		#{/else}
		<div id="revs_${task.id}" class="showrev" style="display:none">Reviewer:${task.reviewer}</div>
		#{/if}
		#{else} <!-- if doesn't have permission (edit reviewer) -->
		#{if comp==null}
		<div><a id="rev_${task.id}" title="Change Reviewer?" style="display:none" id="rev_${task.id}" class="hidesrev tiptitize"  HREF="javascript:popUp('/Tasks/chooseRev?taskId=${task.id}&compId=${component.id}&userId='+selectedUser)">
		Reviewer:${task.reviewer}</a></div>
		#{/if}
		#{else}
		<div><a id="rev_${task.id}" title="Change Reviewer?" style="display:none" id="rev_${task.id}" class="hidesrev tiptitize"  HREF="javascript:popUp('/Tasks/chooseRev?taskId=${task.id}&compId=${comp.id}&userId='+selectedUser)">
		Reviewer:${task.reviewer}</a></div>
		#{/else}
		<div id="revs_${task.id}" class="showrev">Reviewer:${task.reviewer}</div>
		#{/else}
		
		#{if connected.in(p).can('changeTaskType') || connected.equals(task.assignee)} <!-- if has permission (type) or assignee -->
		<div><a id="type_${task.id}" title="Edit type?" class="tiptitize hidestype shows_${task.assignee.id}" HREF="javascript:popUp('/Tasks/chooseType?taskId=${task.id}&userId='+selectedUser)">
		Type:${task.taskType.name}</a></div>
		<div id="types_${task.id}" style="display:none" class="shwtype shwtype_${task.assignee.id}" id="${task.id}_type">Type:${task.taskType.name}</div>
		#{/if}
		#{else} <!-- if doesn't have have permission (type) nor assignee -->
		<div><a title="Edit type?" style="display:none" id="type_${task.id}" class="tiptitize hidestype shows_${task.assignee.id}" HREF="javascript:popUp('/Tasks/chooseType?taskId=${task.id}&userId='+selectedUser)">
		Type:${task.taskType.name}</a></div>
		<div id="types_${task.id}" class="shwtype shwtype_${task.assignee.id}" id="${task.id}_type">Type:${task.taskType.name}</div>
		#{/else}
		</p>
		<a href="javascript:;" id="${task.id}_HiddenSticky">
		<span style="text-align:right; display:inline-block; width:3cm " title="Done Editing?" >Done</span></a>
		</div>
		</div>
		</div>
		</p>
		</div>
		#{/list}
	</td>
	#{/list}
</tr>
#{/list}
</table>
</div>

 <script type="text/javascript">

var selectedUser = 0;
var col_from = -1;
var col_to = -1;

function showCol(c)
{
	//$('#desc_1').load('/boards/loadboard1?sprintID=1 #desc_1');
	$('.col_'+c).css('display','table-cell');	
	var seloption = document.getElementById('changeCol');
	seloption.selectedIndex='d';
}
function showHiddenCol(colid)
{
	$.post('/Boards/showHiddenColumn' ,{cid:colid,uid:${connected.id}}, function(){window.location.reload();});
		
}
function hideCol(colid)
{
	var answer=confirm('Are you sure u want to delete this coulmn?')
		
		if (answer) 	
	      {
	$.post('/Boards/hideColumn' ,			
			{cid:colid,uid:${connected.id}}, function(){
			window.location.reload();
		});
		
	      }
		  else{
		  	var seloption = document.getElementById('b2');
	seloption.selectedIndex='x';
		  }
}
function popUp(URL) 
{
day = new Date();
id = day.getTime();
eval("page" + id + " = window.open(URL, '" + id + "', 'toolbar=0,scrollbars=1,location=0,statusbar=0,menubar=0,resizable=1,width=200,height=270,left = 0,top = 0');");
}


$('.SmallSticky').click(function()
	{		
		$('#'+this.id+"_small").hide();
		$('#'+this.id+"_HiddenSticky").show();
		$('#'+this.id+"Large").toggle();
		$('#'+this.id+'_HiddenSticky').click(function(){
		var splittedST 	= this.id.split("_");
		var F= splittedST[0];
		originalST = '#'+F;
		$('#'+F+"_small").show();
		$(originalST+"Large").hide();
		$(this).hide();
	
	});
	});
	
$('.component').click(function()
	{
		$('#'+this.id).toggle();
		original = '#'+this.id;
		$('#'+this.id+"_hidden").toggle();
		$('#'+this.id+'_hidden').click(function(){
		var splittedC 	= this.id.split("_");
		var i= splittedC[0];
		originalC = '#'+i;
		$(originalC).show();
		$(this).hide();
	});
	});
	
		
	$('.ctask').click(function()
	{
		$('#'+this.id+"_T").hide();	
		$('#'+this.id+"_hidden").show();
		$('.showtask').click(function(){
		var splittedT 	= this.id.split("_");
		var j= splittedT[0];
		originalT = '#'+j+"_T";
		$(originalT).show();
		$(this).hide();
	});
	});
		
	$('.cstory').click(function()
	{
		$('#'+this.id+"_S").hide();	
		$('#'+this.id+"_hidden").show();
		$('.showstory').click(function(){
		var splittedS	= this.id.split("_");
		var k= splittedS[0];
		originalS = '#'+k+"_S";
		$(originalS).show();
		$(this).hide();		
	});
	});
		
	$('#ToggleBoard-close').click(function(event)
	{
		$('#ToggleBoard-open').css('display','inline-block');
		$('#ToggleBoard-close').css('display','none');	
   		event.preventDefault();
   		$('#mainBoard').toggle();
 	});
 	
	$('#ToggleBoard-open').click(function(event)
	{
		$('#ToggleBoard-open').css('display','none');
		$('#ToggleBoard-close').css('display','inline-block');
   		event.preventDefault();
   		$('#mainBoard').toggle();
 	});
	
	$('#form').click(function(event)
	{
   		event.preventDefault();
   		$('form').toggle(400);
 	});
  
	$('.hideCol').click(function()
	{
		var i =this.id;
		$('.col_'+i).css('display','none');
	});    
	$('.editDES').editable(function(value)
		{var taskId 	= parseInt($('#lolid').closest("div").attr("id"));  
    	 $.post('@{Tasks.editTaskDesc2()}',{id:taskId, userId:selectedUser, desc:value});
		 document.getElementById("desc_"+taskId).innerHTML = value;
       	 document.getElementById(taskId+"_des").innerHTML = value;
         document.getElementById(taskId+"_desc").innerHTML = value;
		 return(value);   
    	},{indicator : 'Saving...',});

	$('.editCOL').editable(function(value)
    	   {var colId 	= parseInt($('#lolid').closest("div").attr("id"));   
    	    $.post('@{Columns.editColumnName}',{id:colId, name:value, userId:selectedUser});
		    return(value);
    	   },{indicator : 'Saving...',});
	$('div.tiptipize').tipTip({delay:0});

 	
	
	/**
	 * swapping with clicking instead of drag and drop.
	 * 
	 * @author: 
	 *	 		Joseph Hajj
	 * 
	 */
 function swapCol(TheID)
	{
		var data = TheID.split("_");
		var id = data[0];
		var temp;
		var table = document.getElementById("mainBoard");
		if(col_from==-1)
		{
			
			col_from=id;
			col_from++;
			var rowCount = table.rows.length;
			for(var i=1; i<rowCount; i++)
			{
			table.rows[i].cells[col_from].style.backgroundColor = '#CCFFFF';
			}
			col_from--;
			
		}
		else if (col_from==id)
		{
			
			var rowCount = table.rows.length;
			col_from++;
			for(var i=1; i<rowCount; i++)
			{
			table.rows[i].cells[col_from].style.backgroundColor = '#FFFFFF';
			}
			col_from=-1;
		}
		else if (col_to==-1)
		{
			col_to=id;
			col_from++;
			col_to++;

			var rowCount = table.rows.length;
			for(var i=1; i<rowCount; i++)
			{
			table.rows[i].cells[col_from].style.backgroundColor = '#FFFFFF';
			}
			
			for(var i=0; i<rowCount; i++)
			{
				temp = table.rows[i].cells[col_from].innerHTML;
				table.rows[i].cells[col_from].innerHTML = table.rows[i].cells[col_to].innerHTML;
				table.rows[i].cells[col_to].innerHTML = temp ;
			}
			col_to--;
			col_from--;

			$.post('/Columns/changeColumnPosition2' ,			
					{id:gup('sprintID'),pos1:col_from, pos2:col_to,user_id : selectedUser,cid:gup('componentID')},
					function()
					{
						location.reload();
						});
			col_from = col_from + "_c";
			col_to = col_to + "_c";
			var col1 = document.getElementById(col_from);
			var col2 = document.getElementById(col_to);
			if(col_to>col_from)
			{
				col1.id=col_to;
				col2.id=col_from;
			}
			else
			{
				col2.id=col_from;
				col1.id=col_to;
			}
			
			
			col_from=-1;
			col_to=-1;
			
		}
		else
		{	
			col_from=id;
			col_to=-1;
		}
	}
	/**
	 * swapping with settings instead of drag and drop.
	 * 
	 * @author: 
	 *	 		Joseph Hajj
	 * 
	 */
		function swapValues() {
		var table = document.getElementById("mainBoard");
		
		var from = document.getElementById("from").value;
		var to = document.getElementById("to").value;
		var rowCount = table.rows.length;
		for(var i=0; i<rowCount; i++)
		{
			temp = table.rows[i].cells[from].innerHTML;
			table.rows[i].cells[from].innerHTML = table.rows[i].cells[to].innerHTML;
			table.rows[i].cells[to].innerHTML = temp ;
		}
		}
		function take_snapshot() {
		$.post('/snapshots/takesnapshot', {sprintID:${s.id},componentID:0,meetingID:0}, function(){alert('Saved!')});
	}
			function take_snap(id) {
				if(id!=null)
		$.post('@{snapshots.takesnapshot()}', {sprintID:${s.id},componentID:id,meetingID:0} ,function(){alert('saved!')});	
	}

		function extend(id,date) {
		$.post('/Meetings/extend', {meetingid:id}, function(){alert('extended!')});
	}
	function end(id) {
	var ans=confirm('are you sure you want to end the meeting?');
	if(ans){
	$.post('/Meetings/end', {meetingid:id});
	var answer=confirm('The system will now automaticaly update the associated snapshot to the current view of the board!')
	if (answer) {
	take_meetingsnapshot(id);
	location.reload();
	}
	
	}
		}
		function join(id)
		{
			$.post('/Meetings/joinMeeting', {meetingID:id},function()
			{
				window.location.reload();
				});
		}
	function take_meetingsnapshot(id) {
	
		$.post('/snapshots/takesnapshot', {sprintID:${s.id},componentID:0,meetingID:id}, function(){alert('Snapshot Associated!')});
	}
function take_componentmeetingsnapshot(id,cid) {
	if(cid!=null)
		$.post('/snapshots/takesnapshot', {sprintID:${s.id},componentID:cid,meetingID:id}, function(){alert('Snapshot Associated!')});
	}
</script>
