<html>
<body>
<p>
Dear ${userName},
	#{ifnot changeEmail}<br/>Welcome to SmarterScrum Tool!
	<br/>in order to activate your account #{/ifnot}
	#{else}You have requested to change your email address to this one
	<br/>in order to activate your new email #{/else}please <a href = "${url}">click here!</a>
	<br/>otherwise you won't be able to use SmarterScrum tool !!
</p>
<p>If you haven't asked to register or change your email, or you received this email by error please report this <a href="${helpLink}">here</a></p>
</body>
</html>