
 <script src="@{'/public/javascripts/jquery-1.4.min.js'}" type="text/javascript" charset="utf-8"></script> 
<script src="@{'/public/javascripts/functions.js'}" type="text/javascript" charset="utf-8"></script>
<div id="${taskId}">
<h2>Task Types</h2>
#{list items:types, as:'type'}
<a href="#" onclick="set_type( ${type.id},${task.id},${user_id},'${type.name}',${task.taskSprint.id})"> ${type.name} </a><br/>
#{/list}
</div>

<script type="text/javascript">
function set_type(tyId,tskId,usrId,name,sid)
{
	$.post('@{edit_task_type()}',
			{id:tskId, type_id:tyId, user_id:usrId},
			function()
			{
				window.close();	
			});
				
						
	return true;
}
</script>