#{extends 'overlay.html' /} #{set title:'Task Report' /}
#{set 'moreStyles'}
<style type="text/css">
label {
	background: none repeat scroll 0 0 #EFEFEF;
	color: #333333;
	font-weight: bold;
	height: 100%;
	margin-bottom: -10px;
	margin-left: -10px;
	margin-top: -10px;
	margin-right: 10px;
	width: 150px;
	padding: 10px 0 10px 10px;
	position: relative;
	top: 0;
}

td {
	border: 1px solid #555555;
	padding: 7px;
}

.red {
	color: red !important
}

div {
	font-size: 10px
}

.comment {
	padding: 10px;
	margin: 10px 0px;
	border: 1px dashed #ddd
}

.comment label {
	background: transparent;
	margin: 0px;
	padding: 0px;
	height: auto;
}

.comment .crudField {
	border-bottom: 1px solid #EEEEEE;
	margin: -10px -10px 10px;
	padding: 10px;
	position: relative;
}

#info .crudField {
	border-right: 1px solid #EEEEEE;
}

.big {
	border-right: 0px !important;
}

.crudField.i {
	font-size: 14px;
	border-right: 0px !important;
}
</style>
#{/set}
#{set 'moreScripts'}
	<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/jquery.jqplot.css'}"/>
	<script language="javascript" type="text/javascript" src="@{'/public/javascripts/jquery.jqplot.js'}"></script>
	<script language="javascript" type="text/javascript" src="@{'/public/javascripts/plugins/jqplot.logAxisRenderer.js'}"></script>
	<script language="javascript" type="text/javascript" src="@{'/public/javascripts/plugins/jqplot.canvasTextRenderer.js'}"></script>
	<script language="javascript" type="text/javascript" src="@{'/public/javascripts/plugins/jqplot.cursor.js'}"></script>
	<script language="javascript" type="text/javascript" src="@{'/public/javascripts/plugins/jqplot.canvasAxisLabelRenderer.js'}"></script>
	<script language="javascript" type="text/javascript" src="@{'/public/javascripts/plugins/jqplot.canvasAxisTickRenderer.js'}"></script>
	<script language="javascript" type="text/javascript" src="@{'/public/javascripts/plugins/jqplot.dateAxisRenderer.js'}"></script>
	<script language="javascript" type="text/javascript" src="@{'/public/javascripts/plugins/jqplot.categoryAxisRenderer.js'}"></script>
	<script language="javascript" type="text/javascript" src="@{'/public/javascripts/plugins/jqplot.barRenderer.js'}"></script>
<script type="text/javascript">
function graphed(data)
{
	var xx = '1 day';
	if(data.length>900)
		xx ='1 year';
	if(data.length>365)
		xx = '1 month';
	if(data.length>30)
		xx= '1 week';


	var plot1 = $.jqplot('cSTATS', [data], 
			{
		 series:[
		         {renderer:$.jqplot.BarRenderer,color:'#E5A1A5'}],
	    axes:{
	        xaxis:{
	            renderer:$.jqplot.DateAxisRenderer,
				labelOptions:{fontFamily:'Helvetica',fontSize: '13pt'},
				label:'Day',
				max:'${maxDate}',
				min:'${minDate}',
				tickInterval:xx,
					showTicks: true,
	        }
	    ,
	    
	    yaxis:
		{
			labelOptions:{fontFamily:'Helvetica',fontSize: '13pt'},
			label:'Remainging Points',
			labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
			renderer: $.jqplot.LinearAxisRenderer,  
			showTicks: true, 
			tickInterval:1,
			min:0,
		}
	},
	
			
		grid: 
		{
			drawGridLines: true,       
			gridLineColor: '#333333',    
			background: '#f2f2f2',      
			borderColor: '#999999',     
			borderWidth: 2.0,           
			shadow: true,               
			shadowAngle: 45,            
			shadowOffset: 1.5,          
			shadowWidth: 3,             
			shadowDepth: 3,             
			shadowAlpha: 0.07,          
			renderer: $.jqplot.CanvasGridRenderer,     
		},
	    cursor: {tooltipLocation:'sw', zoom:true, clickReset:true}, 
	});
}
function graph(data)
{
	var xx = 1;
	if(data.length>900)
		xx =360;
	if(data.length>365)
		xx = 30;
	if(data.length>30)
		xx= 7;
	var plot1 = $.jqplot('STATS', [data], 
	{
		seriesDefaults:
		{color:'#E5A1A5',showMarker:false
		},
		axes:
		{
			xaxis:
			{
				label:'Days', 
				labelOptions:{ fontFamily:'Helvetica',fontSize: '13pt'},
				labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
				//ticks: xTicks
			tickInterval:xx
			}, 
			yaxis:
			{
				labelOptions:{fontFamily:'Helvetica',fontSize: '13pt'},
				label:'Remainging Points',
				labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
			  //  ticks:yTicks
				tickInterval:2
			}
		},
		axesDefaults: 
		{
			renderer: $.jqplot.LinearAxisRenderer,  
			showTicks: true,   
			min:0,
		},			
		grid: 
		{
			drawGridLines: true,       
			gridLineColor: '#999',    
			background: '#f2f2f2',      
			borderColor: '#999999',     
			borderWidth: 2.0,           
			shadow: true,               
			shadowAngle: 45,            
			shadowOffset: 1.5,          
			shadowWidth: 3,             
			shadowDepth: 3,             
			shadowAlpha: 0.07,          
			renderer: $.jqplot.CanvasGridRenderer,     
		},cursor: {tooltipLocation:'sw', followMouse:true,showVerticalLine:true,showHorizontalLine:true,zoom:true, clickReset:true,showTooltipDataPosition:true}, 
				
	});
}


</script>
#{/set}
#{set 'onLoad'}
;
#{if theTask.estimationPointsPerDay}
graph(${efforts});
#{/if}

#{if changes.size()!=0}
graphed(${changes});
#{/if}
$('#accordion').accordion({autoHeight: false});
#{/set}
	<h1>Task ${theTask.getTaskNumber()} : ${theTask.description} </h1>
	<div id="accordion">
    <h6><a href="#">Task Information</a></h6>

    <div id="info">
    <div class="crudField i">
		#{if theTask.description}
			<span class="big">${theTask.description}</span>
		#{/if}
		#{else}
			<div style="padding: 10px;margin:10px"class="ui-state-error ui-corner-all">
				<span style="float: left; margin-right: 0.3em;" class="ui-icon ui-icon-alert"></span>This Task doesn't have a description.
			</div>
		#{/else}
	</div>
	<div class="crudField">
	    #{if theTask.project}
	    <label>Project</label>${theTask.project.name}
	    #{/if}
	    #{else}
	     <div class="red"><label>Project</label>This task doesn't belong to a project!</div>
	    #{/else}
	</div>
	#{if theTask.component}
	#{if theTask.component.name.equalsIgnoreCase("Default Component")}
	#{/if}
	#{else}
	<div class="crudField">
	<label>Component</label>${theTask.component.getFullName()}
	</div>
	#{/else}
	#{/if}
	<div class="crudField">
	    #{if theTask.reporter}
	    <label>Reporter</label>${theTask.reporter.getDisplayName(myProject).raw()}
	    #{/if}
	    #{else}
	     <div class="red"><label>Reporter</label>No one reported this task!</div>
	    #{/else}
	</div>
	<div class="crudField">
	    #{if theTask.assignee}
	    <label>Assignee</label>${theTask.assignee.getDisplayName(myProject).raw()}
	    #{/if}
	    #{else}
	     <div class="red"><label>Assignee</label>No one is assigned to this task!</div>
	    #{/else}
	</div>
    <div class="crudField">
	    #{if theTask.reviewer}
	    <label>Reviewer</label>${theTask.reviewer.getDisplayName(myProject).raw()}
	    #{/if}
	    #{else}
	     <div class="red"><label>Reviewer</label>No one is reviewing this task!</div>
	    #{/else}
	</div>
  	<div class="crudField">
	    #{if theTask.taskSprint}
	    <label>Sprint</label>${theTask.taskSprint.sprintNumber}
	    #{/if}
	    #{else}
	     <div class="red"><label>Sprint</label>This task isn't assigned to a sprint!</div>
	    #{/else}
	</div>
	<div class="crudField">
	    #{if theTask.taskType}
	    <label>Type</label>${theTask.taskType.name}
	    #{/if}
	    #{else}
	     <div class="red"><label>Type</label>This task doesn't have a type!</div>
	    #{/else}
	</div>
	<div class="crudField">
	    #{if theTask.taskStatus}
	    <label>Status</label>${theTask.taskStatus.name}
	    #{/if}
	    #{else}
	     <div class="red"><label>Status</label>This task doesn't have a type!</div>
	    #{/else}
	</div>
	#{if theTask.estimationPoints}
	<div class="crudField">   
	    <label>Estimation Points</label>${theTask.estimationPoints}
	</div>
	#{/if}
 	#{if theTask.parent}
	<div class="crudField">   
	    <label>Belongs to</label>${theTask.parent.getTaskNumber()}
	</div>
	#{/if}
	#{if theTask.subTasks}
	<div class="crudField"> 
	<label>SubTasks</label>
	#{list items:theTask.subTasks, as:'dt'}
	#{if dt.id==theTask.subTasks.get(theTask.subTasks.size()-1).id}
	<a href="@{Tasks.getReport(dt.id)}" title="goto task ${dt.id}">${dt.getTaskNumber()}</a>
	#{/if}
	#{else}
	<a href="@{Tasks.getReport(dt.id)}" title="goto task ${dt.id}">${dt.getTaskNumber()}</a>, 
	#{/else}
	#{/list}
	</div>
	#{/if}
	#{if theTask.dependentTasks}
	<div class="crudField"> 
	<label>Dependant tasks</label>
	#{list items:theTask.dependentTasks, as:'dt'}
	#{if dt.id==theTask.dependentTasks.get(theTask.dependentTasks.size()-1).id}
	<a href="@{Tasks.getReport(dt.id)}" title="goto task ${dt.id}">${dt.getTaskNumber()}</a>
	#{/if}
	#{else}
	<a href="@{Tasks.getReport(dt.id)}" title="goto task ${dt.id}">${dt.getTaskNumber()}</a>, 
	#{/else}
	#{/list}
	</div>
	#{/if}
	<div id="comments_${theTask.id}"style="margin-top:10px">
	<h1>Comments</h1>
<div class="comment">
#{if theTask.comments}
#{list items:theTask.comments, as:'t'}
#{ifnot t.deleted}
<div class="crudField">
<label>Author</label>${t.author.getDisplayName(theTask.project).raw()}
</div>
<div class="crudField">
<label>Time</label>${new Date(t.timeOfComment)}
</div>
${t.comment.raw()}#{if connected.in(theTask.project).can("modifyTask") || connected.id == t.author.id}
<div class="red" style="text-align:right"><a href="#" class="red"onclick="$.post('@{Comments.deleteComment()}',{id:${t.id}})">delete?</a></div>
#{/if}
#{/ifnot}
#{/list}
#{/if}
#{else}
	<div style="padding: 10px;" class="ui-state-error ui-corner-all"> 
		<span style="float: left; margin-right: 0.3em;" class="ui-icon ui-icon-alert"></span> 
		<strong>There are no comments associated with this task. </strong>
</div>
#{/else}</div>	</div>
#{if connected.projects.contains(theTask.project)}
<div id=""class="comment">
<div class="crudField">
<h1>Add a comment?</h1>
<label>Comment</label>
</div>
<div class="crudField">
<textarea id="theComment"style="width:100%;"></textarea>
</div>
<button onclick="send()">Add comment</button>
<script type="text/javascript">
function send(){
	$.post("@{Comments.addComment()}",{taskId:${theTask.id},comment:$("#theComment").val()});
	
}</script>
</div>
	#{/if}

</div>
<h6><a href="#">Task Change Log</a></h6>
<div>
#{if changes}
<table id="sprintTable"class="sortable draggable">
	<thead style="text-align:left !important">
		<tr><td>Time</td><td>User</td><td>Action</td></tr>
</thead>
#{list items:temp, as:'t'}
<tr>
<td>${new Date(t.timestamp).toString()}</td>
<td>${t.user.name}</td>
<td>${t.message}</td>
</tr>

#{/list}
</table>
#{/if}
#{else}
	<div style="padding: 10px;" class="ui-state-error ui-corner-all"> 
		<span style="float: left; margin-right: 0.3em;" class="ui-icon ui-icon-alert"></span> 
		<strong>There are no changes associated with this task. </strong>
	</div>
#{/else}
</div>
<h6><a href="#">Task Change Log Stats</a></h6>
<div>
#{if changes}
<div style="margin-top:20px;padding: 10px;margin:10px" class="ui-state-highlight ui-corner-all"> 
	<span style="float: left; margin-right: 0.3em;" class="ui-icon ui-icon-info"></span>
	<strong>NOTE: </strong>click and drag the cursor to zoom into the graph, click it to reset the graph.
</div>
   <div id="cSTATS" class="jqplot" style="width:95%">
   </div>
#{/if}
#{else}
	<div style="padding: 10px;" class="ui-state-error ui-corner-all"> 
		<span style="float: left; margin-right: 0.3em;" class="ui-icon ui-icon-alert"></span> 
		<strong>There are no changes associated with this task. </strong>
	</div>
#{/else}
</div>
	
<h6><a href="#">Task Progression Stats</a></h6>
<div>

#{if theTask.estimationPointsPerDay}
	<div style="margin-top:20px;padding: 10px;margin:10px" class="ui-state-highlight ui-corner-all"> 
		<span style="float: left; margin-right: 0.3em;" class="ui-icon ui-icon-info"></span>
		<strong>NOTE: </strong>click and drag the cursor to zoom into the graph, click it to reset the graph.
	</div>
    <div id="STATS" class="jqplot"style="width:95%">
    </div>
#{/if}
#{else}
	<div style="padding: 10px;" class="ui-state-error ui-corner-all"> 
		<span style="float: left; margin-right: 0.3em;" class="ui-icon ui-icon-alert"></span> 
		<strong>There is either not enough data to display, or the current task isnt assigned to a sprint </strong>
	</div>
#{/else}
</div>
</div>
</div>