#{extends 'main.html' /} #{set title:'Task Report' /}
#{ifnot canSee}
<div style="padding: 0pt 0.7em;" class="ui-state-error ui-corner-all"> 
					<p><span style="float: left; margin-right: 0.3em;" class="ui-icon ui-icon-alert"></span> 
					<strong>Alert:</strong> You are prohibited from seeing this page!!!!</p>
				</div>
#{/ifnot}
#{else}
#{set 'crumbs'}
<li><a href="/show/projects">All Projcts</a></li>
<li><a href="/show/project?id=${theTask.taskType.project.id}">${theTask.taskType.project.name}</a></li>

<li><a href="/show/tasks?id=${theTask.taskType.project.id}">${theTask.taskType.project.name}'s Tasks</a></li>
<li><a href="/tasks/getreport?id=${theTask.id}">Task ${theTask.id}</a></li>

#{/set}

#{set 'moreScripts'}
	<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/jquery.jqplot.css'}"/>
	<script language="javascript" type="text/javascript" src="@{'/public/javascripts/jquery.jqplot.js'}"></script>
	<script language="javascript" type="text/javascript" src="@{'/public/javascripts/plugins/jqplot.logAxisRenderer.js'}"></script>
	<script language="javascript" type="text/javascript" src="@{'/public/javascripts/plugins/jqplot.canvasTextRenderer.js'}"></script>
	<script language="javascript" type="text/javascript" src="@{'/public/javascripts/plugins/jqplot.cursor.js'}"></script>
	<script language="javascript" type="text/javascript" src="@{'/public/javascripts/plugins/jqplot.canvasAxisLabelRenderer.js'}"></script>
	<script language="javascript" type="text/javascript" src="@{'/public/javascripts/plugins/jqplot.canvasAxisTickRenderer.js'}"></script>
	<script language="javascript" type="text/javascript" src="@{'/public/javascripts/plugins/jqplot.dateAxisRenderer.js'}"></script>
	<script language="javascript" type="text/javascript" src="@{'/public/javascripts/plugins/jqplot.categoryAxisRenderer.js'}"></script>
	<script language="javascript" type="text/javascript" src="@{'/public/javascripts/plugins/jqplot.barRenderer.js'}"></script>
	<script language="javascript" type="text/javascript" src="@{'/public/javascripts/generateFunction.js'}"></script>

<script  type="text/javascript" src="@{'/public/javascripts/dragtablenorm.js/'}" ></script>
<script  type="text/javascript" src="@{'/public/javascripts/sorttable.js/'}" ></script>
<script type="text/javascript">
function graphed(data)
{
	var xx = '1 day';
	if(data.length>900)
		xx ='1 year';
	if(data.length>365)
		xx = '1 month';
	if(data.length>30)
		xx= '1 week';


	var plot1 = $.jqplot('cSTATS', [data], 
			{
		 series:[
		         {renderer:$.jqplot.BarRenderer,color:'#E5A1A5'}],
	    axes:{
	        xaxis:{
	            renderer:$.jqplot.DateAxisRenderer,
				labelOptions:{fontFamily:'Helvetica',fontSize: '13pt'},
				label:'Day',
				max:'${maxDate}',
				min:'${minDate}',
				tickInterval:xx,
					showTicks: true,
	        }
	    ,
	    
	    yaxis:
		{
			labelOptions:{fontFamily:'Helvetica',fontSize: '13pt'},
			label:'Remainging Points',
			labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
			renderer: $.jqplot.LinearAxisRenderer,  
			showTicks: true, 

			min:0,
		}
	},
	
			
		grid: 
		{
			drawGridLines: true,       
			gridLineColor: '#333333',    
			background: '#f2f2f2',      
			borderColor: '#999999',     
			borderWidth: 2.0,           
			shadow: true,               
			shadowAngle: 45,            
			shadowOffset: 1.5,          
			shadowWidth: 3,             
			shadowDepth: 3,             
			shadowAlpha: 0.07,          
			renderer: $.jqplot.CanvasGridRenderer,     
		},
	    cursor: {tooltipLocation:'sw', zoom:true, clickReset:true}, 
	});
}
function graph(data)
{
	var bla = data;
	var plot1 = $.jqplot('STATS', [data], 
	{
		seriesDefaults:
		{color:'#E5A1A5',
			markerOptions:{style:'square'}
		},
		axes:
		{
			xaxis:
			{
				label:'Days', 
				labelOptions:{ fontFamily:'Helvetica',fontSize: '13pt'},
				labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
				//ticks: xTicks
				tickInterval:1
			}, 
			yaxis:
			{
				labelOptions:{fontFamily:'Helvetica',fontSize: '13pt'},
				label:'Remainging Points',
				labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
			  //  ticks:yTicks
				tickInterval:2
			}
		},
		axesDefaults: 
		{
			renderer: $.jqplot.LinearAxisRenderer,  
			showTicks: true,   
			min:0,
		},			
		grid: 
		{
			drawGridLines: true,       
			gridLineColor: '#333333',    
			background: '#f2f2f2',      
			borderColor: '#999999',     
			borderWidth: 2.0,           
			shadow: true,               
			shadowAngle: 45,            
			shadowOffset: 1.5,          
			shadowWidth: 3,             
			shadowDepth: 3,             
			shadowAlpha: 0.07,          
			renderer: $.jqplot.CanvasGridRenderer,     
		},cursor: {tooltipLocation:'sw', followMouse:true,showVerticalLine:true,showHorizontalLine:true,zoom:true, clickReset:true,showTooltipDataPosition:true}, 
				
	});
}


</script>
#{/set}
#{set 'onLoad'}
	#{ifnot theTask.taskType.name=='Impediment'}
graph(${efforts});
#{/ifnot}graphed(${changes});$('#accordion').accordion({autoHeight: false,
			navigation: true
});
#{/set}

<!--
@author Hadeer Younis
-->
#{if connected.in(myProject).can('editTask')}
#{set 'moreLinks'}
<a href="edit/${theTask.id}">Edit Task</a></h3>
#{/set}
#{/if}
	<h2>Task : ${theTask.id}</h2>
	#{if empty}
		There isn't any change logs associated with this task.
	#{/if}
	#{else}
	    	<div id="NOTE"style="padding: 10px 10px 10px 10px" class="ui-state-highlight ui-corner-all"> 
	<span style="float: left; margin-right: 0.3em;" class="ui-icon ui-icon-info"></span>
	<strong>NOTE: </strong>To zoom in on a graph, simply click and drag and let go. To zoom out just double click the graph!
	<br/><a href="#" onclick="$('#NOTE').css('display','none');">hide me?</a></div>

    <br/>
	<div id="accordion">
    <h3><a href="#">Task Information</a></h3>

    <div>
        	This task has been changed ${numberOfModifications} time, it was last changed on ${lastModified} by ${temp.get(temp.size()-1).user.getDisplayName(myProject).raw().raw()}
		<br/><br/>
		
	#{ifnot theTask.taskType.name=='Impediment'}
    #{if theTask.assignee}
    Assigned to  : <a title="Go to ${theTask.assignee}'s page?"href="@{Show.user(theTask.assignee.id)}">${theTask.assignee.getDisplayName(myProject).raw().raw()}</a><br/>
    #{/if}
    #{else}
    Assigned to  : no one<br/>
    #{/else}
    #{/ifnot}
    #{if theTask.reporter}
    Reported by  : <a title="Go to ${theTask.reporter}'s page?"href="@{Show.user(theTask.reporter.id)}">${theTask.reporter.getDisplayName(myProject).raw().raw()}</a><br/>
	#{/if}
    #{else}
    Reported by  : no one<br/>
    #{/else}
    
	#{ifnot theTask.taskType.name=='Impediment'}
	#{if theTask.reviewer}
	Reviewed by  : <a title="Go to ${theTask.reviewer}'s page?"href="@{Show.user(theTask.reviewer.id)}">${theTask.reviewer.getDisplayName(myProject).raw().raw().raw().raw()}</a>
	#{/if}
    #{else}
    Reviewed by  : no one<br/>
    #{/else}
    #{/ifnot}
	<dir class="clear"></dir>
	#{ifnot theTask.taskType.name=='Impediment'}
	#{if theTask.taskSprint}
	Sprint       : ${theTask.taskSprint.id}<br/>
	#{/if}
    #{else}
    Sprint       : not assigned to a sprint yet<br/>
    #{/else}
	#{if theTask.taskStory.componentID}
	Component    : ${theTask.taskStory.componentID.id}<br/>
	#{/if}
    #{else}
    Component    : not assigned to a component yet<br/>
    #{/else}
    #{/ifnot}
	#{if theTask.taskStatus.project}
	Project      : <a title="Go to ${theTask.taskStatus.project.name}'s main page?"href="@{Show.project(theTask.taskStatus.project.id)}">${theTask.taskStatus.project.name}</a>
	#{/if}
    #{else}
    Project      : doesn't belong to a project yet<br/>
    #{/else}
	<dir class="clear"></dir>
	#{if theTask.taskType}
	Type         : ${theTask.taskType.name}<br/>
	#{/if}
	#{else}
	Type         : undefined<br/>
	#{/else}
	#{if theTask.taskStatus}
	Status       : ${theTask.taskStatus.name}<br/>
	#{/if}
	#{else}
	Status       : undefined<br/>
	#{/else}
	#{if theTask.estimationPoints}
	Total Points : ${theTask.estimationPoints}
	#{/if}
	#{else}
	Total Points : not set yet<br/>
	#{/else}
	<dir class="clear"></dir>
	
	#{ifnot theTask.taskType.name=='Impediment'}
	#{if theTask.taskStory}
	Belongs to Story ${theTask.taskStory.id}:<br/>
	${theTask.taskStory.description}
		<dir class="clear"></dir>
	#{/if}
	#{else}
	<div style="padding: 10px 10px 10px 10px;" class="ui-state-error ui-corner-all">
	<span style="float: left; margin-right: 0.3em;" class="ui-icon ui-icon-alert"></span>This Task doesn't belong to a story!
	</div>
	#{/else}
	#{/ifnot}
	#{if theTask.description}
	Description:<br/>
	${theTask.description}
	<dir class="clear"></dir>
	#{/if}
	#{else}
	<div style="padding: 10px 10px 10px 10px"class="ui-state-error ui-corner-all">
	<span style="float: left; margin-right: 0.3em;" class="ui-icon ui-icon-alert"></span>This Task doesn't have a description!
	</div>
	#{/else}
	#{if theTask.dependentTasks}
	Dependent Tasks:<br/>
	#{list items:theTask.dependentTasks, as:'dt'}
	#{if dt.id==theTask.dependentTasks.get(theTask.dependentTasks.size()-1)}
	
	<a href="@{Tasks.getReport(dt.id)}" title="goto task ${dt.id}">${dt.id}</a>
	#{/if}
	#{else}
	<a href="@{Tasks.getReport(dt.id)}" title="goto task ${dt.id}">${dt.id}</a>, 
	#{/else}
	#{/list}
	#{/if}
	#{else}
	<div style="padding: 10px 10px 10px 10px" class="ui-state-highlight ui-corner-all"> 
	<span style="float: left; margin-right: 0.3em;" class="ui-icon ui-icon-info"></span>No other tasks depend on this task!
	</div>
	#{/else}
	
</div>

     <h3><a href="#">Task Change Log</a></h3>
  
    <div>
<table class="sortable draggable">

#{list items:temp, as:'t'}
<thead><td>
${t.date.toString()}</td>
<td></td>
</thead>
<tr>
<td>Action</td>
<td>${t.action_type}</td>
</tr>
<tr>
<td>By User</td>
<td>${t.user.name}</td>
</tr>

#{/list}
</table>

</div>
             <h3><a href="#">Task Change Log Stats</a></h3>
  <div>
   <div id="cSTATS" class="jqplot" style="width:95%">
    </div>
        	<div style="margin-top:20px;padding: 10px 10px 10px 10px" class="ui-state-highlight ui-corner-all"> 
	<span style="float: left; margin-right: 0.3em;" class="ui-icon ui-icon-info"></span>
	<strong>NOTE: </strong>click and drag the cursor to zoom into the graph, click it to reset the graph.
	</div></div>
	
	
	#{ifnot theTask.taskType.name=='Impediment'}
    <h3><a href="#">Task Progression Stats</a></h3>
  <div>#{if theTask.taskSprint}
    <div id="STATS" class="jqplot"style="width:95%">
    </div>
    	<div style="margin-top:20px;padding: 10px 10px 10px 10px" class="ui-state-highlight ui-corner-all"> 
	<span style="float: left; margin-right: 0.3em;" class="ui-icon ui-icon-info"></span>
	<strong>NOTE: </strong>click and drag the cursor to zoom into the graph, click it to reset the graph.
	</div>
	#{/if}
	#{else}
	<div style="padding: 0pt 0.7em;" class="ui-state-error ui-corner-all"> 
					<p><span style="float: left; margin-right: 0.3em;" class="ui-icon ui-icon-alert"></span> 
					<strong>This task isn't assigned to a certain sprint. Please assign it to a sprint in order to see the task progress </strong></p>
				</div>
	#{/else}
    </div>
    #{/ifnot}
</div>
	
	#{/else}

#{/else}