#{extends 'overlay.html' /} #{set title:'Task Report' /}
#{set 'moreScripts'}
	<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/jquery.jqplot.css'}"/>
	<script language="javascript" type="text/javascript" src="@{'/public/javascripts/jquery.jqplot.js'}"></script>
	<script language="javascript" type="text/javascript" src="@{'/public/javascripts/plugins/jqplot.logAxisRenderer.js'}"></script>
	<script language="javascript" type="text/javascript" src="@{'/public/javascripts/plugins/jqplot.canvasTextRenderer.js'}"></script>
	<script language="javascript" type="text/javascript" src="@{'/public/javascripts/plugins/jqplot.cursor.js'}"></script>
	<script language="javascript" type="text/javascript" src="@{'/public/javascripts/plugins/jqplot.canvasAxisLabelRenderer.js'}"></script>
	<script language="javascript" type="text/javascript" src="@{'/public/javascripts/plugins/jqplot.canvasAxisTickRenderer.js'}"></script>
	<script language="javascript" type="text/javascript" src="@{'/public/javascripts/plugins/jqplot.dateAxisRenderer.js'}"></script>
	<script language="javascript" type="text/javascript" src="@{'/public/javascripts/plugins/jqplot.categoryAxisRenderer.js'}"></script>
	<script language="javascript" type="text/javascript" src="@{'/public/javascripts/plugins/jqplot.barRenderer.js'}"></script>

<script type="text/javascript">
function graphed(data)
{
	var xx = '1 day';
	if(data.length>900)
		xx ='1 year';
	if(data.length>365)
		xx = '1 month';
	if(data.length>30)
		xx= '1 week';


	var plot1 = $.jqplot('cSTATS', [data], 
			{
		 series:[
		         {renderer:$.jqplot.BarRenderer,color:'#E5A1A5'}],
	    axes:{
	        xaxis:{
	            renderer:$.jqplot.DateAxisRenderer,
				labelOptions:{fontFamily:'Helvetica',fontSize: '13pt'},
				label:'Day',
				max:'${maxDate}',
				min:'${minDate}',
				tickInterval:xx,
					showTicks: true,
	        }
	    ,
	    
	    yaxis:
		{
			labelOptions:{fontFamily:'Helvetica',fontSize: '13pt'},
			label:'Remainging Points',
			labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
			renderer: $.jqplot.LinearAxisRenderer,  
			showTicks: true, 

			min:0,
		}
	},
	
			
		grid: 
		{
			drawGridLines: true,       
			gridLineColor: '#333333',    
			background: '#f2f2f2',      
			borderColor: '#999999',     
			borderWidth: 2.0,           
			shadow: true,               
			shadowAngle: 45,            
			shadowOffset: 1.5,          
			shadowWidth: 3,             
			shadowDepth: 3,             
			shadowAlpha: 0.07,          
			renderer: $.jqplot.CanvasGridRenderer,     
		},
	    cursor: {tooltipLocation:'sw', zoom:true, clickReset:true}, 
	});
}
function graph(data)
{
	var xx = '1 day';
	if(data.length>900)
		xx =360;
	if(data.length>365)
		xx = 30;
	if(data.length>30)
		xx= 7;
	var bla = data;
	var plot1 = $.jqplot('STATS', [data], 
	{
		seriesDefaults:
		{color:'#E5A1A5',showMarker:false
		},
		axes:
		{
			xaxis:
			{
				label:'Days', 
				labelOptions:{ fontFamily:'Helvetica',fontSize: '13pt'},
				labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
				//ticks: xTicks
				tickInterval:xx
			}, 
			yaxis:
			{
				labelOptions:{fontFamily:'Helvetica',fontSize: '13pt'},
				label:'Remainging Points',
				labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
			  //  ticks:yTicks
				tickInterval:2
			}
		},
		axesDefaults: 
		{
			renderer: $.jqplot.LinearAxisRenderer,  
			showTicks: true,   
			min:0,
		},			
		grid: 
		{
			drawGridLines: true,       
			gridLineColor: '#999',    
			background: '#f2f2f2',      
			borderColor: '#999999',     
			borderWidth: 2.0,           
			shadow: true,               
			shadowAngle: 45,            
			shadowOffset: 1.5,          
			shadowWidth: 3,             
			shadowDepth: 3,             
			shadowAlpha: 0.07,          
			renderer: $.jqplot.CanvasGridRenderer,     
		},cursor: {tooltipLocation:'sw', followMouse:true,showVerticalLine:true,showHorizontalLine:true,zoom:true, clickReset:true,showTooltipDataPosition:true}, 
				
	});
}


</script>
#{/set}
#{set 'onLoad'}
;
#{if theTask.estimationPointsPerDay}
graph(${efforts});
#{/if}

#{if changes.size()!=0}
graphed(${changes});
#{/if}
$('#accordion').accordion({autoHeight: false,navigation: true});
#{/set}
	<h1>Task ${theTask.number} : ${theTask.description} </h1>
	#{if empty}
		There isn't any change logs associated with this task.
	#{/if}
	#{else}
	<div id="accordion">
    <h6><a href="#">Task Information</a></h6>

    <div>
        	This task has been changed ${numberOfModifications} time, it was last changed on ${lastModified} by ${temp.get(temp.size()-1).user.getDisplayName(myProject).raw().raw()}
		<br/><br/>
			#{if theTask.description}
	Description:<br/>
	${theTask.description}
	<dir class="clear"></dir>
	#{/if}
	#{else}
	<div style="padding: 10px;margin:10px"class="ui-state-error ui-corner-all">
	<span style="float: left; margin-right: 0.3em;" class="ui-icon ui-icon-alert"></span>This Task doesn't have a description!
	</div>
	#{/else}
    #{if theTask.assignee}
    Assigned to  : ${theTask.assignee.getDisplayName(myProject).raw()}<br/>
    #{/if}
    #{else}
    Assigned to  : no one<br/>
    #{/else}

    #{if theTask.reporter}
    Reported by  : ${theTask.reporter.getDisplayName(myProject).raw()}<br/>
	#{/if}
    #{else}
    Reported by  : no one<br/>
    #{/else}
    
	#{if theTask.reviewer}
	Reviewed by  : ${theTask.reviewer.getDisplayName(myProject).raw()}<br/>
	#{/if}
    #{else}
    Reviewed by  : no one<br/>
    #{/else}

	<dir class="clear"></dir>
	#{if theTask.taskSprint}
	Sprint       : ${theTask.taskSprint.id}<br/>
	#{/if}
    #{else}
    Sprint       : not assigned to a sprint yet<br/>
    #{/else}
	#{if theTask.component}
	#{if theTask.component.name.equalsIgnoreCase("Default Component")}
	#{/if}
	#{else}
	Component    : ${theTask.component.id}<br/>
	#{/else}
	#{/if}
    #{else}
    Component    : not assigned to a component yet<br/>
    #{/else}
	#{if theTask.project}
	Project      : ${theTask.project.name}
	#{/if}
    #{else}
    Project      : doesn't belong to a project yet<br/>
    #{/else}
	<dir class="clear"></dir>
	#{if theTask.taskType}
	Type         : ${theTask.taskType.name}<br/>
	#{/if}
	#{else}
	Type         : undefined<br/>
	#{/else}
	#{if theTask.taskStatus}
	Status       : ${theTask.taskStatus.name}<br/>
	#{/if}
	#{else}
	Status       : undefined<br/>
	#{/else}
	#{if theTask.estimationPoints}
	Total Points : ${theTask.estimationPoints}
	#{/if}
	#{else}
	Total Points : not set yet<br/>
	#{/else}
	<dir class="clear"></dir>
	
	#{if theTask.parent}
	Belongs to Task ${theTask.parent.number}:<br/>
	${theTask.parent.description}
		<dir class="clear"></dir>
	#{/if}
	#{else}

	#{/else}
	#{if theTask.subTasks}
	SubTasks:<br/>
	#{list items:theTask.subTasks, as:'dt'}
	#{if dt.id==theTask.subTasks.get(theTask.subTasks.size()-1)}
	
	<a href="@{Tasks.getReport(dt.id)}" title="goto task ${dt.id}">${dt.number}</a>
	#{/if}
	#{else}
	<a href="@{Tasks.getReport(dt.id)}" title="goto task ${dt.id}">${dt.number}</a>, 
	#{/else}
	#{/list}
	#{/if}
	#{else}
	<div style="padding: 10px;margin:10px" class="ui-state-highlight ui-corner-all"> 
	<span style="float: left; margin-right: 0.3em;" class="ui-icon ui-icon-info"></span>This task has no subtasks
	</div>
	#{/else}
	#{if theTask.dependentTasks}
	Dependent Tasks:<br/>
	#{list items:theTask.dependentTasks, as:'dt'}
	#{if dt.id==theTask.dependentTasks.get(theTask.dependentTasks.size()-1)}
	
	<a href="@{Tasks.getReport(dt.id)}" title="goto task ${dt.id}">${dt.number}</a>
	#{/if}
	#{else}
	<a href="@{Tasks.getReport(dt.id)}" title="goto task ${dt.id}">${dt.number}</a>, 
	#{/else}
	#{/list}
	#{/if}
	#{else}
	<div style="padding: 10px;margin:10px" class="ui-state-highlight ui-corner-all"> 
	<span style="float: left; margin-right: 0.3em;" class="ui-icon ui-icon-info"></span>No other tasks depend on this task!
	</div>
	#{/else}
	
</div>
<h6><a href="#">Task Comments</a></h6>
<div>
#{if theTask.comments}
#{list items:theTask.comments, as:'t'}
<b>User: </b>${t.author}<br/>
<b>Time: </b><span class="formatTime">${t.timeStamp}</span><br/>
${t.Comment}
<br/>
<br/>
<hr/>
<br/>
<br/>
#{/list}
#{/if}
#{else}
	<div style="padding: 10px;" class="ui-state-error ui-corner-all"> 
		<span style="float: left; margin-right: 0.3em;" class="ui-icon ui-icon-alert"></span> 
		<strong>There are no comments associated with this task. </strong>
	</div>
#{/else}
</div>
<h6><a href="#">Task Change Log</a></h6>
<div>
#{if changes}
<table id="sprintTable"class="sortable draggable">
	<thead style="text-align:left !important">
		<tr><td>Time</td><td>User</td><td>Action</td></tr>
</thead>
#{list items:temp, as:'t'}
<tr>
<td>${t.date.toString().substring(0,9)}</td>

<td>${t.user.name}</td>

<td>${t.action_type}</td>
</tr>

#{/list}
</table>
#{/if}
#{else}
	<div style="padding: 10px;" class="ui-state-error ui-corner-all"> 
		<span style="float: left; margin-right: 0.3em;" class="ui-icon ui-icon-alert"></span> 
		<strong>There are no changes associated with this task. </strong>
	</div>
#{/else}
</div>
<h6><a href="#">Task Change Log Stats</a></h6>
<div>
#{if changes}
<div style="margin-top:20px;padding: 10px;margin:10px" class="ui-state-highlight ui-corner-all"> 
	<span style="float: left; margin-right: 0.3em;" class="ui-icon ui-icon-info"></span>
	<strong>NOTE: </strong>click and drag the cursor to zoom into the graph, click it to reset the graph.
</div>
   <div id="cSTATS" class="jqplot" style="width:95%">
   </div>
#{/if}
#{else}
	<div style="padding: 10px;" class="ui-state-error ui-corner-all"> 
		<span style="float: left; margin-right: 0.3em;" class="ui-icon ui-icon-alert"></span> 
		<strong>There are no changes associated with this task. </strong>
	</div>
#{/else}
</div>
	
<h6><a href="#">Task Progression Stats</a></h6>
<div>

#{if theTask.estimationPointsPerDay}
	<div style="margin-top:20px;padding: 10px;margin:10px" class="ui-state-highlight ui-corner-all"> 
		<span style="float: left; margin-right: 0.3em;" class="ui-icon ui-icon-info"></span>
		<strong>NOTE: </strong>click and drag the cursor to zoom into the graph, click it to reset the graph.
	</div>
    <div id="STATS" class="jqplot"style="width:95%">
    </div>
#{/if}
#{else}
	<div style="padding: 10px;" class="ui-state-error ui-corner-all"> 
		<span style="float: left; margin-right: 0.3em;" class="ui-icon ui-icon-alert"></span> 
		<strong>There is either not enough data to display, or the current task isnt assigned to a sprint </strong>
	</div>
#{/else}
</div>
</div>
#{/else}