<!--This page is to override the Crud.show of the Tasks, I specified some attributes to appear
	while editing.
	Author: Monayri
-->

#{extends 'overlay.html' /}
#{set 'moreStyles'}
<style type="text/css">
	.ac_results {
		background: #eee;
		border: 2px solid #bbb;
		border-radius:10px;
		border-top-right-radius: 0;
		border-top-left-radius: 0;
	}
	.ac_results ul {
		list-style: none;
	}
	.ac_results ul li {
		font-size:small;
	}
	
</style>
#{/set}

<script type="text/javascript" src="@{'/public/javascripts/jquery.autocomplete.js/'}"></script>

<div id="crudShow" class="${type.name}">
	
	<h2 id="crudShowTitle">&{'crud.show.title', type.modelName}</h2>
	<font color="Red">${message}</font>

	<div class="objectForm">
	#{form action:@save(object.id), enctype:'multipart/form-data'}
	#{crud.form fields:['parent','description', 'taskType', 'taskStatus', 'component'  , 'estimationPoints', 'reporter',
	  'dependentTasks','taskSprint', 'assignee', 'reviewer', 'comment', 'subTasks']}	
			
			
			#{crud.custom 'parent'}
			#{if object.parent!=null}
			<label for="task_parent">Parent</label> 
			<p>
			<span id="task_Story2"><font color="green">${object.parent.description}</font></span> 
			</p>
			#{/if}
			#{/crud.custom }
			
			#{crud.custom 'description' }
			<label for="object_description">Description	</label>
			<textarea id="object_description"  name="object.description" ROWS="4" COLS="60" onclick="f();">#{if object.productRole==null}${object.description}#{/if}#{elseif object.productRole!=null && (object.productRole.name[0]=='a'||object.productRole.name[0]=='e'||object.productRole.name[0]=='i'||object.productRole.name[0]=='o')}As an ${object.productRole.name}, ${object.description}#{/elseif}#{elseif object.productRole!=null}As a ${object.productRole.name}, ${object.description}#{/elseif}</textarea>
    		<span class="crudHelp" style="color:red">*</span>
			<div style="display:none" class="d">Ex: As a/an product role, description</div>
			<span class="error"></span>
			#{/crud.custom}
		
					
			#{crud.custom 'taskStatus'}
			<p>
			<label for="task_type">Status</label>
			<select id="object_taskStatus" name="object.taskStatus@id">
								#{list items:statuses ,as :'Status'}
									<option value="${Status.id}"#{if object.taskStatus == Status} selected#{/if}>${Status.name}</option>
								#{/list}		
			</select>
			</p>
			#{/crud.custom }
				
		
			
			#{crud.custom 'taskType'}
			<p>
			<label for="task_type">Type</label> 
			<select id="object_taskType" name="object.taskType@id">
								#{list items:types ,as :'Type'}
									<option value="${Type.id}"#{if object.taskType == Type} selected#{/if}>${Type.name}</option>
								#{/list}		
			</select>
			</p>
			#{/crud.custom }
			
			#{crud.custom 'component'}
			<p>
			<label for="task_type">Component</label>
			<select id="object_component" name="object.component@id" onchange="getUsers()">
								#{list items:object.project.components ,as :'component'}
								#{if component.name=='default component'}
									<option value="${component.id}"#{if object.component == component} selected#{/if}>None</option>
								#{/if}
								#{else}	
									<option value="${component.id}"#{if object.component == component} selected#{/if}>${component.name}</option>
								#{/else}
								#{/list}		
			</select>
			</p>
			#{/crud.custom }
			
			#{crud.custom 'estimationPoints'}
			<p> 
			<label for="object_estimationPoints">Estimation Points</label> 
			<input id="object_estimationPoints" type="text" name="object.estimationPoints" 
			size="5"  value = "${object.estimationPoints}"/> 
			<span class="crudHelp" ><font color="Red">*</font>Numeric.</span> 
 			</p> 
			#{/crud.custom }
			
			
			#{crud.custom 'reporter'}
			<p>
			<label for="task_reporter">Reporter</label> 
			<span id="task_reporter2" ><font color="green">${object.reporter.name}</font></span> 
			</p>
			#{/crud.custom }
			
			#{crud.custom 'assignee'}
			<p>
			<label for="object_assignee">Assignee</label>
			<select id="object_assignee" name="object.assignee@id" onChange = "change_reviewers();">
					<option value="">(None)</option>
				#{list items:users ,as :'User'}
				#{if object.assignee !=null}
				#{if User.name != object.reviewer.name}
				#{if object.assignee!=null}<option value="${User.id}"#{if object.assignee.id == User.id} selected#{/if}>${User.name}</option>#{/if}
				#{/if}
				#{/if}
				#{else}
				<option value="${User.id}"#{if object.assignee == User} selected#{/if}>${User.name}</option>
				#{/else}
				#{/list}		
	</select>
			</p>
			#{/crud.custom}
	
			#{crud.custom 'reviewer'}
			<label for="object_reviewer">Reviewer</label>
			<select id="object_reviewer" name="object.reviewer@id" >
				<option value="">(None)</option>
				#{list items:users ,as :'User'}
				#{if object.assignee !=null}
				#{if User.name != object.assignee.name}
				#{if object.reviewer!=null}<option value="${User.id}"#{if object.reviewer.id == User.id} selected#{/if}>${User.name}</option>#{/if}
				#{/if}
				#{/if}
				#{else}
				<option value="${User.id}"#{if object.reviewer == User} selected#{/if}>${User.name}</option>
				#{/else}
				#{/list}		
			</select>
			#{/crud.custom}
			
			
			#{crud.custom 'dependentTasks'}
			<p>
			<label for="object_dependentTasks"> Dependent Tasks</label> 
			<input type="hidden" name="object.dependentTasks@id" value="" /> 
			<select id="object_dependentTasks" name="object.dependentTasks@id" multiple="yes"> 
									#{list items:dependencies ,as :'Task'}
											<option value="${Task.id}" #{if object.dependentTasks.contains(Task)}selected#{/if}>${Task.description}</option>
									#{/list} 
			</select> 
			</p>
			#{/crud.custom }
			
			#{crud.custom 'taskSprint'}
			<p>
			<label for="object_taskSprint">Sprint</label> 
			<span>
			<font color="green">&nbsp;&nbsp;#{if object.taskSprint}Sprint ${object.taskSprint.sprintNumber}#{/if}#{else} The Task is not assigned to a Sprint.#{/else}</font>
			</span>
			</p>
			#{/crud.custom }
			
			#{crud.custom 'comment'}
				<label for="object_comment">Comments and Actions</label>
				<input type="hidden" name="object.comment@id" value="" />
				<textarea id="object_comment" name="object.comment"></textarea>
				<div name="comments">
				<table>
				#{list items:comments, as:'comment'}
					#{ifnot comment.deleted}
						<tr>
							<td><b>${comment.author} (<i><span class="formatTime">${comment.timeOfComment}</span></i>)</b></td>
							<td>${comment.comment.raw()} - <a href="#" onclick="deleteComment(${comment.id}, ${object.id});"><img src="@{'public/images/famfam/delete.png'}"></a></td>
						</tr>
					#{/ifnot}
				#{/list}
				</table>
				</div>
			#{/crud.custom}
			
			#{if object.subTasks.size()==0}
			#{crud.custom 'subTasks'}
			#{/crud.custom}
			#{/if}
			
		#{/crud.form }
			
		<p class="crudButtons">
			<input type="submit" name="_save" value="&{'crud.save', type.modelName}" />
		</p>
	#{/form}
	</div>
	#{if deletable}
	<form action="@{delete(object.id)}?x-http-method-override=DELETE" method="POST" accept-charset="utf-8" enctype="application/x-www-form-urlencoded" onSubmit="return confirm('${message2}');">	
				<p class="crudDelete">
					<input type="submit" value="&{'crud.delete', type.modelName}" />
				</p>
	</form>
	#{/if}
	
	#{if !deletable}
		<label><font color="green">&nbsp;&nbsp;The task can't be deleted As some other tasks depends on it !</font></label>
	#{/if}
</div>

<script type="text/javascript">

	var data='${productRoles}'.split("-");
	$("#object_description").autocomplete(data);
	
	function f()
	{
		$('.d').css('display','inline-block');
	}
	
	function product_role(id)
	{
		$.post('/Storys/addProductRole' ,			
			{projectID:id,						
			description:$("#example").val()});
	} 

	function change_reviewers(){
    var value = $('#object_component').val();
	var value2 = $('#object_assignee').val(); 
    $.post('@{reviewers}', {id:value, id2 : value2}, function(data){
		str = '<option value="">(None)</option>';
		$.each(data, function(id, item){
			str += '<option value='+item.id+'>'+item.name+'</option>';
		});
		$('#object_reviewer').html( str );
	}); 
    
	}

	function deleteComment(cId,tIdd){
		$.post('/comments/deleteComment', {id:cId}, function(msg){
			$.bar({message:msg});
		});
		$.post('/comments/listCommentsOfTask', {tId:tIdd}, function(data){
			$("[name='comments']").html(data);
		});
	}
function getUsers()
{
	var compId = $('#object_component').val();
	$.post('@{componentUsers}', {cid : compId}, function(data){
		str = '<option value="">(None)</option>';
		$.each(data, function(id, item){
			str += '<option value='+item.id+'>'+item.name+'</option>';
		});
		$('#object_assignee').html( str );
		$('#object_reviewer').html( str );
	}); 
    
}
	</script>

