#{extends 'CRUD/layout.html' /}

<div id="crudBlank" class="${type.name}">
	
	<h2 id="crudBlankTitle">&{'crud.blank.title', type.modelName}</h2>
	
	<div class="objectForm">
	#{form action:@create(), enctype:'multipart/form-data'}
	#{crud.form fields:[ 'name' ]}
	#{crud.custom 'name'}
			<label for="object_name">Name</label> 
			<input id="object_name" class="" type="text" name="object.name" value="" size="50" /> 
			<span class="crudHelp"><font color="Red">*.MaxSize 100</font></span>
			#{/crud.custom}
	
		#{/crud.form }
		<input id="object_project" name="object.project@id" value="${project.id}" type="hidden"/>
		<p class="crudButtons">
			<input type="submit" name="_save" value="&{'crud.save', type.modelName}" />
			<input type="submit" name="_saveAndContinue" value="&{'crud.saveAndContinue', type.modelName}" />
			<input type="submit" name="_saveAndAddAnother" value="&{'crud.saveAndAddAnother', type.modelName}" />
		</p>
	#{/form}
	</div>

</div>