#{set id:controllers.Application.randomHash() /}
<script type="text/javascript">
$(function(){
var i =0;
	$("##{get 'id' /}_content div[name]").each(function(){	
		if($(this).attr('class')=='overlay')
		{
			var id2 = "uipp#{get 'id'/}" +i;
			i++;
			var head = '<div id="'+id2+'_header" onclick="overlayOpen('+$(this).attr('name')+')" class="ui-widget-header">' + $(this).html() + '</div>';
			$(this).html(head);
			$(this).attr('id', id2);
		}else{
			var id2 ="uipp#{get 'id'/}"+i;
			i++;
			var head ='<div id="'+id2+'_header" class="ui-widget-header"><span class="revertFrom"><span class="ui-icon ui-icon-circle-close"></span></span><span class="min"onclick="$(this).children().toggle();"><span class="ui-icon ui-icon-circle-triangle-n" style="display: none;"></span><span class="ui-icon ui-icon-circle-triangle-s"></span></span>'+$(this).html()+'</div>';
			$(this).html(head);
			$(this).addClass('ui-widget-content draggableChild');
	
			$(this).attr('id',id2);
			$(this).append('<div id="'+id2+'_content" class="ui-widget-content" ></div>');
		}
	});	
});
</script>
<div  id="#{get 'id' /}" class="ui-widget-content draggable allCornersRounded">
	<div  id="#{get 'id' /}_header"class="ui-widget-header mainH">
		#{get 'title'/}
		<span class="revertFrom">
			<span class="ui-icon ui-icon-circle-close"></span>
		</span>
			<span class="min"onclick="$(this).children().toggle();">
			<span class="ui-icon ui-icon-circle-triangle-s" style="display: none;"></span>
			<span class="ui-icon ui-icon-circle-triangle-n"></span>
		</span>

			</div>
			
	
	<div id="#{get 'id'/}_content" class="ui-widget-content actual" >
	#{doLayout /}
	</div>
	<div id="icons" style="display:none;">
#{get 'title'/}
</div>
</div>
