<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>#{get 'title' /}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="stylesheet" type="text/css" media="screen" href="/public/stylesheets/generic.css"/>
  		<link rel="stylesheet" type="text/css" media="screen" href="/public/stylesheets/m.css"/>
  		
        <link rel="stylesheet" type="text/css" media="screen" href="/public/stylesheets/main.css"/>
		<link rel="stylesheet" type="text/css" media="screen"href="@{'/public/stylesheets/tipTip.css'}"/>
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/jquery-ui-1.8.custom.css'}"/>
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/jquery.jbar.css'}"/>
	
		<link rel="shortcut icon" href="@{'public/images/favicon.ico'}" type="image/x-icon"/> 
        #{get 'moreStyles' /}
 
        <script src="@{'/public/javascripts/jquery-1.4.min.js'}" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="@{'public/javascripts/jquery-ui-1.8.custom.min.js'}"> </script>
		<script type="text/javascript" src="@{'public/javascripts/timepicker.js'}"> </script>
		<script type="text/javascript" src="@{'public/javascripts/jquery.jBreadCrumb.1.1.js'}"> </script>
        <script src="@{'/public/javascripts/date.js'}" type="text/javascript" charset="utf-8"></script>
       	<script src="@{'/public/javascripts/jquery.tipTip.js'}" type="text/javascript"charset="utf-8"></script>
       	<script src="@{'/public/javascripts/md5.js'}" type="text/javascript"charset="utf-8"></script>
       	<script src="@{'/public/javascripts/more.js'}" type="text/javascript"charset="utf-8"></script>
		<script type="text/javascript" src="/public/javascripts/jquery.gritter.min.js"></script>
        <script src="@{'/public/javascripts/jquery.bar.js'}" type="text/javascript" charset="utf-8"></script>
        
        <script src="@{'/public/javascripts/functions.js'}" type="text/javascript" charset="utf-8"></script>
        #{get 'moreScripts' /}
              <script src="@{'/public/javascripts/skinSwitcher.js'}" type="text/javascript" charset="utf-8"></script>
		
        <script type="text/javascript">
       
       		$(function(){
       			$("#breadCrumb").jBreadCrumb();
       			$('.formatDate').each(function(){
					$(this).html( formatDate( new Date(getDateFromFormat($(this).html(),'yyyy-MM-dd HH:mm:ss')), 'd MMM, yyyy') );
				});
       			$('.formatTime').each(function(){
					$(this).html( formatDate( new Date(Number($(this).html())), 'd MMM, yyyy hh:mma') );
				});
       		
   			    $("a").tipTip({delay:0});
   			    $("td").tipTip({delay:0});
   			    $("span").tipTip({delay:0});
   			    $('div.crudField').each(function(){
						if ($(this).html().trim() == '') {
							$(this).remove();
						}
   	   			    });
   			    #{if connected}
	 			getNotifications();
				ping();
   			    #{/if}
       		});
        </script>
</head>
<body id="mainBodyTag"onload="#{get 'onLoad' /}">
<div id="getOverlay" style="position:absolute;top:0px;left:0px;width:100%;min-height:100%;display:none;z-index:9999;overflow:auto">
<div style="background-color:rgba(0,0,0,0.7);position:fixed;top:0px;left:0px;width:100%;height:100%;z-index:9997"></div>
<div id ="overlayContent" style="width:80%;height:80%; padding:10%;overflow:auto;position:relative;z-index:9998">
	<div id="overlayContentHolder" style="background-color:transparent;width:50%;height:50%;margin:auto auto auto auto;padding:10px;overflow:auto">
	<div class="topCornersRounded left" style="padding:5px; width:70px;background-color:#fff;text-align:center">
	<a href="#" onclick="$('#getOverlay').hide()">close</a></div>
	<br style="clear:both"/>
	<iframe id="theLoadedContent" class="autoHeight" style="width:100%;border:0px;background:transparent !important;">
	
	</iframe>
	</div>
</div>
</div>
<div class="topBar">
#{if connected?.isAdmin}
	<a class="aDIV topCornersRounded" href="/admin" style="color: #E5A1A5;" title="View the admin panel">Admin Panel</a>
#{/if}
	<a class="aDIV topCornersRounded" href="@{About.index}" title="read aboout SmartSoft?">About Us</a>  #{if connected}
	#{list connected.projects, as:'proj'}
	<a class="aDIV topCornersRounded right" href="#"onclick="$('.workspaces').hide();$('#${proj.id}_workspace').show();" style="width: 120px !important" title="Want to see your projects?">
	${proj.name}</a> 
	#{/list}
#{/if}
</div>

#{list connected?.projects, as:'proj'}
<div id="#${proj.id}_workspace" class="workspaces">
<div class="topper nav">
<a href="#" onclick="loadBox('@{Projects.settings(proj.id)}','workspace_${proj.id}')">Settings</a> 
<a  href="#"onclick="loadBox('@{Projects.events(proj.id)}','workspace_${proj.id}')">Events</a>  
<a href="#" onclick="">Users</a> 
<a href="#" onclick="">Stroies</a>
<a  href="#"onclick="loadBox('/projects/${proj.id}/components','workspace_${proj.id}')">Components</a>
</div>
<div class="topper">
						<div class="left">
						#{if connected}
							Hello ${connected.name}!&nbsp;&nbsp;|&nbsp;&nbsp;
							<a href="/show/user?id=${controllers.Security.getConnected().id}">Profile</a>&nbsp;&nbsp;|&nbsp;&nbsp;
							<a href="#" id="chatlink"onclick="$('#chatroomList').slideToggle(200);$('#chatlink').toggleClass('topCornersRounded white')">Chatroom</a>&nbsp;&nbsp;|&nbsp;&nbsp;
						#{/if}
							<a href="#" id="skinlink"onclick="$('#skinList').slideToggle(200);$('#skinlink').toggleClass('topCornersRounded white')">Change Color</a>&nbsp;&nbsp;
						
						#{ifnot connected}
							<a href="@{Accounts.register}">|&nbsp;&nbsp;Register</a>
						#{/ifnot}
						</div>
						
							
							<div class="right">
							#{if connected}
								<a href="/secure/logout" title="Logout from the system">Logout</a>
						#{/if}
							</div>
							<br style="clear:both"/>
							#{if connected}
							<div id="chatroomList">
 								<div class="allCornersRounded chatroomListHolder" >
 								#{list connected.projects, as:'proj'}
 									<a href="#" onclick="$('#chatContainer_${proj.name}').slideToggle(400);#{ifnot connected.openChats.contains(proj.chatroom)}signIn(${proj.chatroom.id});getMessages${proj.id}();#{/ifnot}">${proj.name}</a>
 									<br/> 	
							 	#{/list}
								</div>
							</div>
							<div id="skinList">
 								<div class="allCornersRounded skinListHolder" >
 									<a href="javascript:"onclick="chooseStyle('blue', 60)">Blue</a>
 									<br/>
 									<a href="javascript:"onclick="chooseStyle('green', 60)">Green</a>
 									<br/>
 									<a href="javascript:"onclick="chooseStyle('red', 60);$('#theLogoImage').attr('src','@{'/public/images/smartsoftred.png'}');">Red</a>
 									<br/>
 									<a checked="checked"href="javascript:"onclick="chooseStyle('original', 60)">Purple</a>
								</div>
							</div>
						</div>
						<div id="chatContainer">
						#{list connected.projects, as:'proj'}
							<div id="chatContainer_${proj.name}"style="width:225px;#{ifnot connected.openChats.contains(proj.chatroom)}display:none;#{/ifnot}">
								<div class="chatContainerHeader">
									${proj.name} Chat 
									<a id="${proj.name}_min"class="right"href="#" title="minimize?" onclick="$('#chatHolder_${proj.name}').slideToggle(400);$('#${proj.name}_max').slideToggle(400);$('#${proj.name}_min').slideToggle(400);" style="text-decoration:none; color:#fff">[-]</a>
									<a id="${proj.name}_max"class="right"href="#" title="minimize?" onclick="$('#chatHolder_${proj.name}').slideToggle(400);$('#${proj.name}_max').slideToggle(400);$('#${proj.name}_min').slideToggle(400);" style="display:none;text-decoration:none; color:#fff">[+]</a>
									<a class="right"href="#" title="signout?" onclick="signOut(${proj.chatroom.id});$('#chatContainer_${proj.name}').slideToggle(400);" style="text-decoration:none; color:#fff">[x]</a>
								</div>
								<div id="chatHolder_${proj.name}">
									<div id="thread_${proj.name}" class="thread">
										<script type="text/html" id="message_tmpl">
											<div class="<%= message.author == 'notice' ? 'notice allCornersRounded' : message.author == '${connected.name}' ? 'you' : 'them' %>">		
												<strong class="title" style="<%= message.author == 'notice' ? 'display:none !important' : '' %>"><%= message.author%></strong> 
												<%= message.message.replace('\n', '<br/>') %>
											</div>
										</script>
										<div id ="threader_${proj.name}"></div>
									</div>
									<div id="newMessage" class="chatboxinput">	
										<textarea id="message_${proj.name}" name="message_${proj.name}" class="chatboxtextarea"></textarea>
									</div>	
									<script type="text/javascript">
									function signIn(id)
									{
										$.post('/ChatSystem/enterChat',{id:id});
									}
									
									function signOut(id)
									{
										$.post('/ChatSystem/leaveChat',{id:id});
									}
									#{if connected.openChats.contains(proj.chatroom)}
									$(function()
									{
										retrieve${proj.id}();
										getMessages${proj.id}();
									});
									#{/if}								
									$('#message_${proj.name}').keypress(function(event)
									{
										if (event.keyCode == '13')
										{		var message = $('#message_${proj.name}').val();
										$('#message_${proj.name}').val('');
										$.post('@{ChatSystem.addMessage()}', {message: message , id:${proj.chatroom.id}}); 
										$('#message_${proj.name}').focus(); }
									});
									// Retrieve new messages
									var getMessages${proj.id} = function() {
										$.getJSON('/ChatSystem/newMessages',{id:${proj.chatroom.id}}, function(messages) {
											$(messages).each(function() {
												display${proj.id}(this);
											});
											setTimeout('getMessages${proj.id}();', 1000);
										});
									}
									// Retrieve all messages
									var retrieve${proj.id} = function() {
										$.getJSON('/ChatSystem/retrieveSinceLastLogin',{userId:${connected.id},roomId:${proj.chatroom.id}}, function(messages) {
											$(messages).each(function() {
												display${proj.id}(this);
											});
										});
									}
									// Display a message
									var display${proj.id} = function(message) {
										$('#threader_${proj.name}').append(tmpl('message_tmpl', {message: message}));
										var obj = document.getElementById('thread_${proj.name}');
										obj.scrollTop = obj.scrollHeight;
									}
									</script>
								</div>
							</div>
						#{/list}
						</div>
						#{/if}
<div class="workspaceContainer"id="container">
#{doLayout/}
</div>
</div>
#{/list}
#{if !connected}
<div class="topper">
						<div class="left">
						#{if connected}
							Hello ${connected.name}!&nbsp;&nbsp;|&nbsp;&nbsp;
							<a href="/show/user?id=${controllers.Security.getConnected().id}">Profile</a>&nbsp;&nbsp;|&nbsp;&nbsp;
							<a href="#" id="chatlink"onclick="$('#chatroomList').slideToggle(200);$('#chatlink').toggleClass('topCornersRounded white')">Chatroom</a>&nbsp;&nbsp;|&nbsp;&nbsp;
						#{/if}
							<a href="#" id="skinlink"onclick="$('#skinList').slideToggle(200);$('#skinlink').toggleClass('topCornersRounded white')">Change Color</a>&nbsp;&nbsp;
						
						#{ifnot connected}
							<a href="@{Accounts.register}">|&nbsp;&nbsp;Register</a>
						#{/ifnot}
						</div>
						
							
							<div class="right">
							#{if connected}
								<a href="/secure/logout" title="Logout from the system">Logout</a>
						#{/if}
							</div>
							<br style="clear:both"/>
							#{if connected}
							<div id="chatroomList">
 								<div class="allCornersRounded chatroomListHolder" >
 								#{list connected.projects, as:'proj'}
 									<a href="#" onclick="$('#chatContainer_${proj.name}').slideToggle(400);#{ifnot connected.openChats.contains(proj.chatroom)}signIn(${proj.chatroom.id});getMessages${proj.id}();#{/ifnot}">${proj.name}</a>
 									<br/> 	
							 	#{/list}
								</div>
							</div>
							<div id="skinList">
 								<div class="allCornersRounded skinListHolder" >
 									<a href="javascript:"onclick="chooseStyle('blue', 60)">Blue</a>
 									<br/>
 									<a href="javascript:"onclick="chooseStyle('green', 60)">Green</a>
 									<br/>
 									<a href="javascript:"onclick="chooseStyle('red', 60);$('#theLogoImage').attr('src','@{'/public/images/smartsoftred.png'}');">Red</a>
 									<br/>
 									<a checked="checked"href="javascript:"onclick="chooseStyle('original', 60)">Purple</a>
								</div>
							</div>
						</div>
						<div id="chatContainer">
						#{list connected.projects, as:'proj'}
							<div id="chatContainer_${proj.name}"style="width:225px;#{ifnot connected.openChats.contains(proj.chatroom)}display:none;#{/ifnot}">
								<div class="chatContainerHeader">
									${proj.name} Chat 
									<a id="${proj.name}_min"class="right"href="#" title="minimize?" onclick="$('#chatHolder_${proj.name}').slideToggle(400);$('#${proj.name}_max').slideToggle(400);$('#${proj.name}_min').slideToggle(400);" style="text-decoration:none; color:#fff">[-]</a>
									<a id="${proj.name}_max"class="right"href="#" title="minimize?" onclick="$('#chatHolder_${proj.name}').slideToggle(400);$('#${proj.name}_max').slideToggle(400);$('#${proj.name}_min').slideToggle(400);" style="display:none;text-decoration:none; color:#fff">[+]</a>
									<a class="right"href="#" title="signout?" onclick="signOut(${proj.chatroom.id});$('#chatContainer_${proj.name}').slideToggle(400);" style="text-decoration:none; color:#fff">[x]</a>
								</div>
								<div id="chatHolder_${proj.name}">
									<div id="thread_${proj.name}" class="thread">
										<script type="text/html" id="message_tmpl">
											<div class="<%= message.author == 'notice' ? 'notice allCornersRounded' : message.author == '${connected.name}' ? 'you' : 'them' %>">		
												<strong class="title" style="<%= message.author == 'notice' ? 'display:none !important' : '' %>"><%= message.author%></strong> 
												<%= message.message.replace('\n', '<br/>') %>
											</div>
										</script>
										<div id ="threader_${proj.name}"></div>
									</div>
									<div id="newMessage" class="chatboxinput">	
										<textarea id="message_${proj.name}" name="message_${proj.name}" class="chatboxtextarea"></textarea>
									</div>	
									<script type="text/javascript">
									function signIn(id)
									{
										$.post('/ChatSystem/enterChat',{id:id});
									}
									
									function signOut(id)
									{
										$.post('/ChatSystem/leaveChat',{id:id});
									}
									#{if connected.openChats.contains(proj.chatroom)}
									$(function()
									{
										retrieve${proj.id}();
										getMessages${proj.id}();
									});
									#{/if}								
									$('#message_${proj.name}').keypress(function(event)
									{
										if (event.keyCode == '13')
										{		var message = $('#message_${proj.name}').val();
										$('#message_${proj.name}').val('');
										$.post('@{ChatSystem.addMessage()}', {message: message , id:${proj.chatroom.id}}); 
										$('#message_${proj.name}').focus(); }
									});
									// Retrieve new messages
									var getMessages${proj.id} = function() {
										$.getJSON('/ChatSystem/newMessages',{id:${proj.chatroom.id}}, function(messages) {
											$(messages).each(function() {
												display${proj.id}(this);
											});
											setTimeout('getMessages${proj.id}();', 1000);
										});
									}
									// Retrieve all messages
									var retrieve${proj.id} = function() {
										$.getJSON('/ChatSystem/retrieveSinceLastLogin',{userId:${connected.id},roomId:${proj.chatroom.id}}, function(messages) {
											$(messages).each(function() {
												display${proj.id}(this);
											});
										});
									}
									// Display a message
									var display${proj.id} = function(message) {
										$('#threader_${proj.name}').append(tmpl('message_tmpl', {message: message}));
										var obj = document.getElementById('thread_${proj.name}');
										obj.scrollTop = obj.scrollHeight;
									}
									</script>
								</div>
							</div>
						#{/list}
						</div>
						#{/if}
</div>
<div class="workspaceContainer"id="container">
#{doLayout/}
</div>
#{/if}

</body>
</html>