<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>#{get 'title' /}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="stylesheet" type="text/css" media="screen" href="/public/stylesheets/generic.css"/>
  		<link rel="stylesheet" type="text/css" media="screen" href="/public/stylesheets/m.css"/>
  		
        <link rel="stylesheet" type="text/css" media="screen" href="/public/stylesheets/main.css"/>
		<link rel="stylesheet" type="text/css" media="screen"href="@{'/public/stylesheets/tipTip.css'}"/>
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/jquery-ui-1.8.custom.css'}"/>
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/jquery.jbar.css'}"/>
	
		<link rel="shortcut icon" href="@{'public/images/favicon.ico'}" type="image/x-icon"/> 
        #{get 'moreStyles' /}
 
        <script src="@{'/public/javascripts/jquery-1.4.min.js'}" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="@{'public/javascripts/jquery-ui-1.8.custom.min.js'}"> </script>
		<script type="text/javascript" src="@{'public/javascripts/timepicker.js'}"> </script>
        <script src="@{'/public/javascripts/date.js'}" type="text/javascript" charset="utf-8"></script>
       	<script src="@{'/public/javascripts/jquery.tipTip.js'}" type="text/javascript"charset="utf-8"></script>
       	<script src="@{'/public/javascripts/md5.js'}" type="text/javascript"charset="utf-8"></script>
       	<script src="@{'/public/javascripts/more.js'}" type="text/javascript"charset="utf-8"></script>
		<script type="text/javascript" src="/public/javascripts/jquery.gritter.min.js"></script>
        <script src="@{'/public/javascripts/jquery.bar.js'}" type="text/javascript" charset="utf-8"></script>
        
        <script src="@{'/public/javascripts/requirements.js'}" type="text/javascript" charset="utf-8"></script>
        <script src="@{'/public/javascripts/smartsoft.filter.js'}" type="text/javascript" charset="utf-8"></script>
        <script src="@{'/public/javascripts/functions.js'}" type="text/javascript" charset="utf-8"></script>
        #{get 'moreScripts' /}
		
        <script type="text/javascript">

		function signIn(id)
		{
			$.post('/ChatSystem/enterChat',{id:id});
		}
		
		function signOut(id)
		{
			$.post('/ChatSystem/leaveChat',{id:id});
		}
		
		#{if connected}		
		var CONNECTED_ID = ${connected.id};
		// Retrieve new messages
		function getMessages(id,cId) {
			$.getJSON('/ChatSystem/newMessages',{id:cId}, function(messages) {
				$(messages).each(function() {
					display(id,this);
				});
				setTimeout('getMessages('+id+','+cId+');', 1000);
			});
		}
		// Retrieve all messages
		function retrieve(id,cId) {
			$.getJSON('/ChatSystem/retrieveSinceLastLogin',{userId:${connected.id},roomId:cId}, function(messages) {
				$(messages).each(function() {
					display(id,this);
				});
			});
		}

		function display(id,message)
		{
			$('#threader_'+id).append(tmpl('message_tmpl', {message: message}));
			var obj = document.getElementById('thread_'+id);
			obj.scrollTop = obj.scrollHeight;
		}
		#{/if}
               
       		$(function(){
				doOnLoad();
   			    #{if connected}
	 			getNotifications();
				ping();
   			    #{/if}
       		});

       function make(el,me)
       {
    	   var $marginLefty = $('#'+el);
    	   $marginLefty.animate({
        	   marginRight: parseInt($marginLefty.css('marginRight'),10) == 0 ?$marginLefty.outerWidth() :0
           });
           var $ana = $(me).parent();
           $ana.animate({
        	   right: parseInt($ana.css('right'),10) == 0 ? -15 : 0
           },
           function(){
        	   $(me).parent().toggleClass('notch2');
           });

           
       }
       function normalShow(url)
       {
    	   $('#normal').load(url);
    	   $('#normal').show();
    	   $('#workspaces').hide();
    	   

       }
       function smartShow(url)
       {
    		if($('#workspaces').find('.noKill').first()!=null)
    		{
    			var me = $('#workspaces').find('.noKill').first();
    			removeFromDiv($(me).attr('name'));
    		}
    		else if($('#normal').find('.noKill').first()!=null)
    		{
    			var me = $('#workspaces').find('.noKill').first();
    		   removeFromDiv($(me).attr('name'));
    		}
           var myParent = 'normal';
           if($('#normal').css('display')=='none')
           {
               $('#workspaces').children().each(function(){
                   if($(this).css('display')=='block')
                       myParent = $(this).children().first().next().attr('id');
               });
           }
           loadBox(url,myParent,'noKill');
               
       }
                   		
        </script>
</head>
<body id="mainBodyTag"onload="#{get 'onLoad' /}">

<div id="getOverlay" style="position:absolute;top:0px;left:0px;width:100%;min-height:100%;display:none;z-index:9999;overflow:auto">
<div style="background-color:rgba(0,0,0,0.7);position:fixed;top:0px;left:0px;width:100%;height:100%;z-index:9997"></div>
<div id ="overlayContent" style="width:80%;height:auto; padding:10%;overflow:auto;position:relative;z-index:9998">
	<div id="overlayContentHolder" style="background-color:transparent;width:auto;height:auto;margin:auto auto auto auto;padding:10px;overflow:auto">
	<div id="overlayClose" style="background:none repeat scroll 0 0 white;padding:5px;text-align:right;">
<a title="close?"href="#"onclick="Javascript:$('#getOverlay').hide();document.getElementById('theLoadedContent').src ='/application/loading'">
<img src="@{'public/images/close.gif'}"/>
</a>
</div>
	<iframe id="theLoadedContent" name="iframe" src="@{Application.loading()}"class="autoHeight" style="width:100%;border:0px;">
	</iframe>
	</div>
</div>
</div>
<div class="topBar" id="project-tabs">
	<!--a class="aDIV topCornersRounded" href="#" onclick="normalShow('/ #elContent')" style="color: #E5A1A5; float:left;" title="Go home">Home</a-->
#{if connected?.isAdmin}
	<!--a class="aDIV topCornersRounded" href="#" onclick="normalShow('/admin')"style="color: #E5A1A5; float:left;" title="View the admin panel">Admin Panel</a-->
#{/if}
	<!--a class="aDIV topCornersRounded" href="#"  onclick="normalShow('@{About.index}')" title="read aboout SmartSoft?">About Us</a--> 
	#{if connected}
		<a class="aDIV topCornersRounded " href="#" onclick="$('#top_header_projects_pane').slideToggle()" style="width: 120px !important" title="">Projects</a>
	#{/if}
</div>	
<div id="top_header_projects_pane" class="hidden bottomCornersRounded">
	<input type="text" value="" id="project_search_text" onkeyup="search_projects()"/>
	<h3>Your Projects</h3>
	<div id="projects_my_current_projects">#{list items:connected?.projects, as:'project'}
		#{if !project.deleted}
			<div id="project-search-result-${project.id}"><a onclick="showProjectWorkspace(${project.id})">${project.name}</a></div>
		#{/if}
	#{/list}</div>
	<h3 id="search_results_h3">Search results</h3>
	<div id="projects_search_results"></div>
	<div id="add-new-project-link"><a href="#" onclick="overlayOpen('/admin/projects/new'); $('#top_header_projects_pane').slideUp()" style=""><img src="/public/images/famfam/add.png" alt="[+]"/> Add New</a></div>
</div>
<div class="topper">
						<div class="left">
						#{if connected}
							Hello <span id="username-in-topbar">${connected.name}</span>! <!--&nbsp;&nbsp;|&nbsp;&nbsp;
							<a href="#" onclick="smartShow('/show/user?id=${controllers.Security.getConnected().id}')">Profile</a>-->
						#{/if}
						</div>
						
							
							<div class="right">
							#{if connected}
								<a href="/secure/logout" title="Logout from the system">Logout</a>
						#{/if}
							</div>
							<br style="clear:both"/>
						</div>
						
			
#{if connected}		
#{if true}
<!-- hide for the moment -->
<div class="sideHolder">
	<!-- Notifications Start -->
	<div class="notch"style="top: 80px;">
		<a href="#" title="View your notifications?"onclick="make('sideNoti',this);$('#sideNoti').load('/Application/showNotifications')">
		<img src="/public/images/myNotifications.png" alt="[Notifications]"/>
		</a>
	</div>
	<div id="sideNoti" class="siderC">
		<div id="sideNoti_content">
		
		</div>
	</div>
	<!-- Notifications End -->
</div>
<div class="sideHolder">
	<!-- MyTasks Start -->
	<div class="notch"style="top: 240px;">
		<a href="#" onclick="make('sideTasks',this)">
		<img src="/public/images/myTasks.png" alt="[Tasks]"/></a>
	</div>
	<div id="sideTasks" class="siderC">
		<div id="sideTasks_content">
		
		</div>
	</div>
	<!-- MyTasks End -->
</div>
<div class="sideHolder">
	<!-- MyTasks Start -->
	<div class="notch"style="top: 340px;">
		<a href="#" title = "Check your ivitations" onclick="make('sideIn',this);$('#sideIn').load('/Invites/showInvitations')">
		<img src="/public/images/myInvitations.png" alt="[Invitations]"/></a>
	</div>
	<div id="sideIn" class="siderC">
		<div id="sideIn_content">
		
		</div>
	</div>
	<!-- Invitations End -->
</div>
#{/if}
<div id="workspaces" style="display:none">

	<div id="workspace-help">
		This is your projects workspace. You could click on the links in the top header to show boxes of respective content. You could then browse through by clicking links in the boxes, or, for more focus on what you need most, by dragging the links outside to create new boxes of that content separately.
	</div>
</div>
#{/if}
<div id="normal">
#{doLayout/}
</div>


			#{ifErrors}
			<script type="text/javascript">
				$(document).ready(function(){
					$.bar({
						message : '${errors}'
					});
				})
			</script>
			#{/ifErrors}
			#{if flash.error}
			<script type="text/javascript">
			$(document).ready(function(){
				$.bar({
					message : '&{flash.error}'
				});
			})
			</script>
			#{/if}
			#{if error}
			<script type="text/javascript">
			$(document).ready(function(){
				$.bar({
					message : '&{error}'
				});
			})
			</script>
			#{/if}
			
			#{if flash.success}
			<script type="text/javascript">
			$(document).ready(function(){
				$.bar({
					message : '&{flash.success}'
				});
			})
			</script>
			#{/if}
</body>
</html>