<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>#{get 'title' /}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="stylesheet" type="text/css" media="screen" href="/public/stylesheets/generic.css"/>
  		
        <link rel="stylesheet" type="text/css" media="screen" href="/public/stylesheets/main.css"/>
		<link rel="stylesheet" type="text/css" media="screen"href="@{'/public/stylesheets/tipTip.css'}"/>
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/jquery-ui-1.8.custom.css'}"/>
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/jquery.jbar.css'}"/>
	
		<link rel="shortcut icon" href="@{'public/images/favicon.ico'}" type="image/x-icon"/> 
        #{get 'moreStyles' /}
 
        <script src="@{'/public/javascripts/jquery-1.4.min.js'}" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="@{'public/javascripts/jquery-ui-1.8.custom.min.js'}"> </script>
		<script type="text/javascript" src="@{'public/javascripts/timepicker.js'}"> </script>
		<script type="text/javascript" src="@{'public/javascripts/jquery.jBreadCrumb.1.1.js'}"> </script>
        <script src="@{'/public/javascripts/date.js'}" type="text/javascript" charset="utf-8"></script>
       	<script src="@{'/public/javascripts/jquery.tipTip.js'}" type="text/javascript"charset="utf-8"></script>
       	<script src="@{'/public/javascripts/md5.js'}" type="text/javascript"charset="utf-8"></script>
       	<script src="@{'/public/javascripts/more.js'}" type="text/javascript"charset="utf-8"></script>
		<script type="text/javascript" src="/public/javascripts/jquery.gritter.min.js"></script>
        <script src="@{'/public/javascripts/jquery.bar.js'}" type="text/javascript" charset="utf-8"></script>
        
        #{get 'moreScripts' /}
              <script src="@{'/public/javascripts/skinSwitcher.js'}" type="text/javascript" charset="utf-8"></script>
		
        <script type="text/javascript">

               
       		$(function(){
       			$('.formatDate').each(function(){
					$(this).html( formatDate( new Date(getDateFromFormat($(this).html(),'yyyy-MM-dd HH:mm:ss')), 'd MMM, yyyy') );
				});
       			$('.formatTime').each(function(){
					$(this).html( formatDate( new Date(Number($(this).html())), 'd MMM, yyyy hh:mma') );
				});
       		
   			    $("a").tipTip({delay:0});
   			    $("td").tipTip({delay:0});
   			    $("span").tipTip({delay:0});
   			 $("div").tipTip({delay:0});
   			 $("img").tipTip({delay:0});
   			    $('div.crudField').each(function(){
						if ($(this).html().trim() == '') {
							$(this).remove();
						}
   	   			    });
#{get 'onLoad2' /}
   			    	
   		       		});
        </script>

<style type="text/css">
body,html {
	background: transparent !important;
}
#theLoadedContent{background-color:#fff;padding:10px}
</style>
</head>
<body onload="$('#theLoadedContent').show();#{get 'onLoad'/};   $('#overlayClose',parent.document.body).show() ">

<div id="theLoadedContent">
#{doLayout /}
</div>
			#{ifErrors}
			<script type="text/javascript">
				$(document).ready(function(){
					window.parent.$.bar({
						message : '${errors}'
					});
				})
			</script>
			#{/ifErrors}
			#{if flash.error}
			<script type="text/javascript">
			$(document).ready(function(){
				window.parent.$.bar({
					message : '&{flash.error}'
				});
			})
			</script>
			#{/if}
			#{if error}
			<script type="text/javascript">
			$(document).ready(function(){
				window.parent.$.bar({
					message : '&{error}'
				});
			})
			</script>
			#{/if}
			
			#{if flash.success}
			<script type="text/javascript">
			$(document).ready(function(){
				window.parent.$.bar({
					message : '&{flash.success}'
				});
			})
			</script>
			#{/if}
</body>
</html>