#{extends 'main.html' /} #{set title:'Home' /}
#{set 'moreStyles'}
<style type="text/css">
.twtr-doc, .twtr-widget .twtr-widget-profile {
	font: inherit !important;
	font-family:verdana !important;
}
.twtr-ft,.twtr-hd{
	display: none;
}

.twtr-widget {
	font: inherit !important;
}

.twtr-timeline,.twtr-widget .twtr-tweet {
	border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	-webkit-border-radius: 0px !important;
}
</style>
#{/set}
#{set 'moreLinks'}
<p><a href="/admin/projects/new">Create new project</a></p>
#{/set}
<div  style="float:left;width:46%;overflow:hidden;margin:0 1%;">
<div class="topCornersRounded" style="background-color:#666666;padding:10px 0px;width:100%; text-decoration:none;color:white;text-align:center;">
Your Project(s) Updates
</div>
<div id="notiHolder" style="padding:1%; background:#eee;height:340px;" class="bottomCornersRounded">
<div style="overflow:auto;height:340px">
#{if noti.isEmpty()}
<h1>Smarter Scrum News Feed</h1>
<p>Now you can search for a project & request to join. <a href="/show/projects"> Click here</a></p>
<p>You can also search for users You may know & keep yourself updated about their latest activiteis. <a href = "/show/users"> Click here</a></p>

#{/if}
#{else}


#{list items:noti, as:'notif'}
#{set 'moreScripts'}
<script type="text/javascript">
       		$(function(){
       			$('.notifYear').each(function(){
					$(this).html( formatDate( new Date(Number($(this).html())), '<b>yyyy</b>') );
				});
       			$('.notifDM').each(function(){
					$(this).html( formatDate( new Date(Number($(this).html())), 'dd <br/> MMM') );
				});
				
       		});
</script>
#{/set}
<div class="notifHolder">
<div class="left dateHolder">
	<div class="notifYear proj">${notif.date}</div>
	<div class="notifDM bottomCornersRounded">${notif.date}</div>
</div>
<div class="left" style="margin-bottom:10px;">
<b>${notif.header}</b><br/>
${notif.body.raw()}
</div>
</div>
<br style="clear:both"/>
#{/list}
<br/><br/><br/>
#{if noti.size() == 30}
<a href="@{Application.notificationsHistory()}"> See more </a>#{/if}
#{/else}
</div>
</div>
</div>
<div style="float:left;width:46%;overflow:hidden;margin:0 1%;">
<div class="topCornersRounded" style="background-color:#666666;padding:10px 0px;width:100%; text-decoration:none;color:white;text-align:center;">
<a style="text-decoration:none;color:white;text-align:center;" href="http://twitter.com/smarterscrum" title="follow us on twitter?">
Smarter Scrum Updates
</a>
</div>
<div style="padding:1%; background:#eee;height:340px;" class="bottomCornersRounded">

<script src="http://widgets.twimg.com/j/2/widget.js"></script>
<script type="text/javascript">
var color = $('.ss').css('color');
var w = $('#notiHolder').width();
new TWTR.Widget({
  version: 2,
  type: 'profile',
  rpp: 10,
  interval: 6000,
  width: w,
  height: 320,
  theme: {
    shell: {
      background: 'transparent',
      color: '#ffffff'
    },
    tweets: {
      background: 'transparent',
      color: '#000000',
      links: color
    }
  },
  features: {
    scrollbar: true,
    loop: false,
    live: true,
    hashtags: true,
    timestamp: true,
    avatars: false,
    behavior: 'all'
  }
}).render().setUser('smarterscrum').start();
</script>
</div>
</div>