#{extends 'main.html' /} #{set title:'Home' /}

<h1>News Feed</h1>
#{if noti.isEmpty()}
<font size = 4 color = "purple"><h3>Welcome to Smarter Scrum Tool !</h3></font>
<font size = 2><p>Now you can search for a project & request to join. <a href="/show/projects"> Click here</a></p>
<p>You can also search for users You may know & keep yourself updated about their latest activiteis. <a href = "/show/users"> Click here</a></p>
</font>
#{/if}
#{else}
#{list items:noti, as:'notif'}
<li>
<DL>
#{if notif.importance ='1'}
<dt><font size =3 color = "green"><b>${notif.header} </b>:</font> </dt>
#{/if}
#{elseif notif.importance ='0'}
<dt><font size =3 color = "yellow"><b>${notif.header} </b>:</font> </dt>
#{/elseif}
#{else}
<dt><font size =3 color = "red"><b>${notif.header} </b>:</font> </dt>
#{/else}
<dd><font size =2> ${notif.body}. </font><span class="formatTime">${notif.date}</div></dd>
</DL></li>
#{/list}
<br/><br/><br/>
<a href="@{Application.notificationsHistory()}"> See more </a>
#{/else}