<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>

<style type="text/css">
   div
   {
    text-align:center;
   }
   
   body, html
   {
    width:100%;
    background-color:white;
    overflow:hidden;
    padding-bottom:30px;
   }
</style>
<title></title>
</head>
<body>
<div><img src="/public/images/loadingMagic.gif" alt="[loading]"/></div>
</body>
</html>
