#{extends 'main.html' /} #{set title:'Notification History' /}
<div id="notifContent">

#{list items:notis, as:'notif'}
#{set 'moreScripts'}
<script type="text/javascript">
       		$(function(){
       			$('.notifYear').each(function(){
					$(this).html( formatDate( new Date(Number($(this).html())), '<b>yyyy</b>') );
				});
       			$('.notifDM').each(function(){
					$(this).html( formatDate( new Date(Number($(this).html())), 'dd <br/> MMM') );
				});
				
       		});
</script>
#{/set}
<div class="notifHolder">
<div class="left dateHolder">
	<div class="notifYear proj">${notif.date}</div>
	<div class="notifDM bottomCornersRounded">${notif.date}</div>
</div>
<div class="left" style="margin-bottom:10px;">
<b>${notif.header}</b><br/>
${notif.body}.
</div>
<div class="right">
#{if notif.importance =-1}
	<div class ="allCornersRounded high">High</div>
#{/if}
#{elseif notif.importance =1}
	<div class ="allCornersRounded low">Low</div>
#{/elseif}
#{elseif notif.importance =0}
	<div class ="allCornersRounded medium">Medium</div>
#{/elseif}
</div>
</div>
<br style="clear:both"/>
#{/list}
<br/><br/><br/></div>
#{set 'crumbs'}
<a href="@{Application.notificationsHistory()}"> Notification History </a>
#{/set}