#{extends 'sidebar.html' /}
<br/>
#{if notifications.isEmpty()}
<font size=2><img src = "/public/images/famfam/exclamation.png"/><b> Sorry, You have no Notifications yet!</b>
<br/><br/>- you must be new to the system
<br/><br/>- or, we may be going through maintenance,<br/>Sorry for disturbance & will be back soon!</font> 
#{/if}
#{else}
<b><font size = 3><img src="/public/images/famfam/arrow_grey_right.png"/>Latest: </font></b>
<div id ="notification_paginated">
#{list items:notifications, as:'notif'}	
	<div id = "notif_${notif.id}">		
		<p>#{if notif.importance == 0}<img alt="!" src="/public/images/famfam/error.png">
			#{/if} #{elseif notif.importance == -1}<img alt="bad" src="/public/images/famfam/cross.png">
			#{/elseif} #{elseif notif.importance == 1}<img alt="good" src="/public/images/famfam/tick.png">
			#{/elseif}
		<a href = "/show/user?id=${notif.actionPerformer.id}">${notif.actionPerformer.name}</a> has ${notif.actionType}ed ${notif.resourceType}: <a href = ${notif.resourceURL}>${notif.resourceName}</a> 
#{if notif.project != null}
in project ${notif.project}
#{/if}</p>
	</div>
#{/list}
</div>
#{/else} 
<a href="#"  style="display:inline-block" class="Notificationp" onclick="previousNotificationPage();"><span style="display:inline-block"class="ui-icon ui-icon-circle-arrow-w"></span></a>
<a href="#"  style="display:inline-block" class="Notificationn" onclick="nextNotificationPage();"><span style="display:inline-block"class="ui-icon ui-icon-circle-arrow-e"></span></a>

<script type="text/javascript">

notification_pagination(1);

</script>