#{extends 'sidebar.html' /}
<div id="demo" class="nav"> 
    <h2>demo</h2> 
    <form> 
    <fieldset class="jcalendar"> 
       <legend id="title"></legend> 
       <div class="jcalendar-wrapper"> 
       <div class="jcalendar-selects"> 
         <select name="day" id="day" class="jcalendar-select-day" style ="display:none;"> 
           <option value="0"></option> 
           <option value="1">1</option> 
           <option value="2">2</option> 
           <option value="3">3</option> 
           <option value="4">4</option> 
           <option value="5">5</option> 
           <option value="6">6</option> 
           <option value="7">7</option> 
           <option value="8">8</option> 
           <option value="9">9</option> 
           <option value="10">10</option> 
           <option value="11">11</option> 
           <option value="12">12</option> 
           <option value="13">13</option> 
           <option value="14">14</option> 
           <option value="15">15</option> 
           <option value="16">16</option> 
           <option value="17">17</option> 
           <option value="18">18</option> 
           <option value="19">19</option> 
           <option value="20">20</option> 
           <option value="21">21</option> 
           <option value="22">22</option> 
           <option value="23">23</option> 
           <option value="24">24</option> 
           <option value="25">25</option> 
           <option value="26">26</option> 
           <option value="27">27</option> 
           <option value="28">28</option> 
           <option value="29">29</option> 
           <option value="30">30</option> 
           <option value="31">31</option> 
         </select> 
         <select name="month" id="month" class="jcalendar-select-month" onchange="changeTitle()" style ="display:none;"> 
           <option value="0"></option> 
           <option value="1">January</option> 
           <option value="2">February</option> 
           <option value="3">March</option> 
           <option value="4">April</option> 
           <option value="5">May</option> 
           <option value="6">June</option> 
           <option value="7">July</option> 
           <option value="8">August</option> 
           <option value="9">September</option> 
           <option value="10">October</option> 
           <option value="11">November</option> 
           <option value="12">December</option> 
         </select> 
         <select name="year" id="year" class="jcalendar-select-year" style ="display:none;"> 
          	#{list items:years ,as :'year'}
				<option value="${year.intValue()}">${year.intValue()}</option>
			#{/list}
         </select> 
       </div> 
       </div> 
    </fieldset> 
    </form> 
  </div> 
  <br/>
  <br/>
  <br/>
   <div id="selected_date" style = "display:none;">
  		<img src='/public/images/famfam/date-icon.png'/> Selected Day Events
  		<ul id="selected_events"></ul>
  </div>
  <div id = "todayEvents">
  	<img src='/public/images/famfam/date-icon.png'/> Today Events
  	#{ if sprints.size()!=0 || sprints2.size()!=0 ||  meetings.size()!=0}
  	#{list items:sprints, as:'sprint'}
  	<ul>
		<li><img src='/public/images/famfam/date.png'/><a href="/Application/externalOpen?id=${sprint.project.id}&isOverlay=false&url=/sprints/showsprint?id=${sprint.id}">The Start of Sprint${sprint.sprintNumber} in Project ${sprint.project.name}</a></li>				
	</ul>
	#{/list}
	#{list items:sprints2, as:'sprint'}
	<ul>
		<li><img src='/public/images/famfam/date.png'/><a href="/Application/externalOpen?id=${sprint.project.id}&isOverlay=false&url=/sprints/showsprint?id=${sprint.id}">The End of Sprint${sprint.sprintNumber} in Project ${sprint.project.name}</a></li>				
	</ul>
	#{/list}
	#{list items:meetings, as:'meeting'}
	<ul>
	<li><img src='/public/images/famfam/meeting.png'/><a href="/Application/externalOpen?id=${meeting.project.id}&isOverlay=false&url=/meetings/viewmeeting?id=${meeting.id}">${meeting.project.name} Meeting : ${meeting.name}</a></li>				
	</ul>
	#{/list}
	#{/if}
	#{else}
	<div>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<img src='/public/images/famfam/exclamation.png'/> There are no events today.
	</div>
	#{/else}
  </div>
  
 
<script type ="text/javascript">
$(document).ready(function() {
	
  $('fieldset.jcalendar').jcalendar();
  changeTitle();
});


</script>