#{extends 'main.html' /}

#{secure.check 'systemAdmin'}
#{set 'moreLinks'}
<a href="/admin/users">Manage Users</a><br />
<a href="/admin/projects">Manage Projects</a><br />
<div class="clear"></div>
<a href="/admin/meetingattendances">Manage Attendance</a><br />
<div class="clear"></div>
<a href="/admin/storys">Manage Stories</a><br />
<a href="/admin/tasks">Manage Tasks</a><br />
<div class="clear"></div>
<a href="/projects/manageProjectRequests">Manage Project Requests</a><br />
<a href="/admin/logs">Manage Logs</a><br />
#{/set}
#{/secure.check}
#{doLayout /}