#{extends 'main.html' /} #{set title:'Home' /}

#{if noti.isEmpty()}
<h1>Smarter Scrum News Feed</h1>
<p>Now you can search for a project & request to join. <a href="/show/projects"> Click here</a></p>
<p>You can also search for users You may know & keep yourself updated about their latest activiteis. <a href = "/show/users"> Click here</a></p>

#{/if}
#{else}


#{list items:noti, as:'notif'}
#{set 'moreScripts'}
<script type="text/javascript">
       		$(function(){
       			$('.notifYear').each(function(){
					$(this).html( formatDate( new Date(Number($(this).html())), '<b>yyyy</b>') );
				});
       			$('.notifDM').each(function(){
					$(this).html( formatDate( new Date(Number($(this).html())), 'dd <br/> MMM') );
				});
				
       		});
</script>
#{/set}
<div class="notifHolder">
<div class="left dateHolder">
	<div class="notifYear proj">${notif.date}</div>
	<div class="notifDM bottomCornersRounded">${notif.date}</div>
</div>
<div class="left" style="margin-bottom:10px;">
<b>${notif.header}</b><br/>
${notif.body}.
</div>
<div class="right">
#{if notif.importance =-1}
	<div class ="allCornersRounded high">High</div>
#{/if}
#{elseif notif.importance =1}
	<div class ="allCornersRounded low">Low</div>
#{/elseif}
#{elseif notif.importance =0}
	<div class ="allCornersRounded medium">Medium</div>
#{/elseif}
</div>
</div>
<br style="clear:both"/>
#{/list}
<br/><br/><br/>
<div id="moreNot" style="display:none"></div>
<a href="@{Application.notificationsHistory()}"> See more </a>
#{/else}