#{extends 'magicBox.html' /}	
	#{set 'title'}
	${meeting.name}
	#{if (meeting.snapshot!=null)}
	<a href="javascript:overlayOpen('/Snapshots/loadsnapShot?id=${meeting.snapshot.id}');" title="View Associated Snapshot">
	<img src="@{'/public/images/famfam/camera_go.png'}"></a>
	#{/if}
	#{if (meeting.endTime > new Date().getTime()) && ((connected.in(project).can('editMeeting') ||connceted.equals(meeting.creator))) }
	<a href="javascript:overlayOpen('/admin/meetings/${meeting.id}');" title="edit">
	<img src="@{'/public/images/famfam/pencil.png'}"></a>
	#{/if}
	#{if (connected.in(project).can('deleteMeeting') ||connceted.equals(current.creator)) } 
	<a href="#" onclick="javascript:delete_meeting(${meeting.id},this);" title="delete">
	<img src="@{'/public/images/famfam/delete.png'}"></img></a>
	#{/if}
	#{if (invited&&attending)}
	<img src="@{'/public/images/famfam/accept.png'}" title="you ${past ? 'attended':'are attending'} this meeting"></img>
	#{/if}
	#{if (invited&&declined)}
	<img src="@{'/public/images/famfam/exclamation.png'}"} title="you ${past ? 'did not attend':'are not attending'} this meeting"></img>
	#{/if}
	#{if meeting.endTime> new Date().getTime()}
	#{if (invited&&!attending&&!declined) }
	<span id="accept_${meeting.id}" style="display:block"><a onClick="javascript:confirm_me(${meeting.id});" title="accept invitation"><img src="@{'/public/images/famfam/application_add.png'}"></a></span>
	<span id="decline_${meeting.id}" style="display:block"><a onClick="javascript:decline_me(${meeting.id});" title="decline invitation"><img src="@{'/public/images/famfam/application_delete.png'}"></a></span>
	<span id="confirmed_${meeting.id}" style="display:none"><img src="@{'/public/images/famfam/accept.png'}" title="you are attending this meeting"></img></span>
	<span id="declined_${meeting.id}" style="display:none"><img src="@{'/public/images/famfam/exclamation.png'}"} title="you are not attending this meeting"></img></span>
	#{/if}
	#{if !invited}
	#{if connected.in(meeting.project).can('joinMeeting')}
	<span id="accepts_${meeting.id}" style="display:block;"><a href="#" onClick="javascript:join_meeting(${meeting.id})"title="join meeting"><img src="@{'/public/images/famfam/go.png'}"></img></a></span>
	<span id="confirmedd_${meeting.id}" style="display:none;"><img src="@{'/public/images/famfam/accept.png'}" title="you are attending this meeting"></img></span>
	#{/if}
	#{/if}
	#{/if}
	#{/set}
	


<b> Starts  at</b> :   <div class="formatTime">${meeting.startTime}</div> 
<br> 
<b> Ends at</b> :  <div class="formatTime">${meeting.endTime}</div> 
<br> 
<b> Location </b>:   ${meeting.location} 
<br> 
<b> Meeting Type </b>:  ${meeting.type} 
<br>
<b> Description </b>:  ${meeting.description}

<div name="@{Meetings.invitedMembers(meeting.id)}">Attendees</div>
<div name="@{Meetings.notes(meeting.id)}">Notes</div>
<div name="/storys/magicShow?meetingId=${meeting.id} ">Tasks</div>





