#{set id:controllers.Application.randomHash() /}
<div  id="#{get 'id' /}" class="draggable allCornersRounded">
	<div  id="#{get 'id' /}_header"class="ui-widget-header mainH">
		<span class="revertFrom"><span title="close"class="ui-icon ui-icon-circle-close"></span></span>
		<span  title="minimize?"class="ui-icon ui-icon-circle-minus min">
		</span>
		<span title="refresh?"class="refresh ui-icon ui-icon-refresh"></span>
		#{get 'title'/}
	</div>		
	<div class="bar center"><img src="/public/images/loadingMagic.gif"></div>
	<div id="#{get 'id'/}_content" class="ui-widget-content actual" style="display:none;">
	#{doLayout /}
	</div>
		<div class="filter"id="#{get 'id'/}_filter">
		<table>
		<tbody>
		<tr>
		<td><input style="width:100%" name="filter_textBox_#{get 'id' /}" type="text" onkeyup="filter_me(this);fix($('##{get 'id'/}_content'));"></td>
		<td style="width:80px">
		<a href="#"  style="display:inline-block" class="normalLinkp" onclick="previousPage(this);fix($('##{get 'id'/}_content'));"><span style="display:inline-block"class="ui-icon ui-icon-circle-arrow-w"></span></a>
		<a href="#"  style="display:inline-block" class="filterLinkp" href="" onclick="previousFilterPage(this);fix($('##{get 'id'/}_content'));"><span style="display:inline-block"class="ui-icon ui-icon-circle-arrow-w"></span></a>
		<span class="numPages">Error</span>
		<a href="#"  style="display:inline-block" class="normalLinkn" onclick="nextPage(this);fix($('##{get 'id'/}_content'));"><span style="display:inline-block"class="ui-icon ui-icon-circle-arrow-e"></span></a>	
		<a href="#"  style="display:inline-block" class="filterLinkn" href="#" onclick="nextFilterPage(this);fix($('##{get 'id'/}_content'));"><span style="display:inline-block"class="ui-icon ui-icon-circle-arrow-e"></span></a>
		</td>
		</tr>
		</tbody>
		</table>
</div>
</div>