#{extends 'main.html' /}
#{set title:'My Projects' /}
#{set 'moreLinks'}
<p><a href="@{Requestreviewers.ListTypesOfReviewers()}">Request to be a reviewer in a project</a></p>
<p><a href="/requestDeletion">Request to be deleted from the system</a></p>
#{/set}
<h1> My Projects</h1>
#{if projects.isEmpty()}
#{note 'error'}
	You are not in any project, if you want to request to join a project <a href="/show/projects">click here</a>
#{/note}
#{/if}
#{if !projects.isEmpty()}
#{note 'highlight'}
	These are your projects. If you want to request to join another project, <a href="/show/projects">click here</a>
#{/note}
<ul id= "prequests">
#{list items:projects, as:'pro'}
#{ifnot pro.deleted}
	<li id="us_${pro.id}">
	<a href="/show/project?id=${pro.id}"> ${pro.name} </a>
	</li>
#{/ifnot}
#{/list}

</ul>
#{/if}