#{extends 'magicBox.html' /}
#{set 'title'}Components #{if connected.in(project).can('addComponent')}<a href="javascript:overlayOpen('/admin/components/new?id=${projectId}')"><img src="@{'/public/images/famfam/add.png'}"></a>#{/if}#{/set}
	#{list items:components, as:'component'}
		<div name="/components/viewTheComponent?componentId=${component.id}">C${component.number}: ${component.name}<div class="item_imgs">#{if connected.in(project).can('editComponent')}<a href="javascript:overlayOpen('/admin/components/${component.id}')"><img src="@{'/public/images/famfam/pencil.png'}"></a>#{/if}#{if connected.in(project).can('deleteComponent')}<a onclick="javascript:deleteTheComponent(${component.id},this);"><img title="Delete" src="@{'/public/images/famfam/delete.png'}"></a>#{/if}<a href="javascript:overlayOpen('/productbacklogs/showgraph?id=${projectId}&componentId=${component.id}')"><img src="@{'/public/images/famfam/chart.png'}"></a></div></div>
	#{/list}
<script type="text/javascript">
function deleteTheComponent(cId, box){
	if((confirm('Are you sure you want to delete the component?')))
	{
		$.post('@{Components.delete()}', {id:cId}, function(data){ $.bar({message:data}
		);
		removeMe(box);
		;});
	}
}
</script>