#{extends 'magicBox.html' /}
#{set 'title'}C${component.number}: ${component.name} #{if connected.in(project).can('deleteComponent')}<a onclick="javascript:deleteTheComponent(${component.id},this);"><img title="Delete" src="@{'/public/images/famfam/delete.png'}"></a>#{/if}#{if connected.in(project).can('editComponent')}<a href="javascript:overlayOpen('/admin/components/${component.id}')"><img title="Edit" src="@{'/public/images/famfam/pencil.png'}"></a>#{/if}<a href="javascript:overlayOpen('/productbacklogs/showgraph?id=${projectId}&componentId=${component.id}')"><img title="Overall chart" src="@{'/public/images/famfam/chart.png'}"></a>#{/set}
#{if component.description!=null}#{note}${component.description}#{/note}#{/if}
		<div name="/users/findUsers?componentId=${component.id}" class="reload-component-${component.id}-users">Users #{drop 'component-' + component.id /}</div>
		<div name="/tasks/magicshow?componentId=${component.id}">Tasks</div>
		<div name="/sprints/listSprintsInComponent?componentId=${component.id}&type=2">Charts</div>
		<div name="/sprints/listSprintsInComponent?componentId=${component.id}&type=3">Sprint Backlog</div>
		<div name="/sprints/listSprintsInComponent?componentId=${component.id}&type=1">Boards</div>
<script type="text/javascript">
function deleteTheComponent(cId, box){
	if((confirm('Are you sure you want to delete the component?')))
	{
		$.post('@{Components.delete()}', {id:cId}, function(data){ $.bar({message:data}
		);
		removeMe(box);
		;});
	}
}
</script>