#{extends 'magicBox.html' /}
#{set 'title'}${title}
#{/set}

#{if users !=null}
		#{if users.size()==0}
		<label> No Users</label>
		#{/if}
		#{list items:users ,as :'User'}
			<div name="/users/findUsers?projectId=${currentProject.id}&userId=${User.id}">${User.name}</div>
		#{/list}
#{/if}
		
#{if user!=null}
	   #{if user.avatar !=""}
         <img src="${user.avatar}"></img>
       #{/if}
       #{else}
         <img src="@{'public/images/no-profile.png'}"/>
       #{/else}
	  	<br>
		<b>${user.name}</b>
		<br>
		<b>${user.email}</b>
		<br>
		<div name="/users/listUserProjects?userId=${user.id}&x=1&currentProjectId=${currentProject.id}">Projects</div>
#{/if}


		