#{extends 'magicBox.html' /}
#{set 'title'}${title}
		#{if user !=null}		
		#{if connected.in(project).can('editUser')}
			<a href="javascript:overlayOpen('/admin/users/${user.id}')"><img src="@{'/public/images/famfam/pencil.png'}"></a><br>
	   	#{/if}
	   	#{/if}
#{/set}

#{if users !=null}

		#{if users.size()==0}
		<label> No Users</label>
		#{/if}
		
		#{list items:users ,as :'User'}
			<div name="/users/findUsers?userId=${User.id}">${User.name}#{if connected.in(project).can('editUser')}<a href="javascript:overlayOpen('/admin/users/${User.id}')"><img src="@{'/public/images/famfam/pencil.png'}"></a>#{/if}</div>
		#{/list}
		
#{/if}
		
#{if user!=null}
		#{if user.avatar !=""}
       <img src="${user.avatar}"></img>
       #{/if}
       #{else}
       <img src="@{'public/images/no-profile.png'}"/>
       #{/else}
	  	<br>
		<b>${user.name}</b>
		<br>
		<b>Projects</b>
		%{count =0;}%
		#{list items:user.projects ,as :'project'}
			#{if count ==0}
			${project.name}
            #{/if}
            #{else}
            , ${project.name}
            #{/else}
            %{count =count+1;}%
		#{/list}
		<br>
#{/if}		