#{extends 'magicBox.html' /}
#{set 'title'}#{if currentProject && users}#{drag 'projectusers-'+currentProject.id /}
	
#{/if}${title}#{/set}

#{if users !=null}
		#{if users.size()==0}
		#{note 'error'}No users#{/note}
		#{/if}
		#{list items:users ,as :'User'}
			<div class="reload-user-${User.id}" name="/users/findUsers?projectId=${currentProject.id}&userId=${User.id}">
			${User.name}
			<div class="bar_more_info">#{list items:currentProject.roles ,as :'Role'}
	#{if Role.name!="Project Member" && Role.users.contains(User)}${Role.name}#{/if}
		#{/list}</div>
		  #{drop 'user-'+User.id /}#{drag 'user-' + User.id /}
			 #{if (User.id == connected.id)||(connected.isAdmin)}
			   <a href="javascript:overlayOpen('/users/editMiniProfile?userProfileId=${User.id}')">
			   <img title="Edit Personal info" src="@{'/public/images/famfam/pencil.png'}">
			   </a>
			 #{/if}
			</div>
		#{/list}
#{/if}
		
#{if user!=null}
		<div class="left">
		   #{if user.avatar !=""}
	         <img src="${user.avatar}"/>
	       #{/if}
	       #{else}
	         <img src="@{'public/images/no-profile.png'}"/>
	       #{/else}
		</div>
		<div class="left" style="padding:15px 10px">
			<p><b>Name: </b>${user.name}</p>
			<p><b>Email: </b>${user.email}</p>
		</div>
		<br style="clear:both"/>
		<div class="reload-projects-in-user-${user.id}" name="/users/listUserProjects?userId=${user.id}&boxId=1&currentProjectId=${currentProject.id}">Projects <small>(${user.projects.size()})</small></div>
#{/if}