#{extends 'magicBox.html' /}
#{set 'title'}${title}
#{/set}

#{if boxId==1}
   #{if user!=null}
	   #{list items:user.projects ,as :'project'}
		    <div class="reload-project-${project.id}-in-user-${user.id}" name="/users/listUserProjects?userId=${user.id}&boxId=2&projectId=${project.id}&currentProjectId=${currentProject.id}">${project.name}</div>
	   #{/list}
   #{/if}
#{/if}

#{if boxId==2}
   #{if user!=null}
    #{list items:project.roles ,as :'pRole'}
     #{list items:user.roles ,as :'uRole'}
      #{if pRole.id == uRole.id}
      
      <div class="bar">${uRole.name}
       #{if ((connected.in(project).can('revokeUserRole'))&&(project.id == currentProject.id))||((user.id == connected.id)&&(!uRole.baseRole))}
	        <a onclick="revokeRole(${uRole.id}, ${uRole.baseRole}, ${user.id}, ${project.id});">
	        <img title="Revoke Role" src="@{'/public/images/famfam/group_delete.png'}">
	        </a>
	    #{/if}
	   </div>
	   
      #{/if}
     #{/list}
    #{/list}
   #{/if}
#{/if}