#{extends 'overlay.html' /}
<style> label {width:550px !important}</style>
<div id="crudShow" class="${type.name}">
	
	<h2 id="crudShowTitle">Manage my notifications for ${currentNotificationProfile.project}</h2>
	<h3>Notify me when</h3>
	<div id="mnf"class="objectForm">
	#{form action:@saveNotificationProfile(object.project.id), enctype:'multipart/form-data'}
	#{crud.form}
		#{crud.custom 'user'}#{/crud.custom}
		#{crud.custom 'project'}#{/crud.custom}
		#{crud.custom 'deleted'}#{/crud.custom}
		#{crud.custom 'logs'}#{/crud.custom}
	#{/crud.form}
		<p class="crudButtons">
			<input type="submit" name="_save" value="&{'crud.save', type.modelName}" />
			
		</p>
	#{/form}
	</div>
		
</div>