<!--Author: Amr Tj.Wallas-->
<!--Task: C1S3-->
#{extends 'CRUD/layout.html' /}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head>
	<script src="@{'/public/javascripts/jquery-1.4.min.js'}" type="text/javascript" charset="utf-8"></script>
</head>

<div id="crudList" class="${type.name}">
	
	<h2 id="crudListTitle">&{'crud.list.title', type.name}</h2>
	
	<!-- Search for logs -->
	<div id="search">
	<form name="input" method = "get">
	Search:
	<input type="text" name="filter" id = "text" value="e.g Smartsoft" onfocus="this.value='';" />
	<input type="submit" value="Search" />
	</form> 
	
	</div>
	<br />
	#{if !logs.isEmpty()}
	#{if filter}
	<font size="3">You are currently viewing logs that match the Keyword: <font color="red">${filter}</font> &nbsp; <font size="1"><a href="/admin/logs"> view all logs? </a></font></font> 
	#{/if}
 	<!--List Rendered logs-->
	<div id="list">
		<br />
	#{list items:logs, as:'log'}
	     #{if log.madeBySysAdmin}
		 <font color="red"><b>[${log.date}]:  (SysAdmin) <a href = "/show/user?id=${log.user.id}">${log.user.name}</a> has performed action (${log.action_type}) using resource (${log.resource_type}) in project <a href="/show/project?id=${log.project.id}">${log.project.name}</a></b></font> <br /> 
		 #{/if}
		 #{else}
		 [${log.date}]:  <a href = "/show/user?id=${log.user.id}">${log.user.name}</a> has performed action (${log.action_type}) using resource (${log.resource_type}) in project <a href="/show/project?id=${log.project.id}">${log.project.name}</a> <br />
		 #{/else}
	#{/list}
	</div>
	<br />
	<!--Pagination for each page-->
	<div id="pagination">
	#{if !logs.isEmpty() && logs.get(0).prev() && page != 0}
	<a href = "logs?page=${page-1}&filter=${filter}"> Previous </a> ||
	#{/if}
	
	#{if !logs.isEmpty() && log.next() && (page+1)< (log.count()/25) && !(logs.size()<25)}
	<a href = "logs?page=${page+1}&filter=${filter}"> Next </a>  
	#{/if}
	#{/if}
	#{else}
	<font color="red">No Logs found.</font>
	#{/else}
	</div>
	<!--
	<p id="crudListAdd">
		<a href="@{blank()}">&{'crud.add', type.modelName}</a>
	</p>
	-->
 
</div>
