#{extends 'overlay.html' /}
<ul id="logs"></ul>
<input type="text" id="search_query"> <img id="loading_img" class="hidden" src="/public/images/loading.gif">
<style type="text/css" media="screen">

	#logs {
		font-size:20px;
		list-style:none;
	}
</style>
<script type="text/javascript" charset="utf-8">
	$(function() {
		search_logs(0);
	})
	function search_logs(page) {
		$('#loading_img').show()
		$.post('/logs/list', {projectId: ${project.id}, filter: $('#search_query').text(), page: page}, function(logs){
			
			body = $('#logs')
			body.empty()
			$('#loading_img').hide()
			$(logs.logs).each(function() {
				body.append('<li>'+this.message+'</li>')
			})
			$('#logs_pages').remove()
			body.after('<div id="logs_pages">')
			div = $('#logs_pages')
			if (logs.currentPage != 0) {
				div.append('<a onclick="search_logs('+(page-1)+')">Previous</a> ')
			}
			if (logs.currentPage != logs.totalPages) {
				div.append('<a onclick="search_logs('+(page+1)+')">Next</a>')
			}
		})
	}
</script>