#{extends 'main.html' /}
#{set title:'Review Log' /}


<!--@author Hossam Amer
Shows the start page of the review  
log to start reacting with the developer and/or
the scrum master-->

<h2>Review Log: </h2>
	#{secure.check 'canAddReviewLog'}				
		<a href="@{ReviewLog.showMeetingsNoReviewLog(projectID, cid, sid)}"  name = "showMeetingsNoReviewLog">Add a Review Log for meetings</a>		
	#{/secure.check}		
	<br>
		<a href="@{ReviewLog.showMeetings(projectID, cid, sid)}" name = "showMeetings" >Display the Review Log</a>		

#{set 'crumbs'}

	<li><a href = "@{Show.projects()}"> Projects</a></li>
	
	#{if pExist}
		<li><a href="@{Show.project (projectID)}">${p.name}</a></li>
		<li><a href="@{Sprints.showsprints(projectID)}}">Sprints</a></li>
		#{if sExist}
		<li><a href="@{Sprints.showsprint(sid,projectID)}">Sprint ${sid}</a></li>
		#{/if}
	#{/if}
	
	#{if cExist}
		<li><a href="@{SprintBacklog.index(cid, sid)}">${c.name} sprint backlog</a></li>
	#{/if}
	<li><a href="@{ReviewLog.index(projectID, cid, sid)}">Review Log</a></li>
#{/set}