#{extends 'main.html' /}
#{set title:'Review Meetings of no Review Log' /}

#{set 'moreScripts'}

<!--@author: Hossam Amer
used to show and change the status of  the meetings that do not have a review log!-->

<script type="text/javascript">

$(document).ready(function() {
    $("#accor").accordion({
		
		autoHeight: false,
		alwaysOpen: false,
		active: false,
		event: 'mouseover',
		navigation: true
		
	});
  });
  

</script>
#{/set}

<!--@author Hossam Amer
Shows the list of meetings  for the Scrum master
which does not have a review log-->

<h2>Meetings with no Review Log:</h2>
<br>


#{if directLink}
	<h3>Access Denied, You should select a Project first</h3>
#{/if}

#{else}

#{ifnot reviewMeetings}
	<h3>There are no meetings available to be displayed.</h3>
#{/ifnot}

#{else}
	<div id="NOTE"style="padding: 10px 10px 10px 10px" class="ui-state-highlight ui-corner-all"> 
	<span style="float: left; margin-right: 0.3em;" class="ui-icon ui-icon-info"></span>
	<strong>NOTE: </strong>Changing the review log status is done upon toggeling the checkbox<br/><a href="#"></a></div>

<br> 
Select:
<a href = "javascript: checkAll(1)">All</a>, 
<a href = "javascript: checkAll(0)"> None</a>
<br>
<div id="messageAll" style="display:none">You have changed the Review Log status</div>
<br>
	<ul id="reviewMeetings" >
	<div id= "accor">
	
		#{list items:reviewMeetings, as:'meeting'}
			<h6><a>${meeting.name}</a></h6>
			
			<div>
				Review Log Status: 
			<input type= "checkbox" id = "meeting_${meeting.id}" value = "${meeting.isReviewLog}" onchange="changeReviewLogStatus(${meeting.id})">
			<div id="message_${meeting.id}" style="display:none">You have changed the Review Log status</div>
			</div>
		#{/list}
	</div>
	<ul>

<br>

#{set 'moreLinks'}

	#{list items:reviewMeetings, as:'meeting'}
			<a href="@{Meetings.viewMeeting(meeting.id) }">${meeting.name}</a>
			<br>
	#{/list}
#{/set}
#{/else}
<br><br>
<!--<a href="@{ReviewLog.index(projectID)}"><b>Back</b></a>!-->
#{/else}


<script type="text/javascript">
	
	function changeReviewLogStatus (id)
	{	
		var changeStatus = confirm('Confirm changing the status?');
		
		if (changeStatus) {
			var status = $('#meeting_' + id).is(':checked');
			
			$.post("@{ReviewLog.changeReviewLogStatusDone()}", {
				id: id,
				hasReview: status, 
				projectID: ${projectID},
				importance: status
			});
			
			$('#message_'+id).html('Review Log status of that meeting have been altered ');
		}
		
		else 
		{
			$('#meeting_' + id).attr('checked', false);
			$('#message_'+id).html('Review Log status of that meeting remained the same');
		}
		
		$('#message_'+id).slideDown().effect('highlight', 2000).slideUp();
				
	}
	
	function checkAll(flag)
 	{
		if(confirm('Confirm changing the status of all meetings?'))
		{
			$('input[type="checkbox"]').each(
			function(){
				
				if($(this).is(':checked')!=flag)
				{	
					$.post("@{ReviewLog.changeReviewLogStatusDone()}", {
							id: this.id.split('_')[1],
							hasReview: flag,
							projectID: ${projectID},
							importance: status
							});	
					$('#messageAll').html('Review Log status of all meetings have been altered ');
					$(this).attr('checked', flag);
				
				}
				
				else
					$('#messageAll').html('Review Log status of all meetings remained the same'); 
				
				})
			}	
			else
				$('#messageAll').html('Review Log status of all meetings remained the same'); 
			
			
			$('#messageAll').slideDown().effect('highlight', 2000).slideUp();	
 	} 
		
</script>


#{set 'crumbs'}

	<li><a href = "@{Show.projects()}"> Projects</a></li>
	
	#{if pExist}
		<li><a href="@{Show.project (projectID)}">${p.name}</a></li>
		<li><a href="@{Sprints.showsprints(projectID)}}">Sprints</a></li>
		#{if sExist}
			<li><a href="@{Sprints.showsprint(sid,projectID)}">Sprint ${sid}</a></li>
		#{/if}
	#{/if}
	
	#{if cExist}
		<li><a href="@{SprintBacklog.index(cid, sid)}">${c.name} sprint backlog</a></li>
	#{/if}
		
		<li><a href="@{ReviewLog.index(projectID, cid, sid)}">Review Log</a></li>
		
		#{if pExist}
			<li><a href="@{ReviewLog.showMeetingsNoReviewLog(projectID, cid, sid)}"  name = "showMeetingsNoReviewLog">${p.name} Meetings of no Review Log</a></li>
		#{/if}
		
		#{else}
			<li><a href="@{ReviewLog.showMeetingsNoReviewLog(projectID, cid, sid)}"  name = "showMeetingsNoReviewLog">Display the Review Log</a></li>
		#{/else}
		
#{/set}