/**generic**/
body,html {
	background: #333 url('') repeat top left;
	font-family: Verdana;
	font-size: 10px;
	margin: 0px;
	padding: 0px;
}
.logoHolder{background: url('/public/images/bg2green.png') repeat-x scroll left top; width: 100%;height:120px;}
#TheLogo{background: url('/public/images/smartsoftgreen.png') no-repeat top left;height:120px; width:697px;display:inline-block;}

a:hover {
	color: #598527;
}

.makeTransparent {
	background: url('/public/images/bg2green.png') repeat-x fixed left top;
}

table div {
	vertical-align: top
}

a.white {
	background-color: #555;
	color: #fff !important;
	padding: 5px;
}

img {
	border: 0px;
}

a {
	color: #8dc73f;
	text-decoration: underline;
}

.inline-block {
	display: inline-block !important;
}

.block {
	display: block;
}

.right {
	float: right;
}

.left {
	float: left;
}

.shadow {
	box-shadow: 3px 3px 5px #333;
	-moz-box-shadow: 3px 3px 5px #333;
	-webkit-box-shadow: 3px 3px 5px #333;
}

/**top bar**/
.topper {
	background: #111;
	color: #eee;
	margin-top: -4px;
	padding: 5px 1% 5px 1%;
	width: 98%;
	position: relative;
	z-index: 99;
}

.topper a,.topper a:hover {
	color: #eee;
	text-decoration: none;
}

/**sideBar**/
.sideBar {
	min-height: 400px;
	min-width: 200px;
	overflow: auto;
	padding: 10px;
	display: block;
}
.ss {
	color: #598527;
	margin-top: 10px;
	font-size: 30px;
	line-height: 10px;
}
.sideBarHeading {
	text-align: center;
	padding: 5px 10px 15px 10px;
	font-family: century gothic;
	color: #598527;
	font-size: 18px;
	font-variant: small-caps;
	text-transform: lowercase;
	font-weight: 300;
	text-decoration: none !important;
}

.sideBarElements a:hover {
	color: #8dc73f;
}

.sideBarElements a {
	text-decoration: none;
	color: #333;
	display: block;
	width: 100%;
}

.sideBarElements {
	padding: 10px;
	color: #333;
	overflow: hidden;
}

#sideBarContent {
	margin-left: 20px;
	padding: 10px !important;
	height: auto !important;
}

#sideBarContent a {
	text-decoration: none;
	color: white;
	margin-left: 10px;
}

/**footer**/
.footer {
	width: 98%;
	min-width: 310px;
	height: 100%;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #FFF;
	padding: 10px 1% 10px 1%;
	display: block;
}

/**nav**/
.aDIV:hover {
	cursor: pointer;
	position: relative;
	z-index: 9;
	top: -10px;
	padding-bottom: 10px;
}

.aDIV {
	color: #eee !important;
	padding: 5px;
	margin-top: -22px;
	font-family: Verdana;
	font-size: 14px;
	font-variant: small-caps;
	text-transform: lowercase;
	min-width: 100px;
	display: inline-block;
	float: left;
	text-align: center;
	background-color: #111;
	overflow: hidden;
	margin-right: 10px;
	text-decoration: none !important;
}

/**rounded corners**/
.allCornersRounded {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.bottomCornersRounded {
	border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
}

.leftCornersRounded {
	border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
}

.rightCornersRounded {
	border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
}

.topCornersRounded {
	border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
}

/**curly notchs**/
.curlyNotchBottomRight {
	border-bottom-right-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	-webkit-border-bottom-right-radius: 20px;
	width: 20px;
	height: 20px;
}

.curlyNotchTopRight {
	border-top-right-radius: 20px;
	-moz-border-radius-topright: 20px;
	-webkit-border-top-right-radius: 20px;
	width: 20px;
	height: 20px;
}

.curlyNotchBottomLeft {
	border-bottom-left-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	-webkit-border-bottom-left-radius: 20px;
	width: 20px;
	height: 20px;
}

.curlyNotchTopLeft {
	border-top-leftt-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-webkit-border-top-left-radius: 20px;
	width: 20px;
	height: 20px;
}

/**triangle notch**/
.notchBottom {
	border-top: 15px solid #598527;
	border-right: 15px solid transparent;
	border-left: 15px solid transparent;
	border-bottom: 0px;
	height: 0px;
	width: 0px;
	font-size: 0;
	line-height: 0;
	margin-left: 30px;
	_border-right-color: pink;
	_border-left-color: pink;
	margin-top: -2px;
	_filter: chroma(color =              
		                                                          
		                   pink);
}

.notchBottom2 {
	border-top: 13px solid #598527;
	border-right: 13px solid transparent;
	border-left: 13px solid transparent;
	border-bottom: 0px;
	height: 0px;
	width: 0px;
	font-size: 0;
	position: relative;
	left: -13px;
	top: -15px;
	z-index: 10;
	line-height: 0;
	_border-right-color: pink;
	_border-left-color: pink;
	_filter: chroma(color =              
		                                                          
		                   pink);
}

.notchTop {
	border-bottom: 15px solid #598527;
	border-right: 15px solid transparent;
	border-left: 15px solid transparent;
	border-top: 0px;
	font-size: 0;
	line-height: 0;
	height: 0px;
	width: 0px;
	margin-left: 30px;
	_border-right-color: pink;
	_border-left-color: pink;
	_filter: chroma(color =              
		                                                          
		                   pink);
}

.notchRight {
	border-left: 15px solid #598527;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-right: 0;
	font-size: 0;
	line-height: 0;
	height: 0px;
	width: 0px;
	position: relative;
	float: right;
	display: inline-block;
	_border-right-color: pink;
	_border-left-color: pink;
	_filter: chroma(color =              
		                                                          
		                   pink);
}

.notchLeft {
	border-right: 15px solid #598527;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 0;
	font-size: 0;
	height: 0px;
	width: 0px;
	float: left;
	line-height: 0;
	_border-right-color: pink;
	_border-left-color: pink;
	_filter: chroma(color =              
		                                                          
		                   pink);
}

/**form**/
.search:focus {
	border: 0px !important;
}

.search {
	border: 0px;
	padding: 3px !important;
	color: #222;
	height: 30px;
	width: 180px;
	border-radius-bottom-left: 3px !important;
	-moz-border-radius-bottomleft: 3px !important;
	-webkit-border-bottom-left-radius: 3px !important;
	border-radius-top-left: 3px !important;
	-moz-border-radius-topleft: 3px !important;
	-webkit-border-top-left-radius: 3px !important;
	border-radius-bottom-right: 0px !important;
	-moz-border-radius-bottomright: 0px !important;
	-webkit-border-bottom-right-radius: 0px !important;
	border-radius-top-right: 0px !important;
	-moz-border-radius-topright: 0px !important;
	-webkit-border-top-right-radius: 0px !important;
	margin: 0px !important;
	background-color: #E8E8E8;
	font-size: 24px;
	vertical-align: top;
}

.searchBtn {
	padding: 3px !important;
	margin: 0px !important;
	border: 0px !important;
	vertical-align: middle;
	min-width: 70px;
	overflow: auto;
	min-height: 20px;
	color: #fff !important;
	background: #444 !important;
	background: -moz-linear-gradient(center bottom, #444 20%, #555 80%)
		!important;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0.2, #444),
		color-stop(0.8, #555) ) !important;
	height: 36px !important;
	border-radius-bottom-left: 0px !important;
	-moz-border-radius-bottomleft: 0px !important;
	-webkit-border-bottom-left-radius: 0px !important;
	border-radius-top-left: 0px !important;
	-moz-border-radius-topleft: 0px !important;
	-webkit-border-top-left-radius: 0px !important;
	border-radius-bottom-right: 3px !important;
	-moz-border-radius-bottomright: 3px !important;
	-webkit-border-bottom-right-radius: 3px !important;
	border-radius-top-right: 3px !important;
	-moz-border-radius-topright: 3px !important;
	-webkit-border-top-right-radius: 3px !important;
	color: #fff;
}

.search:focus,input[type=text]:focus,input[type=password]:focus,textarea:focus
	{
	background-color: #FFF;
	border: 1px #ddd solid;
	margin-bottom: 0.5px !important;
}

.searchBtn:hover {
	background: #598527 !important;
	background: -moz-linear-gradient(center bottom, #87155f 20%, #598527 80%)
		!important;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0.2, #87155f),
		color-stop(0.8, #598527) ) !important;
}

label {
	width: 150px;
	display: inline-block;
}

button {
	padding: 5px 10px 5px 10px !important
}

/**Messages Styles**/
#chatroomList,#skinList {
	text-align: center;
	color: #fff;
	display: none;
	position: absolute;
	z-index: 100
}

.skinListHolder {
	padding: 5px;
	background-color: #555;
	width: 100px; overflow auto;
	margin-left: 400px
}

.chatroomListHolder {
	padding: 5px;
	background-color: #555;
	width: 100px; overflow auto;
	margin-left: 250px
}

#chatContainer {
	vertical-align: top;
	position: absolute;
	right: 0px;
	margin-right: 10px;
	z-index: 99;
}

#content {
	min-height: 300px
}

.chatboxinput {
	padding: 5px;
	background-color: #ffffff;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}

.chatboxtextarea {
	width: 206px;
	height: 44px;
	padding: 3px 0pt 3px 3px;
	border: 1px solid #eeeeee;
	margin: 1px;
	overflow: hidden;
}

.chatboxtextarea:focus {
	border: 2px solid #598527 !important;
	margin: 0;
}

.chatContainerHeader {
	background-color: #598527;
	padding: 7px;
	color: #ffffff;
	border-right: 1px solid #598527;
	border-left: 1px solid #598527;
}

.thread {
	color: #333333;
	height: 200px;
	width: 209px;
	overflow-y: auto;
	padding: 7px;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #eeeeee;
	background-color: #ffffff;
	line-height: 1.3em;
}

.you,.them,.notice {
	padding: 5px;
	margin: 5px;
	overflow-y: auto;
}

.you,.notice {
	border-bottom: 1px solid #eee;
}

.you {
	background-color: #eee;
}

.notice {
	background: #60EC08;
}

/**tables**/
.myTables,.myTables td,.myTables tr,.myTables table {
	border: 0px;
	padding: 0px;
	vertical-align: top;
}

.cTitle {
	background-color: #bbb !important;
}

table {
	border-collapse: collapse;
}

#content table thead,#content table thead tr:hover {
	background-color: #999 !important;
	color: #333;
	font-size: 10px;
}

#content tr,#content td,#content table {
	border: 1px #999 solid;
}

#content table {
	width: 100%;
}

#content td {
	padding: 5px;
}

table {
	border-collapse: collapse;
}

tr {
	margin: 0px !important;
}

#content table tbody tr:hover {
	background-color: #efefef !important;
}

#sprint td form input,#Pstories td form input,#impedimentLog td form input
	{
	width: 100% !important;
	height: 100% !important;
	border: 0px !important;
	font: inherit !important;
	font-size: inherit !important;
}

/**headings**/
h1,h2,h4,h5 {
	font-family: Georgia, Serif !important;
}

.crudField {
	padding: 10px;
	border-bottom: 1px solid #eee;
	position: relative;
}

/
** project links** /
#boards a {
	background: transparent !important;
	padding: 0px !important;
	border: 0px !important;
	margin: 0px !important;
	float: none !important;
	font-size: 10px !important;
	text-align: left !important;
	text-decoration: underline !important;
}

ul.project_links a {
	background: #666;
	background: -moz-linear-gradient(center bottom, #666 20%, #888 80%)
		!important;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0.2, #666),
		color-stop(0.8, #888) ) !important;
	color: #000;
	display: block;
	float: left;
	font-size: 12px;
	margin: 10px;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	border-radius: 10px;
	-moz-border-radius: 10px;
}

#boards a:hover {
	box-shadow: 0px 0px 0px #8dc73f;
	-moz-box-shadow: 0px 0px 0px #8dc73f;
	-webkit-box-shadow: 0px 0px 0px #8dc73f;
}

ul.project_links a:hover {
	background: #888;
	background: -moz-linear-gradient(center bottom, #999 20%, #888 80%)
		!important;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0.2, #999),
		color-stop(0.8, #888) ) !important;
	box-shadow: 0px 0px 15px #8dc73f;
	-moz-box-shadow: 0px 0px 15px #8dc73f;
	-webkit-box-shadow: 0px 0px 15px #8dc73f;
}

ul.project_links a img {
	border: 0 none;
	display: block;
	margin: 0 auto;
	vertical-align: middle;
	height: 100px;
	margin-bottom: 5px;
}

tr.deleted {
	background: #FFA8A8;
}

.proj {
	background-color: #598527;
}

.proj2 {
	background-color: #b60000;
}

.projDes {
	padding: 10px;
	background-color: #598527;
	width: 300px;
	overflow: auto
}

/**notifications**/
.notifYear {
	width: 50px;
	height: 10px;
	padding: 5px;
	text-align: center;
}

.notifDM {
	width: 50px;
	background-color: #eee;
	padding: 5px;
	text-align: center;
}

.dateHolder {
	width: 60px;
	margin: -10px 10px 10px 0px
}

.notifHolder {
	padding: 10px;
	border-top: 1px solid #eee
}

.high {
	width: 60px;
	background-color: red;
	height: 10px;
	padding: 5px;
	text-align: center;
	color: white
}

.low {
	width: 60px;
	background-color: #8ef13c;
	height: 10px;
	padding: 5px;
	text-align: center;
	color: black
}

.medium {
	width: 60px;
	background-color: #FF9A00;
	height: 10px;
	padding: 5px;
	text-align: center;
	color: black
}