/**generic**/
.logoHolder {
	background: url('/public/images/bg2red.png') repeat-x scroll left top;

}

#TheLogo {
	background: url('/public/images/smartsoftred.png') no-repeat top left;

}

a:hover {
	color: #e40000;
}

.makeTransparent {
	background: url('/public/images/bg2red.png') repeat-x fixed left top;
}

a {
	color: #b60000;
	text-decoration: underline;
}
.ss {
	color: #e40000;

}

.sideBarHeading {
	color: #e40000;
}

.sideBarElements a:hover {
	color: rgb(158, 53, 114);
}
/**triangle notch**/
.notchBottom {
	border-top: 15px solid #e40000;
	border-right: 15px solid transparent;
	border-left: 15px solid transparent;
	border-bottom: 0px;
	height: 0px;
	width: 0px;
	font-size: 0;
	line-height: 0;
	margin-left: 30px;
	_border-right-color: pink;
	_border-left-color: pink;
	margin-top: -2px;
	_filter: chroma(color =               
		                                                          
		                    pink);
}

.notchBottom2 {
	border-top: 13px solid #e40000;
	border-right: 13px solid transparent;
	border-left: 13px solid transparent;
	border-bottom: 0px;
	height: 0px;
	width: 0px;
	font-size: 0;
	position: relative;
	left: -13px;
	top: -15px;
	z-index: 10;
	line-height: 0;
	_border-right-color: pink;
	_border-left-color: pink;
	_filter: chroma(color =               
		                                                          
		                    pink);
}

.notchTop {
	border-bottom: 15px solid #e40000;
	border-right: 15px solid transparent;
	border-left: 15px solid transparent;
	border-top: 0px;
	font-size: 0;
	line-height: 0;
	height: 0px;
	width: 0px;
	margin-left: 30px;
	_border-right-color: pink;
	_border-left-color: pink;
	_filter: chroma(color =               
		                                                          
		                    pink);
}

.notchRight {
	border-left: 15px solid #e40000;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-right: 0;
	font-size: 0;
	line-height: 0;
	height: 0px;
	width: 0px;
	position: relative;
	float: right;
	display: inline-block;
	_border-right-color: pink;
	_border-left-color: pink;
	_filter: chroma(color =               
		                                                          
		                    pink);
}

.notchLeft {
	border-right: 15px solid #e40000;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 0;
	font-size: 0;
	height: 0px;
	width: 0px;
	float: left;
	line-height: 0;
	_border-right-color: pink;
	_border-left-color: pink;
	_filter: chroma(color =               
		                                                          
		                    pink);
}
.searchBtn:hover {
	background: #e40000 !important;
	background: -moz-linear-gradient(center bottom, #87155f 20%, #e40000 80%)
		!important;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0.2, #87155f),
		color-stop(0.8, #e40000) ) !important;
}
.chatboxtextarea:focus {
	border: 2px solid #e40000 !important;
	margin: 0;
}

.chatContainerHeader {
	border-right: 1px solid #e40000;
	border-left: 1px solid #e40000;
}

#boards a:hover {
	box-shadow: 0px 0px 0px #b60000;
	-moz-box-shadow: 0px 0px 0px #b60000;
	-webkit-box-shadow: 0px 0px 0px #b60000;
}

ul.project_links a:hover {
	box-shadow: 0px 0px 15px #b60000;
	-moz-box-shadow: 0px 0px 15px #b60000;
	-webkit-box-shadow: 0px 0px 15px #b60000;
}
.proj {
	background-color: #e40000;
}

.proj2 {
	background-color: #b60000;
}

.projDes {

	background-color: #e40000;

}
