#{extends 'magicBox.html' /}
#{set 'title'}Task Types#{/set}
#{list items:project.taskTypes, as: 'taskType'}
<div name="">
#{if requested.contains(taskType)}
<a class="dim" href="#" onclick="removeRequestToBeReviewer(${taskType.id});"><img title="Remove request to be reviewer for this task type" src="@{'public/images/famfam/delete.png'}"></a>
#{/if}
#{else}
<a href="#" onclick="requestToBeReviewer(${taskType.id}, ${projectId});"><img title="Request to be reviewer for this task type" src="@{'public/images/famfam/add.png'}"></a>
#{/else}
${taskType.name}
</div>
#{/list}