#{extends 'magicBox.html' /}
#{set 'title'}<div class=" #{if role.baseRole}baseRole #{/if} all-roles-${role.project.id} role-div-${role.id}"><span class="delete_img"><a href="#" onclick="delete_role(${role.id}, this)" title="Delete"><img src="@{'/public/images/famfam/delete.png'}"></a> </span><a href="#" onclick="overlayOpen('/admin/roles/${role.id}')" title="Edit"><img src="@{'/public/images/famfam/pencil.png'}"></a> <span class="tick_img"><a href="#" title="Set base role" onclick="setBaseRole(${role.id}, ${role.project.id})"><img src="/public/images/famfam/star.png" alt=""></a></span></div>
${role.name}#{/set}

<p>
	<strong>Users: </strong>${role.users.size()}#{if role.users} <a onclick="$('#role-users-${role.id}').toggle()">[toggle]</a>
	#{/if}
	<div id='role-users-${role.id}' style="display:none;">${role.users}</div>
</p>