#{extends 'main.html' /}
#{set title:'Showing profile: '+user.name /}
#{set 'crumbs'}
<li><a href="/show/users">Users</a></li>
<li><a href="/show/user?id=${user.id}">${user.name}</a></li>
#{/set}
#{set 'moreLinks'}
#{if user != me && connected.canInvite()}
<p>
	<a href="#" onclick="$('#roles').toggle()">Invite user to a project</a>
	<div id="roles" style="display:none;" class="">
		<input type="text" id="project_search" onkeyup="search_projects();" style="width:200px;opacity:0.5;" value="Start typing project name..." onfocus="if($(this).val()==$(this)[0].defaultValue) {$(this).css({opacity:1}); $(this).val('');}" onblur="if($(this).val()==''){$(this).val($(this)[0].defaultValue); $(this).css('opacity', 0.5);}" /> <img id="loading" style="display:none;" src="@{'/public/images/ajax-loader.gif'}" />
		<div id="search_results" class="roles" style="display:none;"></div>
	</div>
</p>
#{/if}	
		#{if connected.isAdmin}
		<p>
			<a href="/admin/users/${user.id}">Edit profile</a>
			</p>			
		#{/if}
		#{if user==me & !(connected.isAdmin)}
			<p>
				<a href="/accounts/profile?id=${user.id}">Edit profile</a>
			</p>#{/if}
			#{if user == me}
			<p>
				<a href="/requestDeletion">Request Deletion From System</a>
			</p>
		#{/if}
		
		#{if connected.isAdmin & user != me }
<p>
			<a href="@{Users.del(user.id)}" onclick="return confirm('Are you absolutely really sure?');">Delete this user</a>
</p>
		#{/if}
#{/set}
#{if flash.success}
<p class="success">&{flash.success}</p>
#{/if}
<h1>${user.name}</h1>
	<div>
		
		#{if user.projects}
			#{note}<div class="tiny_info">Click a project to toggle the components ${user.name} is assigned to</div>#{/note}
			<h2>Projects:</h2>			
		#{/if}
		#{list items:user.projects, as:'project'}
			<div><a href="javascript:;" onclick="$('#project_components_${project.id}').toggle()"><font size = 2>${project.name}</font></a></div>
			<ol id="project_components_${project.id}" style="display:none;">
			#{set has:false /}
			#{list items:project.components, as:'component'}
				#{if user.components.contains(component)}
					#{set has:true /}
					<li>${component.name}</li>
				#{/if}
			#{/list}
			#{ifnot has}${user.name} is not assigned to a component in ${project.name} yet !#{/ifnot}
			</ol>
		#{/list}
		#{else}
			<h2>Projects:</h2>
			<div class="tiny_info">${user.name} is not involved in any projects yet !</div>
		#{/else}
	
</div>
<script type="text/javascript">
$(document).ready(function() {
	$("#accordion").accordion({ autoHeight:false } );
})
searching = null;
function search_projects() {
	if (!$('#project_search').val()) return;
	$('#loading').show();
	if (searching) {
		searching.abort();
	}
	searching = $.post( '/ajax/projects?invite=true&query=' + $('#project_search').val(),
			function(data) {
				str = '';
				$.each(data, function(id, item) {
					str += '<div style="height:150%;clear:both;">' + 
								'<div style="float:left;width:50px;">'+item.name+'</div>' + 
								'<div style="float:left;">' + 
								'<span id="project_'+item.id+'_roles"><a href="#" id="invite_lnk_'+item.id+'" onclick="load_roles('+item.id+');">Invite</a></span>' + 
								'</div>' + 
							'</div>';
				} );
				str += '<br style="clear:both;" />';
				$('#search_results').html(str).slideDown();
				$('#loading').hide();
			});
}
function load_roles( project_id ) {
	$.post('/projecttasks/getroles?id='+project_id, function(data){
		str = '<select id="role_'+project_id+'">';
		$.each(data, function(id, item){
			str += '<option value='+item.id+'>'+item.name+'</option>';
		});
		str += '</select> <a href="#" onclick="send_invite('+project_id+');">Send Invite!</a>';
		$('#project_'+project_id+'_roles').html( str );
	});	
}

function send_invite( project_id ) {
	$.post('/invites/sendinvite?id=' + $('#role_'+project_id).val() + '&userId=${user.id}', function(data){
		$('#project_'+project_id+'_roles').html(' &minus; Invitation sent!');
		$('#invite_lnk_'+project_id).show();
	});
}
</script>