#{extends 'main.html' /}
#{set title:'Password Recovery' /}

<div class="loginHolder"><div class="loginHelper">
<img src="/public/images/ss.png" alt="smartsoft"/>
<div id="login">
	
	<form method="post" action="@{Security.checkUsername()}">
	<h1>Recover Password</h1>
	<label>Please Enter your username/e-mail address</label>
	
	<input type="text" name="username" id="uname" />
	<br/>
	<br/>
	<input type="submit"  value="submit" /> or <a href="/secure/login">Back to login..</a>
	</form>
	
</div></div>
</div>

