#{extends 'Overlay.html'/}



<h2>Game's Summary</h2>
<table border="1">
#{list stories}
	<tr><td>${_.description.nl2br()} <font color="green">(Story estimate = ${_.estimationPoints})</font></td>
	<td WIDTH=200>
	<ul>
	#{list items : rounds, as: 'roundTricks'}
		
		
		#{if _ == roundTricks.round.task}<li>Round ${roundTricks.round.roundNo}: </li>
		
			<ul>
			#{list roundTricks, as:'__'}
				<li>${__.user.name} ${__.estimate}</li>
			#{/list}
			</ul>
		#{/if}
		#{/list}
	</ul>
	</td>
	</tr>
	#{/list}
	
	</table>