#{extends 'magicBox.html' /}

#{set 'title'}${project.name}'s Backlogs#{/set}
#{if (sprints.size()==0)}
	There are No Sprints.
#{/if}
#{else}
	#{list items:sprints, as:'sprint'}
#{if sprint.project.hasComponent()}
		#{if (sprint.id==runningSprint) }
			<div class="greenBg" name="@{Sprints.backlogs(sprint.id)}">Sprint ${sprint.sprintNumber} 
			#{drop 'sprint-' + sprint.id /}<a href="#" onclick="overlayOpen('@{SprintBacklog.index(0,sprint.id)}')" title="View backlog for all components?">
<img src="@{'public/images/famfam/table.png'}" alt="[chart]"/></a>
#{if connected.in(sprint.project).can("editSprint")}

<a href="#" onclick="overlayOpen('@{Sprints.projectshow(sprint.id)}')"><img src="/public/images/famfam/pencil.png" /></a>

#{/if}
			</div>
		#{/if}
		#{else}
		#{if (sprint.ended) }
			<div class="redBg" name="@{Sprints.backlogs(sprint.id)}">Sprint ${sprint.sprintNumber} <a href="#" onclick="overlayOpen('@{SprintBacklog.index(0,sprint.id)}')" title="View backlog for all components?">
<img src="@{'public/images/famfam/table.png'}" alt="[chart]"/></a>
#{if connected.in(sprint.project).can("editSprint")}

<img class="dim"src="/public/images/famfam/pencil.png" />

#{/if}
			</div>
		#{/if}
		#{else}
		<div class="yellowBg" name="@{Sprints.backlogs(sprint.id)}">Sprint ${sprint.sprintNumber} #{drop 'sprint-' + sprint.id /}	<a href="#" onclick="overlayOpen('@{SprintBacklog.index(0,sprint.id)}')" title="View backlog for all components?">
<img src="@{'public/images/famfam/table.png'}" alt="[chart]"/></a>
#{if connected.in(sprint.project).can("editSprint")}

<a href="#" onclick="overlayOpen('@{Sprints.projectshow(sprint.id)}')"><img src="/public/images/famfam/pencil.png" /></a>

#{/if}
			</div>#{/else}
		#{/else}




#{/if}
#{else}
		#{if (sprint.id==runningSprint) }
			<div class="greenBg overlay" name="@{SprintBacklog.index(0,sprint.id)}">Sprint ${sprint.sprintNumber} 
			#{drop 'sprint-' + sprint.id /}<a href="#" onclick="overlayOpen('@{SprintBacklog.index(0,sprint.id)}')" title="View backlog for all components?">
<img src="@{'public/images/famfam/table.png'}" alt="[chart]"/></a>
#{if connected.in(sprint.project).can("editSprint")}

<a href="#" onclick="overlayOpen('@{Sprints.projectshow(sprint.id)}')"><img src="/public/images/famfam/pencil.png" /></a>

#{/if}
			</div>
		#{/if}
		#{else}
		#{if (sprint.ended) }
			<div class="redBg overlay" name="@{SprintBacklog.index(0,sprint.id)}">Sprint ${sprint.sprintNumber} <a href="#" onclick="overlayOpen('@{SprintBacklog.index(0,sprint.id)}')" title="View backlog for all components?">
<img src="@{'public/images/famfam/table.png'}" alt="[chart]"/></a>
#{if connected.in(sprint.project).can("editSprint")}

<img class="dim"src="/public/images/famfam/pencil.png" />

#{/if}
			</div>
		#{/if}
		#{else}
		<div class="yellowBg overlay" name="@{SprintBacklog.index(0,sprint.id)}">Sprint ${sprint.sprintNumber} #{drop 'sprint-' + sprint.id /}	<a href="#" onclick="overlayOpen('@{SprintBacklog.index(0,sprint.id)}')" title="View backlog for all components?">
<img src="@{'public/images/famfam/table.png'}" alt="[chart]"/></a>
#{if connected.in(sprint.project).can("editSprint")}

<a href="#" onclick="overlayOpen('@{Sprints.projectshow(sprint.id)}')"><img src="/public/images/famfam/pencil.png" /></a>

#{/if}
			</div>#{/else}
		#{/else}




#{/else}
#{/list}
#{/else}
