#{extends 'overlay.html' /}
#{set 'moreScripts'}
 <script type="text/javascript"> 
$(function() {

	$('#object_startDate').datepicker({  
		changeMonth: true,
		changeYear: true,
		dateFormat: 'yy-mm-dd'
	 
	 });
	$('#object_endDate').datepicker({  
		changeMonth: true,
		changeYear: true,
		dateFormat: 'yy-mm-dd'
		
	 });
});</script>
#{/set}

<div id="crudShow" class="${type.name}">
	<h2 id="crudShowTitle">&{'crud.show.title', type.modelName}</h2>
	
	<div class="objectForm">
	#{form action:@projectsave(object.id), enctype:'multipart/form-data'}
		#{crud.form }	
			#{crud.custom 'startDate'}	
				<label for="object_startDate">Start Date</label>
				<input id="object_startDate" class="" type="text" name="object.startDate" value="${object.startDate.format('yyyy-MM-dd')}" size="10" />		
			#{/crud.custom }
			#{crud.custom 'endDate'}	
				<label for="object_endDate">End Date</label>
				<input id="object_endDate" class="" type="text" name="object.endDate" value="${object.endDate.format('yyyy-MM-dd')}" size="10" />		
			#{/crud.custom }
			#{crud.custom 'deleted'}
			#{/crud.custom}
			#{crud.custom 'meetings'}
			#{/crud.custom}
			#{crud.custom 'tasks'}
			#{/crud.custom}
			#{crud.custom 'days'}
			#{/crud.custom}
			#{crud.custom 'project'}
			#{/crud.custom}
			#{crud.custom 'sprintNumber'}
			#{/crud.custom }
			#{crud.custom 'Last'}
			#{/crud.custom }
			#{crud.custom 'logs'}
			#{/crud.custom }
		#{/crud.form}
		<p class="crudButtons">
			<input type="submit" name="_save" value="&{'crud.save', type.modelName}"/>
			<input type="submit" name="_saveAndContinue" value="&{'crud.saveAndContinue', type.modelName}" />
		</p>
	#{/form}
	</div>
</div>