#{extends 'overlay.html' /}
<script type="text/javascript" src="@{'public/javascripts/calendar_db.js'}"></script>
<link rel="stylesheet" href="@{'public/stylesheets/calendar.css'}">
<script type="text/javascript">
function postponemeetings(date){
	var old=document.getElementById('object_endDate').value;
	if(date!=old){
var meetings=('${meetings}');
var string='';
if(meetings.length>2){
for(i=1;i<meetings.length-1;i++){
	string=string+'\r\n'+meetings[i];
	}
	alert('Please consider these Meetings times : \r\n'+" "+string);
}
}
}
</script>

<div id="crudShow" class="${type.name}">
	
	<h2 id="crudShowTitle">&{'crud.show.title', type.modelName}</h2>
	
	<div class="objectForm">
	#{form action:@projectsave(object.id), enctype:'multipart/form-data'}
		#{crud.form }
		#{crud.custom 'sprintNumber'}
		#{/crud.custom }
		#{crud.custom 'startDate'}	
	
				

<label for="object_startDate">startDate</label>
	
	<input id="object_startDate" class="" type="text" name="object.startDate" value="${object.startDate.format('yyyy-MM-dd')}" size="10" />		
 
 	<script type="text/javascript">
 	var o_cal =new tcal ({
		// input name
		'controlname': 'object_startDate'
		
	},{'weekdays':["Su", "Mo", "Tu", "We", "Th", "Fr", "Sa"],'months':['January', 'February', 'March', 'April', 'May', 'June','July', 'August', 'September', 'October', 'November', 'December'],'imgpath': '/public/stylesheets/img/'});
	o_cal.a_tpl.weekstart = 1;
	
	</script>

<span class="crudHelp">YYYY-MM-DD</span>


			
		#{/crud.custom }
					#{crud.custom 'endDate'}	
	
				

<label for="object_endDate">endDate</label>
	
	<input id="object_endDate" class="" type="text" name="object.endDate" value="${object.endDate.format('yyyy-MM-dd')}" size="10" />		
 
 	<script type="text/javascript">
 	var o_cal =new tcal ({
		// input name
		'controlname': 'object_endDate'
		
	},{'weekdays':["Su", "Mo", "Tu", "We", "Th", "Fr", "Sa"],'months':['January', 'February', 'March', 'April', 'May', 'June,July', 'August', 'September', 'October', 'November', 'December'],'imgpath': '/public/stylesheets/img/'});
	o_cal.a_tpl.weekstart = 1;
	
	</script>

<span class="crudHelp">YYYY-MM-DD</span>


			
		#{/crud.custom }
		
							#{crud.custom 'deleted'}
		#{/crud.custom}
		#{crud.custom 'meetings'}
		#{/crud.custom}
		#{crud.custom 'tasks'}
		#{/crud.custom}
		#{crud.custom 'days'}
		#{/crud.custom}
		#{crud.custom 'project'}
		#{/crud.custom}
		
		
		#{/crud.form}
		<p class="crudButtons">
			<input type="submit" name="_save" value="&{'crud.save', type.modelName}"  onclick="postponemeetings('${object.endDate.format('yyyy-MM-dd')}');"/>
			<input type="submit" name="_saveAndContinue" value="&{'crud.saveAndContinue', type.modelName}" />
			<a  href="@{showsprints(projId)}"/>Cancel and go Back to Sprints Page</a>
		</p>
	#{/form}
	</div>
	
	

</div>