#{extends 'magicBox.html' /}
#{set 'title'}Sprints <a href="@{projectblank(project.id)}"><img src="@{'public/images/famfam/add.png'}" alt=[+]/></a>#{/set}
<script type="text/javascript">
function isBefore(date){
	var now=new Date();
	var other=new Date(date);
	if(now<other){
	return  true;
		}
	else{
	return false;
		}
}

</script>

#{if (sprints.size()==0)}
	There are No Sprints.
#{/if}
#{else}
	#{list items:sprints, as:'sprint'}
		#{if (sprint.id==runningSprint) }
			<div class="running" name="@{showsprint(sprint.id,sprint.project.id)}">Sprint ${sprint.id}</div>
		#{/if}
		#{else}
			<div class="p" name="@{showsprint(sprint.id,sprint.project.id)}">Sprint ${sprint.id}</div>
		#{/else}
<!-- 
				Start Date: ${sprint.format(sprint.startDate)}<br/>
				End Date: ${sprint.format(sprint.endDate)}<br/>
			<a href="@{showsprint(sprint.id,sprint.project.id)}">More Info</a>-->



#{/list}
#{/else}
