#{extends 'main.html' /}
#{set title:'Requests' /}

<h1>Requests  for ${pro.name}</h1>

<div id="accordion">
	<h6><a>Role requests</a></h6>
	<div>
#{if requests.isEmpty()}
<br/>
#{note 'error'}There are no new role requests in ${pro.name} #{/note}
<br/> 
#{/if}
#{else}
<ul id= "prequests">
#{list items:requests, as:'req'}
	<li id="req_${req.id}">${req.user.name} has  requested to be ${req.role.name}
	<a onclick="request_accept(${req.id}, '${req.hash}');" href="#">Accept  </a> &bull; 
	<a onclick="request_ignore(${req.id}, '${req.hash}');" href="#">Decline  </a>
	</li>
#{/list}
</ul>
#{/else}
</div>

<h6><a>Deletion requests</a></h6>
	<div>
#{if drequests.isEmpty()}
<br/>
#{note 'error'}There are no new deletion requests in ${pro.name}#{/note}
<br/> 
#{/if}

#{else}
<ul id= "prequests">
#{list items:drequests, as:'req'}
	<li id="req_${req.id}"><a href="/show/user?id=${req.user.id}">${req.user.name}</a> has  requested to be deleted from the project.
	<a onclick="request_accept2(${req.id}, '${req.hash}');" href="#">Accept  </a> &bull; 
	<a onclick="show_comment(${req.id});" href = "#">Decline</a>
	<div id = "comment_${req.id}" style="display:none">
		<b>Dear ${req.user.name}, your request to be deleted from ${req.project.name} has been denied because ....</b>
		<textarea id = "text_${req.id}" rows="2" cols="150"></textarea><br />
		<a onclick="do_ignore(${req.id}, '${req.hash}');" href = "#"><font color="red"><b><u>Decline Request and Notify user</u></b></font></a>
		<br /> <br />
	</div>
	</li>
	

#{/list}
#{/else}
</ul>
</div>
#{set 'crumbs'}
<li><a href="/show/projects">Projects</a></li>
<li><a href="/show/project?id=${pro.id}">${pro.name}</a></li>
#{/set}
<script type="text/javascript">
$(document).ready(function() {
	$("#accordion").accordion({ autoHeight:false } );
})
function request_accept( id, hash )
{
	$.post('@{requestAccept()}' ,
		    {hash:hash, id:id} ,
		    function(){
		    $('#req_'+id).remove();
		    })
		}
function request_accept2( id, hash )
{
	$.post('@{deletionRequestAccept()}' ,
		    {hash:hash} ,
		    function(){
		    $('#req_'+id).remove();
		    })
		}
function request_ignore( id, hash)
{
	$.post('@{requestIgnore()}' ,
		    {hash:hash} ,
		    function(){
		    $('#req_'+id).remove();
		    })
		}
function show_comment(id){
	
	$('#comment_'+id).show();
	}
function do_ignore(id, hash){
	var textValue = $('#text_'+id).val();
	if(textValue == '')
	alert('you must Enter a reason why you declined this request!');
	else
	{
		$.post('@{requestIgnore()}' ,
		    {hash:hash, body:textValue} ,
		    function(){
		    $('#req_'+id).remove();
		    })
			$('#comment_'+id).remove();
		}
	}
</script>