#{extends 'overlay.html' /}

<style type="text/css">
	.drag{position: relative;}
	.shadowed {
  -moz-box-shadow: 2px 2px 3px #969696;
  -webkit-box-shadow: 2px 2px 3px #969696;
  padding:4px;
}
</style>

#{set 'moreScripts'}
<script  type="text/javascript" src="@{'/public/javascripts/tzcount.js/'}" ></script>
<script  type="text/javascript" src="@{'/public/javascripts/dragtable.js/'}" ></script>
<script  type="text/javascript" src="@{'/public/javascripts/jeditable.js/'}"  ></script>
<script  type="text/javascript" src="@{'/public/javascripts/drag.js/'}"  ></script>
#{/set}
#{set 'onLoad'}
REDIPS.drag.init()
#{/set}

#{if comp==null}
<h1>${p.name}'s Task Board</h1>
#{/if}
#{else}
<h1>${comp.name}'s Task Board</h1>
#{/else}

<a href="#" id="ToggleBoard-open" onclick="ToggleBoardOpen();" title="toggle" class="tiptitize" style="display:none"><img src="@{'/public/images/famfam/show.bmp'}"></a>
<a href="#" id="ToggleBoard-close" onclick="ToggleBoardClose()" title="toggle" class="tiptitize"><img src="@{'/public/images/famfam/hide.png'}"></a>

#{set count=0}
#{/set}

#{if comp==null}
<a title="view snapshots" class="tiptitize" href="javascript:popUp('/Snapshots/boardsnapshots?sid=${s.id}&pid=${p.id}')"><img src="@{'/public/images/famfam/photos.png'}"></a>
<a title="take a snapshot" class="tiptitize" href="javascript:take_snapshot(${s.id})"><img src="@{'/public/images/famfam/camera_add.png'}"></a>
#{/if}
#{else}
<a title="view snapshots" class="tiptitize" href="javascript:popUp('/Snapshots/boardsnapshots?sid=${s.id}&cid=${comp.id}')"><img src="@{'/public/images/famfam/photos.png'}"></a>
<a title="take a snapshot" class="tiptitize" href="javascript:take_snap(${comp.id},${s.id})"><img src="@{'/public/images/famfam/camera_add.png'}"></a>
#{/else}

<a href="#;" class="tiptitize" onclick="$('#changeCol').slideToggle(400)" title="view hidden columns" type="button" ><img src="@{'/public/images/famfam/application_view_columns.png'}"></a>


<!-- view hidden Col by Hadeer -->
#{if connected.in(p).can('ShowColumn')}
#{if hidencolumnsOfBoard.isEmpty()}
<a class="tiptitize dim" title="all columns are added" type="button"><img src="@{'/public/images/famfam/add.png'}"></a>
#{/if}
#{else}
<a href="#;" class="tiptitize" onclick="$('#b1').slideToggle()" title="add column?" type="button"><img src="@{'/public/images/famfam/add.png'}"></a>
#{/else}
#{/if}



<!-- hide Col by Hadeer -->
#{if connected.in(p).can('HideColumn')}
#{if columnsOfBoard.isEmpty()}
<a class="tiptitize dim" title="all columns deleted" type="button"><img src="@{'/public/images/famfam/delete.png'}"></a>
#{/if}
#{else}
<a href="#;" class="tiptitize" onclick="$('#b2').slideToggle(400)" title="delete column?" type="button" ><img src="@{'/public/images/famfam/delete.png'}"></a>
#{/else}
#{/if}

#{if comp==null}
<a title="Meetings" class="tiptitize" href="javascript:popUpmeeting('/Boards/loadMeetings?pid=${p.id}&sid=${s.id}')"><img src="@{'/public/images/famfam/date.png'}"></a>
#{/if}
#{else}
<a title="Meetings" class="tiptitize" href="javascript:popUpmeeting('/Boards/loadMeetings?pid=${p.id}&sid=${s.id}&cid=${comp.id}')"><img src="@{'/public/images/famfam/date.png'}"></a>
#{/else}

<br/>
<select id="changeCol" onchange="showCol(changeCol.value)" style="display:none">
<option id="d" value="d">Columns</option>
#{list items:columnsOfBoard, as:'c'}
<option value= "${count}" onclick="showCol(${count})">${c.name}</option>
#{set count=count+1}
#{/set}
#{/list}	
</select>

#{if comp==null}
<select id="b1" onchange="javascript: showHiddenCol(b1.value, ${s.id},0);" style="display:none" class="hidecol">
<option value="">Columns</option>
#{list items:hidencolumnsOfBoard, as:'c'}
<option onclick="showHiddenCol(${c.id}, ${s.id},0)" value= "${c.id}">${c.name}</option>
#{/list}
#{/if}
#{else}
<select id="b1" onchange="javascript: showHiddenCol(b1.value, ${s.id},${comp.id});" style="display:none" class="hidecol">
<option value="">Columns</option>
#{list items:hidencolumnsOfBoard, as:'c'}
<option onclick="showHiddenCol(${c.id}, ${s.id},${comp.id})" value= "${c.id}">${c.name}</option>
#{/list}
#{/else}
</select>

#{if comp==null}
<select id="b2"  style="display:none" onchange="hideCol(b2.value, ${s.id},0)" class="showcol">
<option id="x" value="">Columns</option>
#{list items:columnsOfBoard, as:'c'}
<option onclick="hideCol(${c.id}, ${s.id},0)" value="${c.id}">${c.name}</option>
#{/list}
#{/if}
#{else}
<select id="b2" onchange="hideCol(b2.value, ${s.id},${comp.id})" style="display:none" class="showcol">
<option id="x" value="">Columns</option>
#{list items:columnsOfBoard, as:'c'}
<option onclick="hideCol(${c.id}, ${s.id},${comp.id})" value="${c.id}">${c.name}</option>
#{/list}
#{/else}
</select>

<div id="drag">
<table id="mainBoard" class="draggable"  border="1">

<tr> <!-- headers row -->					
	<td>Headers</td>
	
	<!-- set flag based on logged in user -->
	#{set count=0}
	#{/set}
	#{list items:columnsOfBoard, as:'col'}	
	<td style="text-align:center;" class="col_${count}"> 	
		#{if connected.in(p).can('renameColumns')}<!-- if admin -->
		<div style="font-size:small;display:inline-block;width:3cm" class="${col.name} editCOL ccolumn" id="${col.id}" title="Edit the column name?">${col.name}</div>
		#{/if}
		#{else} <!-- if not admin -->
		<div style="font-size:small; display:inline-block;" class="${col.name} ">${col.name}</div>
		#{/else}	
		<div style="text-align:center">
		<a id="${col.sequence}_c" onclick = "swapCol(id)" style="color:#FFFFFF">
		<span style="list:none;padding:1px 1px 1px 1px;display:inline-block" title="Swap with another column?" class="ui-state-default ui-corner-all">
		<span style="display:inline-block !important"><img src="@{'/public/images/famfam/swap.png'}"></span>
		</span></a>
		<a><span style="list:none;padding:1px 1px 1px 1px;display:inline-block" title="Drag the column Anywhere" >
		<span style="display:inline-block" class="ui-icon ui-icon-arrow-4 "></span>
		</span></a>
		<a style="color:#FFFFFF"><span style="list:none;padding:1px 1px 1px 1px;display:inline-block" class="ui-state-default ui-corner-all ">
		<span onclick="myhidecol(id)" title="hide column?" id="${count}" style="display:inline-block !important"class="tiptitize"><img src="@{'/public/images/famfam/toggle-open.gif'}"></span>
		</span></a>
		#{set count=count+1}
		#{/set}
		</div>
	</td>
	#{/list}
</tr>

#{list items:data, as:'component'}  
#{if component!=null} 
<tr id="com-${component.id}_hidden" style="display:none;" > <!-- empty rows of the board -->
	<td>Click here to toggle</td>
	#{set count=0}
	#{/set}
	#{list items:columnsOfBoard, as:'col'}
	<td class="col_${count}"></td> <!-- creating empty cells in each row based on number default columns (onBoard=true) -->
	#{set count=count+1}
	#{/set}
	#{/list}
</tr>

<tr id="com-${component.id}" style="height:100px"> <!-- filling rows with data -->
	<td id="com-${component.id}" onclick="component(this.id);">${component.title}</td> <!-- 1st cell in each row with component name -->
	#{set count=0}
	#{/set}
	#{list items:component, as:'col'}
	<td class="col_${count}" style="max-width:5000px">  <!--filling cells in each row with tasks -->
		#{set count=count+1}
		#{/set}
		#{list items:col, as:'task'}
		<!-- small sticky note -->
		#{if connected.in(p).can('changeTaskStatus') || connected.equals(task.assignee) || connected.equals(task.reviewer)}
		<div style="float:left" id="task-${task.id}_T" class="drag status status_${task.id}">
		#{/if}
		#{else}
		<div style="float:left" id="task-${task.id}_T" class="nostatus nostatus_${task.id}">
		#{/else}
		<a id="task-${task.id}_hidden" style="display:none; font-size:large;cursor: pointer !important;text-decoration:none" onclick="showtask(this.id);">+</a>
		<div id="task-${task.id}_TT">
		<p>		
		<div class="${task.taskStatus.columns[0].name}" style="max-width:130px"></div>  
		<div style="max-width:130px" class="status status_${task.id}">
		<div class="small_${task.id} shadowed tiptipize" style="background-color:${task.taskType.hexColor};border-radius: 10px; max-width:110px;border=0px"  id="${task.id}_small">
		<a id="task-${task.id}" onclick="ctask(this.id);" style="font-size:x-large;cursor: pointer !important;border=0px; text-decoration:none">-</a> 
		<div id="desc_${task.id}">${task.description}</div>
		<a class="tiptitize" onclick="SmallSticky(this.id)" title="Edit task info?"  style="cursor: pointer !important" id="${task.id}_button">more info..</a>
		</div>
		</div>
		</p>
		
		
		<!-- big sticky note -->						
		<div class="large_${task.id}" id="${task.id}Large" style="display:none;border:hidden">
		<div style="max-width:165px" id="tas-${task.id}_" >
		<p style="float:left"> 
		<div class="shadowed tiptipize" style="background-color:${task.taskType.hexColor};border-radius: 15px;border=0px" id="tas-${task.id}_T">
		<div  style="border=0px" align="center"></div>
		
		#{if connected.in(p).can('changeTaskDescreption') || connected.equals(task.assignee)} <!-- if has permission (desc) or assignee -->
		
		<div style="width:3cm" id="${task.id}_des" border=0px class="editDES editdesc_${task.assignee.id} tiptipize" title="Edit description?">${task.description}</div>	
		<div style="display:none" class="noedit noedit_${task.assignee.id}"id="${task.id}_desc" border=0px >${task.description}</div>	
		#{/if}
		#{else} <!-- if doesn't have have permission (desc) nor assignee -->
		<div class="noedit noedit_${task.assignee.id}"id="${task.id}_des" border=0px >${task.description}</div>
		<div style="display:none;width:3cm" id="${task.id}_desc" border=0px class="editDES editdesc_${task.assignee.id} tiptipize" title="Edit description?">${task.description}</div>		
		#{/else}
		
		#{if comp==null}
		#{if connected.in(p).can('changeAssignee')} <!-- if has permission (edit assignee) -->
		<div><a title="Change Assignee?" value="dddd" class="hidesassi tiptitize" id="usr_${task.id}" href="javascript:popUp('/Tasks/chooseTaskAssi?taskId=${task.id}&compId=${component.id}&userId='+selectedUser)">
		Assignee:${task.assignee}</a></div>
		<div id="usrs_${task.id}" class="showdesc" style="display:none">Assignee:${task.assignee}</div>	
		#{/if}
		#{else} <!-- if doesn't have permission (edit assignee) -->
		<div><a title="Change Assignee?" style="display:none" class="hidesassi tiptitize" id="usr_${task.id}" HREF="javascript:popUp('/Tasks/chooseTaskAssi?taskId=${task.id}&compId=${component.id}&userId='+selectedUser)">
		Assignee:${task.assignee}</a></div>
		<div id="usrs_${task.id}" class="showdesc">Assignee:${task.assignee}</div>
		#{/else}
		#{/if}
		
		#{if connected.in(p).can('changeReviewer')} <!-- if has permission (edit reviewer) -->
		#{if comp==null}
		<div><a id="rev_${task.id}" title="Change Reviewer?" class="hidesrev tiptitize"  HREF="javascript:popUp('/Tasks/chooseRev?taskId=${task.id}&compId=${component.id}&userId='+selectedUser)">
		Reviewer:${task.reviewer}</a></div>
		#{/if}
		#{else}
		<div><a id="rev_${task.id}" title="Change Reviewer?" class="hidesrev tiptitize"  HREF="javascript:popUp('/Tasks/chooseRev?taskId=${task.id}&compId=${comp.id}&userId='+selectedUser)">
		Reviewer:${task.reviewer}</a></div>
		#{/else}
		<div id="revs_${task.id}" class="showrev" style="display:none">Reviewer:${task.reviewer}</div>
		#{/if}
		#{else} <!-- if doesn't have permission (edit reviewer) -->
		#{if comp==null}
		<div><a id="rev_${task.id}" title="Change Reviewer?" style="display:none" id="rev_${task.id}" class="hidesrev tiptitize"  HREF="javascript:popUp('/Tasks/chooseRev?taskId=${task.id}&compId=${component.id}&userId='+selectedUser)">
		Reviewer:${task.reviewer}</a></div>
		#{/if}
		#{else}
		<div><a id="rev_${task.id}" title="Change Reviewer?" style="display:none" id="rev_${task.id}" class="hidesrev tiptitize"  HREF="javascript:popUp('/Tasks/chooseRev?taskId=${task.id}&compId=${comp.id}&userId='+selectedUser)">
		Reviewer:${task.reviewer}</a></div>
		#{/else}
		<div id="revs_${task.id}" class="showrev">Reviewer:${task.reviewer}</div>
		#{/else}
		
		#{if connected.in(p).can('changeTaskType') || connected.equals(task.assignee)} <!-- if has permission (type) or assignee -->
		<div><a id="type_${task.id}" title="Edit type?" class="tiptitize hidestype shows_${task.assignee.id}" HREF="javascript:popUp('/Tasks/chooseType?taskId=${task.id}&userId='+selectedUser)">
		Type:${task.taskType.name}</a></div>
		<div id="types_${task.id}" style="display:none" class="shwtype shwtype_${task.assignee.id}" id="${task.id}_type">Type:${task.taskType.name}</div>
		#{/if}
		#{else} <!-- if doesn't have have permission (type) nor assignee -->
		<div><a title="Edit type?" style="display:none" id="type_${task.id}" class="tiptitize hidestype shows_${task.assignee.id}" HREF="javascript:popUp('/Tasks/chooseType?taskId=${task.id}&userId='+selectedUser)">
		Type:${task.taskType.name}</a></div>
		<div id="types_${task.id}" class="shwtype shwtype_${task.assignee.id}" id="${task.id}_type">Type:${task.taskType.name}</div>
		#{/else}
		<a href="#" id="${task.id}-done" title="Done Editing?" onclick="done(this.id)" class="tiptitize">Done</a>
		</div>
		</p>	
		</div>
		</div>
		</div>
		</div>
		#{/list}
	</td>
	#{/list}
</tr>#{/if}
#{/list}
</table>
</div>

<script type="text/javascript">

var selectedUser = 0;
var col_from = -1;
var col_to = -1;

function take_snapshot(sid) 
{
	$.post('/Snapshots/TakeSnapshot', {sprintID:sid,componentID:0,meetingID:0}, function(){$.bar({message:"Snapshot Taken!"})});
}
function take_snap(id, sid) 
{	
	if(id!=null)
	$.post('@{Snapshots.TakeSnapshot()}', {sprintID:sid,componentID:id,meetingID:0} ,function(){$.bar({message:"Snapshot Taken!"})});	
}
function showCol(c)
{
	//$('#desc_1').load('/boards/loadboard1?sprintID=1 #desc_1');
	$('.col_'+c).css('display','table-cell');	
	var seloption = document.getElementById('changeCol');
	seloption.selectedIndex='d';
}
function showHiddenCol(colid, sid, compid)
{
	$.post('/Boards/showHiddenColumn' ,{cid:colid,uid:${connected.id},sid:sid,compid:compid}, function(){window.location.reload();});		
}
function hideCol(colid,sid,compid)
{
	alert(colid);
	var answer=confirm('Are you sure u want to delete this coulmn?')
	if (answer) 	
	{
		$.post('/Boards/hideColumn' ,			
		{cid:colid,uid:${connected.id},sid:sid,compid:compid}, function(){
		window.location.reload();
		});
	}
	else
	{
	  	var seloption = document.getElementById('b2');
		seloption.selectedIndex='x';
	}
}
function popUp(URL) 
{
	day = new Date();
	id = day.getTime();
	eval("page" + id + " = window.open(URL, '" + id + "', 'toolbar=0,scrollbars=1,location=0,statusbar=0,menubar=0,resizable=1,width=200,height=270,left = 0,top = 0');");
}

function popUpmeeting(URL) 
{
	day = new Date();
	id = day.getTime();
	eval("page" + id + " = window.open(URL, '" + id + "', 'toolbar=0,scrollbars=1,location=0,statusbar=0,menubar=0,resizable=1,width=980,height=150,left = 135,top = 30');");
}


function SmallSticky(did)
	{
		var split = did.split("_");
		var id=split[0];	
		$('#'+id+"_small").hide();
		$('#'+id+"Large").show();
	}

function done(did)
	{		
	var split 	= did.split("-");
	var id=split[0];
		$('#'+id+"_small").show();
		$('#'+id+"Large").hide();
	}

function ctask(id)
{
	var split 	= id.split("-");
	sid=split[1];
	$('#'+id+"_TT").hide();	
	$('#'+id+"_hidden").show();
}
	
	function showtask(id)
	{
		var splittedT 	= id.split("_");
		var j= splittedT[0];
		originalT = '#'+j+"_TT";
		$(originalT).show();
		$('#'+id).hide();
	}
	
	function component(id)
	{
		$('#'+id).toggle();
		original = '#'+id;
		$('#'+id+"_hidden").toggle();
		$('#'+id+'_hidden').click(function(){
		var splittedC 	= id.split("_");
		var i= splittedC[0];
		originalC = '#'+i;
		$(originalC).show();
		$(this).hide();
	});
	}
		
	function ToggleBoardClose()
	{
		$('#mainBoard').slideToggle(400)
		$('#ToggleBoard-open').css('display','inline-block');
		$('#ToggleBoard-close').css('display','none');	
 	}
 	
	function ToggleBoardOpen ()
	{
		$('#mainBoard').slideToggle(400)
		$('#ToggleBoard-open').css('display','none');
		$('#ToggleBoard-close').css('display','inline-block');
 	}
	
	function myhidecol(id)
	{
		var i =id;
		$('.col_'+i).css('display','none');
	}
	
	$('.editDES').live('mouseover',function(){$(this).editable(function(value)
		{
		var taskId 	= parseInt($('#lolid').closest("div").attr("id"));  
    	 $.post('@{Tasks.editTaskDesc2()}',{id:taskId, userId:selectedUser, desc:value});
		 document.getElementById("desc_"+taskId).innerHTML = value;
       	 document.getElementById(taskId+"_des").innerHTML = value;
         document.getElementById(taskId+"_desc").innerHTML = value;
		 return(value);   
    	},{indicator : 'Saving...',});});

	$('.editCOL').live('mouseover',function(){$(this).editable(function(value)
    	   {var colId 	= parseInt($('#lolid').closest("div").attr("id"));   
    	    $.post('@{Columns.editColumnName}',{id:colId, name:value, userId:selectedUser});
		    return(value);
    	   },{indicator : 'Saving...',});});
	
	$('.tiptipize').live('mouseover',function(){$(this).tipTip({delay:0});});

	/**
	 * swapping with clicking instead of drag and drop.
	 * 
	 * @author: 
	 *	 		Joseph Hajj
	 * 
	 */
 function swapCol(TheID)
	{
		var data = TheID.split("_");
		var id = data[0];
		var temp;
		var table = document.getElementById("mainBoard");
		if(col_from==-1)
		{
			
			col_from=id;
			col_from++;
			var rowCount = table.rows.length;
			for(var i=1; i<rowCount; i++)
			{
			table.rows[i].cells[col_from].style.backgroundColor = '#CCFFFF';
			}
			col_from--;
			
		}
		else if (col_from==id)
		{
			
			var rowCount = table.rows.length;
			col_from++;
			for(var i=1; i<rowCount; i++)
			{
			table.rows[i].cells[col_from].style.backgroundColor = '#FFFFFF';
			}
			col_from=-1;
		}
		else if (col_to==-1)
		{
			col_to=id;
			col_from++;
			col_to++;

			var rowCount = table.rows.length;
			for(var i=1; i<rowCount; i++)
			{
			table.rows[i].cells[col_from].style.backgroundColor = '#FFFFFF';
			}
			
			for(var i=0; i<rowCount; i++)
			{
				temp = table.rows[i].cells[col_from].innerHTML;
				table.rows[i].cells[col_from].innerHTML = table.rows[i].cells[col_to].innerHTML;
				table.rows[i].cells[col_to].innerHTML = temp ;
			}
			col_to--;
			col_from--;

			$.post('/Columns/changeColumnPosition2' ,			
					{id:gup('sprintID'),pos1:col_from, pos2:col_to,user_id : selectedUser,cid:gup('componentID')},
					function()
					{
						location.reload();
						});
			col_from = col_from + "_c";
			col_to = col_to + "_c";
			var col1 = document.getElementById(col_from);
			var col2 = document.getElementById(col_to);
			if(col_to>col_from)
			{
				col1.id=col_to;
				col2.id=col_from;
			}
			else
			{
				col2.id=col_from;
				col1.id=col_to;
			}
			
			
			col_from=-1;
			col_to=-1;
			
		}
		else
		{	
			col_from=id;
			col_to=-1;
		}
	}
	/**
	 * swapping with settings instead of drag and drop.
	 * 
	 * @author: 
	 *	 		Joseph Hajj
	 * 
	 */
		function swapValues() {
		var table = document.getElementById("mainBoard");
		var from = document.getElementById("from").value;
		var to = document.getElementById("to").value;
		var rowCount = table.rows.length;
		for(var i=0; i<rowCount; i++)
		{
			temp = table.rows[i].cells[from].innerHTML;
			table.rows[i].cells[from].innerHTML = table.rows[i].cells[to].innerHTML;
			table.rows[i].cells[to].innerHTML = temp ;
		}
		}
</script>
