#{extends 'main.html' /} #{set title:'About Us' /} 
<h1>About Us</h1>
<div style="text-align:center; background-color:#ccc; padding:10px;margin:auto; overflow:auto; width:300px">
<img src="@{'public/images/smartsoftteam.png'}" style="width:300px;margin-bottom:3px"/>
<br/>
The SmartSoft team!
</div>
<br/>
SmartSoft was born in 2010, originally being the name given to a tutorial group for the Software Engineering Course given in the German Universty of Cairo.
<br/>
<Strong>SmartSoft CEO</Strong><br/>
Dr Fatma Maewad
<br/>
<Str
<strong>Component 1</strong>
<ol>
<li>Mahmoud Sakr</li>
<li>Amr Osman</li>
<li>Moataz Mekki</li>
<li>Omar Nabil</li>
</ol>
<strong>Component 2</strong>

<ol>
<li>Ghada Fakhry</li>
<li>Mina Zaki</li>
<li>Amr Hany</li>
<li>Ahmed Behairy</li>
<li>Hossam Sharaf</li>
</ol>
<strong>Component 3</strong>

<ol>
<li>Galal Aly</li>
<li>Heba ElSherif</li>
<li>Mohamed ElMonayri</li>
<li>Moumen Elteir</li>
<li>Mahmoud Sharawi</li>
</ol>
<strong>Component 4</strong>
<br/>
<ol>
<li>Menna Ghoneim</li>
<li>Hadeer Younis</li>
<li>Ahmed Khaled</li>
<li>Hossam Amer</li>
<li>Emad Abd El Rahman</li>
</ol>
<strong>Component 5</strong>
<ol>
<li>Dina Helal</li>
<li>Hadeer Diwan</li>
<li>Asmaa AlKomy</li>
<li>Amr Abdelwahab</li>
<li>Joseph El Hajj</li>
</ol>

