#{extends 'magicBox.html' /}
#{set 'title'}${title} #{if stories!=null}<a href="javascript:overlayOpen('/storys/choose?projectId=${stories.get(0).componentID.project.id}')"><img src="@{'/public/images/famfam/add.png'}"></a>#{/if}#{/set}


		#{if task !=null}
		#{if task.size()==0}
		<label> No Tasks</label>
		#{/if}
		#{list items:task ,as :'Task'}
			#{if !Task.deleted}
			<div name="/storys/magicShow?taskId=${Task.id}">S${Task.taskStory.number} ${Task.description}<div class="item_imgs">#{if connected.in(project).can('editTask')}<a onclick="javascript:overlayOpen('/admin/tasks/${Task.id}')"><img title="Edit" src="@{'/public/images/famfam/pencil.png'}"></a>#{/if}#{if connected.in(project).can('deleteTask')}<a onclick="javascript:deleteTheTask(${Task.id},this);"><img title="Delete" src="@{'/public/images/famfam/delete.png'}"></a>#{/if}</div></div>
			#{/if}
		#{/list}
	#{/if}
		
		#{if task1!=null}
			#{if connected.in(project).can('editTask')}
				<a href="javascript:overlayOpen('/admin/tasks/${task1.id}')"><img src="@{'/public/images/famfam/pencil.png'}"></a><br>
			#{/if}
		<br>
		${task1.description}
		<br>
		<br>
		<b>Assignee</b>
		${task1.assignee.name}
		<br>
		<b>Reviewer</b>
		${task1.reviewer.name}
		<br>
		<b>Estimation Points</b>
		${task1.estimationPoints}
		<br>
		<b>Task Status</b>
		${task1.taskStatus.name}
		<br>
		<b>Task Type</b>
		${task1.taskType.name}
		#{/if}
		
		#{if stories !=null}
		#{list items:stories ,as :'Story'}
			#{if Story.uncategorized}
				#{list items:Story.storiesTask ,as :'Task'}
				<div name="/storys/magicShow?taskId=${Task.id}">T${Task.number} ${Task.description}</div>
				#{/list}
			#{/if}
			#{else}
			<div name="/storys/viewStory?storyId=${Story.id}">Story: ${Story.number}</div>
			#{/else}		
		#{/list}
		#{/if}
#{set 'moreScripts'}
<script type="text/javascript">
function deleteTheTask(tId, box){
	$.post('@{Tasks.delete()}', {id:tId}, function(data){ $.bar({message:data}
	);
	removeMe(box);
	;});
}
</script>
#{/set}