#{extends 'magicBox.html' /}
#{set 'title'}Story: ${story.number}<a href="javascript:overlayOpen('/admin/storys/${story.id}')"><img src="@{'/public/images/famfam/pencil.png'}"></a><a href="javascript:overlayOpen('/storys/editScenario?id=${story.id}')"><img src="@{'/public/images/editsce.gif'}"></a>#{/set}
#{if connected.in(project).can('editStory')}
	${story.description}<br>
	<b>Success Scenarios</b><br>
	#{list items:success, as:'suc'}
		${suc}<br>
	#{/list}
	<br><b>Failure Scenarios</b><br>
	#{list items:failure, as:'fail'}
		${fail}<br>
	#{/list}<br>
	#{list items:story.storiesTask, as:'task'}
		<div name="/storys/magicShow?taskId=${task.id}">S:${story.number} ${task.description}</div>
	#{/list}
#{/if}
