#{extends 'magicBox.html' /}
#{set 'title'}Story: ${story.number}#{/set}
#{if connected.in(project).can('editStory')}
<a href="javascript:overlayOpen('/admin/storys/1')"><img src="@{'/public/images/famfam/pencil.png'}"></a><br>
	${task1.description}<br>
	<b>Assignee</b>
	${task1.assignee.name}
	<br>
	<b>Reviewer</b>
	${task1.reviewer.name}
	<br>
	<b>Estimation Points</b>
		<br>${fail}
	#{/list}<br>
	#{list items:story.storiesTask, as:'task'}
		<div name="/tasks/magicshow?taskId=${task.id}">T:${task.number} ${task.description}</div>
	#{/list}
#{/if}
