#{extends 'overlay.html' /}

<h2>Edit personal information</h2>

<form action="/users/mini_profile_action" method="POST"
	enctype="multipart/form-data">
	<input type="hidden" name="userProfileId" value="${userProfile.id}">
	<div>
		#{if userProfile.avatar} <img height="100" width="100"
			src="${userProfile.avatar}" /> #{/if} #{else} <img height="100"
			width="100" src="@{'public/images/no-profile.png'}" /> #{/else}
	</div>
	<div>
		<input type="file" name="file">

		<p>
			<b>Name: </b><input type="text" name="name"
				value="${userProfile.name}">
		</p>
		<p>
			<b>Email: </b><input type="text" name="email"
				value="${userProfile.email}">
		</p>
		<p>
			<b>Mobile Number: </b><input type="text" name="mobile"
				value="${userProfile.mobileNumber}">
		</p>
		<input type="submit" value="Save" />
	</div>
	<br style="clear: both" />
</form>
