#{extends 'overlay.html' /}

 <h2>Edit personal information</h2>
 <div class="left">
   #{if userProfile.avatar !=""} 
     <img src="${userProfile.avatar}"/> 
   #{/if}
   #{else} 
     <img src="@{'public/images/no-profile.png'}"/> 
   #{/else}
 </div>
 <form action="/users/miniprofileaction">
 <input type="hidden"name="userProfileId" value="${userProfile.id}">
 <div class="left" style="padding:15px 10px">
   <p><b>Name: </b><input type = "text" name="name" value="${userProfile.name}"></p>
   <p><b>Email: </b><input type = "text" name="email" value="${userProfile.email}"></p>
   <input type="submit" value="Save" />
 </div>
 <br style="clear:both"/>
 </form>
