#{extends 'magicBox.html' /}	
	#{set 'title'}
	${meeting.name} Attendees.
	#{/set}
	
	#{if (attendance.isEmpty()) }
	#{note} No Attendees #{/note}
	#{/if}
	
	#{list items:attendance, as:'attendance'}
	
	<div class="${attendance.status.equals("confirmed") ? 'greenBg' : attendance.status.equals("declined") ? 'redBg':'yellowBg'} bar">
	${attendance.user.name} &nbsp
	#{if attendance.status.equals("confirmed")}
	 (attend${(attendance.meeting.endTime>new Date().getTime())?'ing':'ed'})
	#{/if}
	#{if attendance.status.equals("waiting")}
	 (${(attendance.meeting.endTime>new Date().getTime())?'awaiting reply':'did not reply'})
	#{/if}
	#{if attendance.status.equals("declined")}
	 (${(attendance.meeting.endTime>new Date().getTime())?'not attending':'did not attend'})
	#{/if}
	#{if attendance.meeting.endTime < new Date().getTime()}
	#{if connected.in(attendance.meeting.project).can('setMeetingAttendance') || connected.equals(attendance.meeting.creator)}
	<a onclick="set_didnot_attend(${attendance.id})" title="change the attendance to:did not attend"><img src="@{'/public/images/famfam/application_delete.png'}"></img></a>
	<a onclick="set_attended(${attendance.id})" title="change the attendance to :attended"><img src="@{'/public/images/famfam/application_add.png'}"></img></a>
	#{/if}
	#{/if}
	#{if (attendance.reason!=null) &&(!attendance.reason.equals(""))}
	<img src="@{'/public/images/famfam/information.png'}" title="reason: ${attendance.reason}">
	#{/if} 
	</div>
	#{/list}
