#{extends 'main.html' /}
#{set title: 'Showing meeting :' + meeting.name /}

#{set 'crumbs'}
<li><a href="/show/projects">Projects</a></li>
<li><a href="/show/project?id=${meeting.project.id}">${meeting.project.name}</a></li>
<li><a href="/projects/${meeting.project.id}/meetings"> Meetings and Events</a> </li>


#{/set}

#{set 'moreLinks'}
#{secure.check 'canEditMeeting'}
<a href="@{associations(meeting.id)}">Manage Associations</a>
<br>
#{/secure.check}

#{if meeting.snapshot!=null }
<a href="@{Snapshots.loadsnapShot(meeting.snapshot.id)} " >View associated Snapshot</a>
#{/if}
<br>
#{secure.check 'canDeleteMeeting' }
<a href = "#"  name="deleteMeeting" onclick="delete_meeting(${meeting.id}, ${meeting.project.id})"  >Delete this meeting</a>
#{/secure.check}
#{/set}

<script type="text/javascript"> 
	$(function() {
		$("#accordion").accordion({
			collapsible: true
		});
	});


	
	</script> 

<h3>${meeting.name}</h3>

<br/>

${meeting.description}
<br> <br>

<b> Starts  at</b> :   <span class="formatTime">${meeting.startTime}</span> 
<br> <br>
<b> Ends at</b> :  <span class="formatTime">${meeting.endTime}</span> 
<br> <br>
<b> Location </b>:   ${meeting.location} 
<br> <br>
<b> Meeting Type </b>:  ${meeting.type} 
<br> <br>


<div id="accordion"> 
	<h6> <a href="#">Meeting Attendees</a> </h6>  
	<div style=> 
		<br>
#{list items:attendees, as:'user'}
	#{if !user.deleted }
	<li>
		<a href="@{Show.user(user.user.id)}">${user.user.name}</a>
		 #{if user.status.equals("confirmed")}
		 <span style="font-style: italic; font-size :85%; color:green;" >${user.status} </span>
		 #{/if}
		 #{if user.status.equals("waiting")}
		 <span style="font-style: italic; font-size :85%; color:blue;" > awaiting reply </span>
		 #{/if}
		 #{if user.status.equals("declined")}
		 <span style="font-style: italic; font-size :85%; color:red;" >${user.status} </span>
		 <a href="#" onclick="reason('span_${user.reason}');"> ?</a>
		    <span id="span_${user.reason}" style="display: none; ">
		     ${user.reason}
		      </span>
		 #{/if}
		 <br>
	</li> 
	#{/if}
#{/list}
   
	</div> 
	
	 <h6> <a href="#">Associated Artifacts</a> </h6> 
	<div> 
		#{list items:meeting.artifacts, as:'artifact'}
		#{if !artifact.deleted }
	<li>
		${artifact.description}
	</li> 
	#{/if}
#{/list}
	</div> 
	
	<h6> <a href="#">Associated Tasks</a> </h6>
	<div> 
		#{list items:meeting.tasks, as:'task'}
		#{if !task.deleted }
		 <a href="@{Tasks.getReport(task.id)}">${task.description}</a>
		 <br />
	#{/if}
#{/list}
	</div> 
	<h6><a href="#">Associated Components </a></h6>
	<div> 
		#{list items:meeting.components, as:'component'}
		#{if !component.deleted }
	<li>
		<a href="@{Application.viewComponent(component.id)}">${component.name}</a>
		
	</li> 
	#{/if}
#{/list} 
	</div> 
	
	#{if noteFlag}
	<h6><a href="#">Add Note </a></h6>
	<div> 
		<textarea id="note"></textarea>
		<input type="button" value="Add"onclick="add_note(${meeting.id})"></button>
	</div> 
	#{/if}
</div> 


<br>
<br>




<br>
<br>





<script type="text/javascript">
function delete_meeting(id, pId)
{
	var confirmation= confirm("Are you sure you want to delete this meeting ?");
	
	if (confirmation) {
		$.post('@{deleteMeeting()}', {
			id:id
		}, function(){
			window.location = "/projects/${meeting.project.id}/meetings"
		});
	}
	else
		window.location = "/projects/${meeting.project.id}/meetings"
	return true
	;		
}




function reason(id) {
    var e = document.getElementById(id);
    if(e.style.display == 'block')
       e.style.display = 'none';
    else
       e.style.display = 'block';

}

function add_note(id)
{
	 var note= $('#note').val();
	 $.post('@{addNote()}',
			 {id:id , note:note}, function(){
					window.location.reload();
				});
	 return true;
}

</script>




