#{extends 'magicBox.html' /}	
	#{set 'title'}
	Meetings (${project.meetings.size()})
	#{if connected.in(project).can('addMeeting') }
	<a href="javascript:overlayOpen('/admin/projects/${id}/meetings/new');"><img title="add" src="@{'/public/images/famfam/add.png'}"></a>
	#{/if}
	#{/set}
	
	<b>My invitations:</b>
	#{if invitations.size>0}
	#{list items:invitations, as:'invitation'}
	<br/>
	<span id="inv_${invitation.meeting.id}" >
	
		<b>${invitation.meeting.name}  :</b>
		<br>
		<a onclick="confirm_me(${invitation.meeting.id})"><img  title="accept" src="@{'/public/images/famfam/application_add.png'}"></img></a>
		&nbsp&nbsp<a onclick="decline_me(${invitation.meeting.id})" ><img title="decline" src="@{'/public/images/famfam/application_delete.png'}"></img></a>
		
	</span>
	#{/list}
	#{/if}
	#{else}
	#{note}Currently there are no invitations.#{/note}
	#{/else}

	#{if empty}
	#{note}Currently there are no meetings #{/note}
	#{/if}
	#{list items:projectMeetings, as:'current'}
		
		<div class="${current.getStatus().equals("current") ? 'greenBg' : current.getStatus().equals("upComing") ? 'yellowBg' : 'redBg'} reload-meeting-${current.id}" name="/meetings/viewmeeting?id=${current.id}">
		${current.name}
		#{if current.getStatus().equals("upComing")}
		<span id="curr_${current.id}" style="float: left; font-style: italic; font-size :85%;"></span>
		<script type="text/javascript">
		showDate(${current.id},${current.startTime},'${current.name}');
		</script>
		#{/if}
		#{if (connected.in(current.project).can('deleteMeeting') ||connected.equals(current.creator)) } 
		<a onclick="javascript:delete_meeting(${current.id});"><img title="Delete" src="@{'/public/images/famfam/delete.png'}"></a>
		#{/if}
		#{if (!current.getStatus().equals("upComing"))&&(connected.in(current.project).can('editMeeting') ||connected.equals(current.creator)) }
		<img title="edit" class = "dim" src="@{'/public/images/famfam/pencil.png'}">
		#{/if} 
		#{if (current.getStatus().equals("upComing"))&&(connected.in(current.project).can('editMeeting') ||connected.equals(current.creator)) }
		<a href="javascript:overlayOpen('/admin/meetings/${current.id}');" ><img title="edit"  src="@{'/public/images/famfam/pencil.png'}"></a>
		#{/if} 
		#{if (current.endTime > new Date().getTime()) && (connected.in(current.project).can('manageMeetingAssociations') ||connceted.equals(current.creator)) }
		#{drop 'meeting-' + current.id /}
		#{/if}
		
		
		#{if (current.snapshot!=null)}
		<a href="javascript:overlayOpen('/Snapshots/loadsnapShot?id=${current.snapshot.id}');" >
		<img title="View Associated Snapshot" src="@{'/public/images/famfam/camera_go.png'}"></a>
		#{/if}
		
		
		#{if (connected.meetingStatus(current.id).equals("confirmed"))}
		<img src="@{'/public/images/famfam/accept.png'}" title="you ${past ? 'attended':'are attending'} this meeting"></img>
		#{/if}
		#{if (connected.meetingStatus(current.id).equals("declined"))}
		<img src="@{'/public/images/famfam/exclamation.png'}"} title="you ${past ? 'did not attend':'are not attending'} this meeting"></img>
		#{/if}
		#{if current.endTime> new Date().getTime()}
		#{if (connected.meetingStatus(current.id).equals("waiting")) }
		<span id="acceptMeetings_${current.id}" style="display:block"><a onClick="javascript:confirm_me(${current.id});" title="accept invitation"><img src="@{'/public/images/famfam/application_add.png'}"></a></span>
		<span id="declineMeetings_${current.id}" style="display:block"><a onClick="javascript:decline_me(${current.id});" title="decline invitation"><img src="@{'/public/images/famfam/application_delete.png'}"></a></span>
		<span id="confirmedMeetings_${current.id}" style="display:none"><img src="@{'/public/images/famfam/accept.png'}" title="you are attending this meeting"></img></span>
		<span id="declinedMeetings_${current.id}" style="display:none"><img src="@{'/public/images/famfam/exclamation.png'}"} title="you are not attending this meeting"></img></span>
		#{/if}
		#{if (connected.meetingStatus(current.id).equals("notInvited"))}
		#{if connected.in(current.project).can('joinMeeting')}
		<span id="acceptsMeetings_${current.id}" style="display:block;"><a href="#" onClick="javascript:join_meeting(${current.id})"title="join meeting"><img src="@{'/public/images/famfam/go.png'}"></img></a></span>
		<span id="confirmeddMeetings_${current.id}" style="display:none;"><img src="@{'/public/images/famfam/accept.png'}" title="you are attending this meeting"></img></span>
		#{/if}
		#{/if}
		#{/if}	
		</div>
		
	#{/list}

	
<script type="text/javascript" charset="utf-8"> 
// CONFIGURE THE COUNTDOWN SCRIPT HERE

function showDate(id,startTime,naame) 
{
var date=startTime;
var tz =0;         //  
var lab = 'curr_'+id;    //  The id of the page entry where the timezone countdown is to show
displayTZCountDown(setTZCountDown(date,tz),lab,id,naame);
}
function setTZCountDown(date,tz) 
{
	var toDate=new Date(date);
	var fromDate = new Date();
	fromDate.setMinutes(fromDate.getMinutes());
	var diffDate = new Date(0);
	diffDate.setMilliseconds(toDate - fromDate);
	return Math.floor(diffDate.valueOf()/1000);
}
function displayTZCountDown(countdown,tzcd,id,naame) 
{
	if (countdown<0 )  
	{
		reload('meetings-'+id);
		
	}

	else 
	{
		var secs = countdown % 60; 
		if (secs < 10) secs = '0'+secs;
		var countdown1 = (countdown - secs) / 60;
		var mins = countdown1 % 60; 
		if (mins < 10) mins = '0'+mins;
		countdown1 = (countdown1 - mins) / 60;
		var hours = countdown1 % 24;
		var days = (countdown1 - hours) / 24;

		if(mins=='05' && secs=='00')
		{
			alert("5 minutes remaining on the meeting "+naame);
		}

		if(days>7)
		{
			document.getElementById(tzcd).innerHTML = "["+days/7 + " W]"
		}
		else
		{
			if(days<=7 && days >0)
			{
				document.getElementById(tzcd).innerHTML = "["+days + " D" + (days == 1 ? '' : 's') + ' : ' +hours+ ' H]'
			}
			else
			{
				if(hours>0)
				document.getElementById(tzcd).innerHTML = "["+hours + " H : " + mins + " M]"
				else
					document.getElementById(tzcd).innerHTML = "["+mins + " M : " + secs + " S]"	
			}
		}
		setTimeout('displayTZCountDown('+(countdown-1)+',\''+tzcd+'\');',999);
	}
}

</script>
	







