#{extends 'magicBox.html' /}	
	#{set 'title'}
	Meetings
	#{if connected.in(project).can('addMeeting') }
	<a href="javascript:overlayOpen('/admin/projects/${id}/meetings/new');" title="add"><img src="@{'/public/images/famfam/add.png'}"></a>
	#{/if}
	#{/set}
	
	<b>My invitations:</b>
	#{if invitations.size>0}
	#{list items:invitations, as:'invitation'}
	<br/>
	<span id="inv_${invitation.meeting.id}">
	
		<b>${invitation.meeting.name}  :</b>
		<br>
		<a onclick="confirm_me(${invitation.meeting.id})" title="accept"><img src="@{'/public/images/famfam/application_add.png'}"></img></a>
		&nbsp&nbsp<a onclick="decline_me(${invitation.meeting.id})" title="decline"><img src="@{'/public/images/famfam/application_delete.png'}"></img></a>
		
	</span>
	#{/list}
	#{/if}
	#{else}
	Currently there are no invitations.
	#{/else}

	#{list items:current, as:'current'}
		#{if !current.deleted}
		<div class="greenBg" name="/meetings/viewmeeting?id=${current.id}">${current.name}#{if (current.startTime > new Date().getTime()) && (connected.in(current.project).can('editMeeting') ||connceted.equals(current.creator)) }<a href="javascript:overlayOpen('/admin/meetings/${current.id}');" title="edit"><img src="@{'/public/images/famfam/pencil.png'}"></a>#{/if}#{if (current.startTime < new Date().getTime()) && ((connected.in(current.project).can('editMeeting') ||connceted.equals(meeting.creator))) }<img class="dim" title="edit" src="@{'/public/images/famfam/pencil.png'}">#{/if}#{if (connected.in(current.project).can('deleteMeeting') ||connceted.equals(current.creator)) } <a onclick="javascript:delete_meeting(${current.id},this);"><img title="Delete" src="@{'/public/images/famfam/delete.png'}"></a>#{/if}</div>
		#{/if}
	#{/list}
	#{list items:upcoming, as:'current'}
		#{if !current.deleted}
		<div class="yellowBg" name="/meetings/viewmeeting?id=${current.id}">${current.name}#{if (current.startTime > new Date().getTime()) && (connected.in(current.project).can('editMeeting') ||connceted.equals(current.creator)) }<a href="javascript:overlayOpen('/admin/meetings/${current.id}');" title="edit"><img src="@{'/public/images/famfam/pencil.png'}"></a>#{/if}#{if (current.startTime < new Date().getTime()) && ((connected.in(current.project).can('editMeeting') ||connceted.equals(meeting.creator))) }<img class="dim" title="edit" src="@{'/public/images/famfam/pencil.png'}">#{/if}#{if (connected.in(current.project).can('deleteMeeting') ||connceted.equals(current.creator)) } <a onclick="javascript:delete_meeting(${current.id},this);"><img title="Delete" src="@{'/public/images/famfam/delete.png'}"></a>#{/if}</div>
		#{/if}
	#{/list}
	#{list items:past, as:'current'}
		#{if !current.deleted}
		<div class="redBg" name="/meetings/viewmeeting?id=${current.id}">${current.name}#{if (current.startTime > new Date().getTime()) && (connected.in(current.project).can('editMeeting') ||connceted.equals(current.creator)) }<a href="javascript:overlayOpen('/admin/meetings/${current.id}');" title="edit"><img src="@{'/public/images/famfam/pencil.png'}"></a>#{/if}#{if (current.startTime < new Date().getTime()) && ((connected.in(current.project).can('editMeeting') ||connceted.equals(meeting.creator))) }<img class="dim" title="edit" src="@{'/public/images/famfam/pencil.png'}">#{/if}#{if (connected.in(current.project).can('deleteMeeting') ||connceted.equals(current.creator)) } <a onclick="javascript:delete_meeting(${current.id},this);"><img title="Delete" src="@{'/public/images/famfam/delete.png'}"></a>#{/if}</div>
		#{/if}
	#{/list}
	
	
	







