#{extends 'main.html' /}
#{set title:'Password Recovery' /}

<div id="login">
	
	<form method="post" action="@{Security.recoverPassword()}">
	<b>Please enter a new password:</b>
	<br>
	<input type="password" name="pass1" id="pass1" onKeyUp="checkPasses()" />
	<br>
	<b>Please verify the password:</b>
	<br>
	<input type="password" name="pass2" id="pass2" onKeyUp="checkPasses()"/>
	<br>
	<span id="match" style="color:green ; display:none">Passwords Match<br></span>
	<input type="hidden" name="username" value="${user.name}"/>
	<input type="submit"  id="key" value="submit"  />
	</form>
</div>

<script type="text/javascript">

function checkPasses()
{
	var p1=$('#pass1').val();
	var p2=$('#pass2').val();

	if(p1=="" || p2=="")
	{
		$('#key').attr('disabled', true);
		$('#match').hide();

	}
	else
	if(p1!=p2)
	{
		$('#key').attr('disabled', true);
		$('#match').hide();

	}
	else
	if(p1=p2)
	{
		$('#key').removeAttr('disabled');
		$('#match').show();
	}
}

</script>

