#{extends 'overlay.html' /} #{set title:'Sprint Backlog' /} 
#{ifnot tasks}
<div id="NOTE"style="padding: 10px 10px 10px 10px" class="ui-state-highlight ui-corner-all"> 
	<span style="float: left; margin-right: 0.3em;" class="ui-icon ui-icon-info"></span>
	<strong>NOTE: </strong>There isn't enough data to display</div>
#{/ifnot}
#{else}
#{set 'moreStyles'}
<style type="text/css">
thead
{
cursor:move;
}
</style>
#{/set}
#{set 'moreScripts'}
<script language="javascript" type="text/javascript"src="@{'/public/javascripts/jeditable-mod.js'}"></script>
<script  type="text/javascript" src="@{'/public/javascripts/dragtablenorm.js/'}" ></script>
<script  type="text/javascript" src="@{'/public/javascripts/sorttable.js/'}" ></script>
<script type="text/javascript">
function hideOrShow(c)
{
	$('.'+c).toggle();
}
#{if connected.in(project).can('editBacklog') || connected.isAdmin}

function changeT (id,id2)
{
	$.post('@{Tasks.editTaskType()}',{id:id,typeId:id2,userId:'${connected.id}'});
}
function changeS (id,id2)
{
	$.post('@{Tasks.changeTaskStatus()}',{id:id,statusId:id2});
}
function changeA (id,id2)
{
	$.post('@{Tasks.assignTaskAssignee()}',{taskId:id,assigneeId:id2});
}
function changeR (id,id2)
{
	$.post('@{Tasks.assignTaskReviewer()}',{taskId:id,reviewerId:id2});
}
$(function() 
{	
	$(".enterEffort").each(function()
	{
		if($(this).html()!='')
			$(this).html(parseInt($(this).html()));
	});

	$(".editPOINTS").each(function()
	{
		if($(this).html()!='')
			$(this).html(parseInt($(this).html()));
	});

    $('.enterEffort').editable(
    function(value)
    {
        var theId 		= $('#lolid').closest("td").attr("id");
        var splitted 	= theId.split("_");
        var taskId 		= parseInt(splitted[1]);
        var dayId 		= parseInt(splitted[2])-1;
    	var points 		= parseInt(value);
	
    	$.post('@{Tasks.enterEffort()}',{id:taskId,effort:points,day:dayId},function(ret) 
        {
			parent_message_bar(ret);
	    });            	
        return(value);      
    },
    {    
        indicator : 'Saving...',
    });

    $('.editDES').editable(
    	    function(value)
    	    {
    	        var taskId 	= parseInt($('#lolid').closest("td").attr("id"));
    	       
    	        $.post('@{Tasks.editTaskDesc()}',{id:taskId, desc:value});

        	    return(value);
    	        
    	    },
    	    {    
    	        indicator : 'Saving...',
    	       
    	    });
    
    
    $('.editPOINTS').editable(
    	    function(value)
    	    {
    	        var theId 		= $('#lolid').closest("td").attr("id");
    	        var splitted 	= theId.split("_");
    	        var taskId 		= parseInt(splitted[0]);
    	    	var points 		= parseInt(value);
    	        
    	    		$.post('@{Tasks.editTaskEstimation()}',{id:taskId,estimation:points}, function(ret) 
    	    	    {
						parent_message_bar(ret);
    	    		});
					return(value);  
    	    	      
    	    },
    	    {    
    	        indicator : 'Saving...',
    	       
    	    });

});
#{/if}
</script>

#{/set}
<div id="sprint">

<h1 style="float:left">#{if componentID==0}Sprint ${sNum}: ${project.name}'s Backlog#{/if}#{else}Sprint ${sNum}: ${cs}'s Backlog#{/else}</h1>
<div style="float:right;width:200px;">
<div class="allCornersRounded" style="background:#333;padding:15px;border-width:10px 10px 0;color:#eee">	
Show/Hide:

		<select id="hideshow"name="list">
        	<option onclick="hideOrShow('shDes');">Description</option> 
        	<option onclick="hideOrShow('shReviewer');">Reviewer</option> 
        	<option onclick="hideOrShow('shAssignee');">Assignee</option> 
        	<option onclick="hideOrShow('shType');">Type</option> 
        	<option onclick="hideOrShow('shStatus');">Status</option> 
        	<option onclick="hideOrShow('shPoints');">Points</option> 
        	<option onclick="hideOrShow('shEfforts');">Efforts</option> 
		</select>

</div>
<div class="notchBottom" style="border-top-color:#333"></div>
</div>
<br style="clear:both"/>
<table id="sprintTable" class="draggable sortable">
	<thead>
	<tr>
		<td>ID</td>
		<td class="shDes">Description</td>
		<td class="shType">Type</td>
		<td class="shStatus">Status</td>
		<td class="shAssignee">Assignee</td>
		<td class="shReviewer">Reviewer</td>
		<td class="shPoints">Total Points</td>
		#{list items:daysHeader, as:'day'}
		<td class="shEfforts">Day ${day}</td>
		#{/list}
	</tr>
	</thead>
	#{list items:tasks, as:'task'}
	<tr name="@{sprintBacklog.index(componentID,id)}"id="task_${task.id}">
	
		<td>
			<a title="view the task reports?" href="@{Tasks.getReport(task.id)}">${task.number}</a>
		</td>
		
		#{ifnot connected.in(project).can('editBacklog') || connected.isAdmin || connected.id==task.assignee.id || connected.id==task.reviewer.id}
          #{ifnot task.description}
          <td class="shDes">No Description stated</td>
          #{/ifnot}
          #{else}
		<td class="shDes">${task.description}</td>
          #{/else}
          
          #{ifnot task.taskType}
          <td class="shType">No Type stated</td>
          #{/ifnot}
          #{else}
          <td class="shType">${task.taskType.name}</td>
          #{/else}
          
           #{ifnot task.taskStatus}
          <td class="shStatus">No Status stated</td>
          #{/ifnot}
          #{else}
          <td class="shStatus">${task.taskStatus.name}</td>
          #{/else}
        
          #{ifnot task.assignee}
          <td class="shAssignee">No assignee stated</td>
          #{/ifnot}
          #{else}
          <td class="shAssignee">${task.assignee.name}</td>
          #{/else}
        
         #{ifnot task.reviewer}
          <td class="shReviewer">No reviewer stated</td>
          #{/ifnot}
          #{else}
          <td class="shReviewer">${task.reviewer.name}</td>
          #{/else}
        
         #{ifnot task.estimationPoints}
          <td class="shPoints">&nbsp;</td>
          #{/ifnot}
          #{else}
          <td class="shPoints">${task.estimationPoints}</td>
          #{/else}
        
        <!--@author Hadeer Younis C4 S8-->
        #{list items:daysHeader, as:'day'}
		<td class="shEfforts"style="text-align: center" id="${day}_${task.id}_${task.estimationPoints}" >
		#{if task.getEffortPerDay(day-1)==-1.0}&nbsp;
		#{/if} #{else} ${task.getEffortPerDay(day-1)} #{/else}</td>
		#{/list}
	
        
        #{/ifnot}
      
            
      
        #{else}
		#{ifnot task.description}
		<td class="shDes"><span id="${task.id}" class="editDES">No description stated
		</span></td>
		#{/ifnot} #{else}
		<td class="editDES shDes" title="edit the description?" id="${task.id}">${task.description}</td>
		#{/else} 
		
		<td id="${task.id}" class="editTYPE shType">
			#{if connected.in(project).can('changeTaskType')|| connected.id==task.assignee.id}
		<form>
			
			<select id="t_${task.id}_t"onchange="changeT(${task.id},parseInt($('#t_${task.id}_t option:selected').val()));">
       		#{list items:types, as:'type'}
       		#{if type.name==task.taskType.name}
       		<option selected="selected" value="${type.id}">${type.name}</option>
       		#{/if}
       		#{else}
       		#{ifnot task.taskType.name}
       		<option value="${type.id}">---</option>
       		#{/ifnot}
       		#{else}
       		<option value="${type.id}">${type.name}</option>
       		#{/else}
       		#{/else}
       		#{/list}
			</select>
		</form> 
	    #{/if}
	    #{else}
	    #{ifnot task.taskType}
	    not set
	    #{/ifnot}
	    #{else}
	    ${task.taskType.name}
	    #{/else}
	    #{/else}
</td>

		<td id="${task.id}" class="editStatus shStatus">
		#{if connected.in(project).can('changeTaskStatus') ||connected.id==task.reviewer.id || connected.id==task.assignee.id}
		<form>
			<select id="t_${task.id}_s"onchange="changeS(${task.id},parseInt($('#t_${task.id}_s option:selected').val()));">
       		#{list items:statuses, as:'type'}
       		#{if type.name==task.taskStatus.name}
       		<option selected="selected" value="${type.id}">${type.name}</option>
       		#{/if}
       		#{else}
       		#{ifnot task.taskStatus.name}
       		<option value="${type.id}">---</option>
       		#{/ifnot}
       		#{else}
       		<option value="${type.id}">${type.name}</option>
       		#{/else}
       		#{/else}
       		#{/list}
			</select>
		</form> 
	    #{/if}
	    #{else}
	    #{ifnot task.taskType}
	    not set
	    #{/ifnot}
	    #{else}
	    ${task.taskType.name}
	    #{/else}
	    #{/else}
		</td>

		
		
		<td id="${task.id}_assigneee" class="editASSI shAssignee">
			#{if connected.in(project).can('changeTaskAssignee') || connected.id==task.assignee.id}
		<form>
			<select id="t_${task.id}_a"onchange="changeA(${task.id},parseInt($('#t_${task.id}_a option:selected').val()));">
       		#{list items:task.getAssigneeOrReviewer(true), as:'a'}
       		#{if a.id==task.assignee.id}
       		<option selected="selected" value="${a.id}">${a.getDisplayName().raw()}</option>
       		#{/if}
       		#{else}
       		#{ifnot task.assignee}
       		<option value="${a.id}">---</option>
       		#{/ifnot}
       		#{else}
       		<option value="${a.id}">${a.getDisplayName().raw()}</option>
       		#{/else}
       		#{/else}
       		#{/list}
			</select>
		</form> 
	    #{/if}
	    #{else}
	    #{ifnot task.assignee}
	    not set
	    #{/ifnot}
	    #{else}
	    ${a.getDisplayName().raw()}
	    #{/else}
	    #{/else}

		</td>
		<td id="${task.id}" class="editREV shReviewer">
					#{if connected.in(project).can('changeTaskReviewer') || connected.id==task.assignee.id}
		<form>
			<select id="t_${task.id}_r"onchange="changeR(${task.id},parseInt($('#t_${task.id}_r option:selected').val()));">
       		#{list items:task.getAssigneeOrReviewer(false), as:'a'}
       		#{if a.id==task.reviewer.id}
       		<option selected="selected" value="${a.id}">${a.getDisplayName().raw()}</option>
       		#{/if}
       		#{else}
       		#{ifnot task.reviewer}
       		<option value="${a.id}">---</option>
       		#{/ifnot}
       		#{else}
       		<option value="${a.id}">${a.getDisplayName().raw()}</option>
       		#{/else}
       		#{/else}
       		#{/list}
			</select>
		</form> 
	    #{/if}
	    #{else}
	    #{ifnot task.reviewer}
	    not set
	    #{/ifnot}
	    #{else}
	    ${a.getDisplayName().raw()}
	    #{/else}
	    #{/else}
		</td>
 
		
		#{ifnot task.estimationPoints}
		<td id="${task.id}" class="editPOINTS shPoints">No points 
		</td>
		#{/ifnot}
		 #{else}
		<td id="${task.id}_${task.estimationPoints}" title="edit the estimationpoints?"
			class="editPOINTS shPoints" style="text-align: center">${task.estimationPoints}</td>
		#{/else}

		<!--@author Hadeer Younis C4 S8-->
		#{list items:daysHeader, as:'day'}
		<td style="text-align: center"id="EF_${task.id}_${day}_${task.estimationPoints}_${task.getEffortPerDay(day-1)}" class="enterEffort shEfforts">
		#{if task.getEffortPerDay(day-1)==-1.0}$nbsp;
		#{/if} #{else} ${task.getEffortPerDay(day-1)} #{/else}</td>
		#{/list}
		#{/else}
	</tr>

	#{/list}
</table>
</div>
#{/else}